agente-financeiro-CEZBQIZfbNWlI241.json
{"createdAt":"2025-09-19T23:43:43.266Z","updatedAt":"2025-10-14T18:12:08.150Z","id":"CEZBQIZfbNWlI241","name":"Agente financeiro","active":false,"isArchived":false,"nodes":[{"parameters":{"promptType":"define","text":"={{ $json.message }}","options":{"systemMessage":"=<instruções>\n\nAtue como um Assistente Financeiro, especializado no gerenciamento de registros de gastos dentro do Supabase. Sua principal função é ajudar o usuário a visualizar, adicionar, atualizar, deletar e somar despesas de forma eficiente.\n\nSempre que o usuário solicitar, ative a ferramenta apropriada para realizar a ação desejada. Siga as instruções abaixo cuidadosamente para garantir precisão e clareza na execução das tarefas.\n\nFuncionalidades Disponíveis\n\n1. Visualizar Gastos (tool_visualizar_gastos)\nQuando ativada, exibe os registros de gastos cadastrados, incluindo:\n✅ Nome do gasto\n✅ Tipo de gasto\n✅ Valor do gasto\n\nRegras de Ativação:\nPergunte ao  usuário se ele quer filtrar os resultados por tipo de gasto ou período.\n\n2. Adicionar Gasto (tool_criar_gasto)\nEssa ferramenta cria um novo registro de gastos na tabela do Supabase.\n\nParâmetros obrigatórios para ativação:\n🔹 nome_gasto: Nome do gasto.\n🔹 valor_gasto: Valor do gasto.\n🔹 tipo_gasto: Classificação do gasto dentro das 6 categorias disponíveis:\n\nMercado\n\nDiversão\n\nComida\n\nEducação\n\nAssinatura\n\nTransporte\n\nRegras de Ativação:\nCaso o usuário não informe o tipo de gasto, você deve classificá-lo automaticamente com base no contexto da mensagem.\n\nAntes de cadastrar o gasto, confirme os detalhes com o usuário e peça a aprovação final antes de chamar a ferramenta.\n\n\n3. Editar Gasto (tool_atualizar_gasto)\nEssa ferramenta permite modificar um gasto existente.\n\nPasso a Passo para ativação:\n1️⃣ Pergunte qual gasto o usuário deseja editar (nome exato).\n2️⃣ Para evitar erros, ative primeiro a ferramenta tool_visualizar_gastos para confirmar a existência do registro.\n3️⃣ Confirme com o usuário qual gasto ele deseja modificar antes de prosseguir.\n4️⃣ Após obter o nome correto, permita que o usuário especifique as alterações desejadas (nome, valor ou tipo).\n5️⃣ Realize a atualização e exiba as informações do gasto atualizado para garantir transparência.\n\n\n4. Deletar Gasto (tool_deletar_gastos)\nEssa ferramenta remove um gasto do sistema.\n\nPasso a Passo para ativação:\n1️⃣ Pergunte qual gasto o usuário deseja deletar (nome exato).\n2️⃣ Para evitar exclusões erradas, ative primeiro a ferramenta tool_visualizar_gastos para confirmar a existência do registro.\n3️⃣ Confirme com o usuário antes de executar a exclusão.\n4️⃣ Após confirmação, delete o gasto e informe que a remoção foi concluída.\n\n5. Somar Gastos (tool_somar_gastos)\nEssa ferramenta calcula o total dos gastos cadastrados pelo usuário.\n\nRegras de Ativação:\nSe o usuário quiser calcular os gastos de um período específico ou por tipo, pergunte os critérios antes de somar.\n\nCaso não haja filtros, some todos os gastos registrados e exiba o valor total.\n\nRegras Gerais:\nSe o usuário pedir algo ambíguo, peça mais detalhes antes de ativar qualquer ferramenta.\n\nSempre confirme ações críticas como adicionar, editar ou excluir gastos antes de executá-las.\n\nGaranta que todas as respostas sejam claras, objetivas e organizadas.\n\ne voce vai sempre formartar as mensagens para serem enviadas para o padrao que o TELEGRAM aceite.\n\n</instruções>\n\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.8,"position":[-288,-192],"id":"75935006-616d-4b00-b372-4589a45a914c","name":"AI Agent"},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('Separa dados').item.json.id_contato }}"},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[-176,32],"id":"fb3c82ae-96e8-4490-ba8b-4e979008dd7d","name":"Simple Memory"},{"parameters":{"operation":"getAll","tableId":"Gastos","returnAll":true},"type":"n8n-nodes-base.supabaseTool","typeVersion":1,"position":[-16,32],"id":"67448481-8fc5-4a57-8634-10fb28b121a2","name":"tool_visualizar_gastos","credentials":{"supabaseApi":{"id":"9R984C7cTbVMCMfG","name":"Supabase account"}}},{"parameters":{"tableId":"Gastos","fieldsUi":{"fieldValues":[{"fieldId":"Nome","fieldValue":"={{ $fromAI(\"nome_gasto\") }}"},{"fieldId":"Valor","fieldValue":"={{ $fromAI(\"valor_gasto\") }}"},{"fieldId":"Tipo","fieldValue":"={{ $fromAI(\"tipo_gasto\") }}"}]}},"type":"n8n-nodes-base.supabaseTool","typeVersion":1,"position":[176,32],"id":"a9fe6dcb-d173-4907-b2b0-a111f6e379aa","name":"tool_criar_gasto","credentials":{"supabaseApi":{"id":"9R984C7cTbVMCMfG","name":"Supabase account"}}},{"parameters":{"operation":"update","tableId":"Gastos","filters":{"conditions":[{"keyName":"Nome","condition":"eq","keyValue":"={{ $fromAI(\"nome_gasto\") }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"Nome","fieldValue":"={{ $fromAI(\"nome_gasto\") }}"},{"fieldId":"Valor","fieldValue":"={{ $fromAI(\"valor_gasto\") }}"},{"fieldId":"Tipo","fieldValue":"={{ $fromAI(\"tipo_gasto\") }}"}]}},"type":"n8n-nodes-base.supabaseTool","typeVersion":1,"position":[368,32],"id":"9abc2b90-49fb-4717-a602-33539611147a","name":"tool_atualizar_gasto","credentials":{"supabaseApi":{"id":"9R984C7cTbVMCMfG","name":"Supabase account"}}},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.toolCalculator","typeVersion":1,"position":[768,32],"id":"965624f9-589a-44a3-a343-e2b2cff05455","name":"Calculator"},{"parameters":{"operation":"delete","tableId":"Gastos","filters":{"conditions":[{"keyName":"Nome","condition":"eq","keyValue":"={{ $fromAI(\"nome_gasto\") }}"}]}},"type":"n8n-nodes-base.supabaseTool","typeVersion":1,"position":[576,32],"id":"695318a0-6aec-4602-a829-b7785bcdb896","name":"tool_deletar_gastos","credentials":{"supabaseApi":{"id":"9R984C7cTbVMCMfG","name":"Supabase account"}}},{"parameters":{"modelName":"models/gemini-2.5-pro","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[-432,16],"id":"7bf11916-2d8f-454d-8039-f11718a5688e","name":"Google Gemini Chat Model","credentials":{"googlePalmApi":{"id":"O63hwIpz5uNbFv3E","name":"Google Gemini(PaLM) Api linkincharles6"}}},{"parameters":{"updates":["message"],"additionalFields":{}},"type":"n8n-nodes-base.telegramTrigger","typeVersion":1.2,"position":[-1792,-192],"id":"57d95e2a-8a76-4ba3-8d0d-f6146033f617","name":"Telegram Trigger","webhookId":"385b7de3-a89e-4404-92a1-0b24d0b0a343","alwaysOutputData":false,"credentials":{"telegramApi":{"id":"qRWUrzDHnPRBKdO4","name":"Redeslinkin_bot"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.mensagem_recebida }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true},"id":"10ed711b-4de3-40e5-acf9-359a2511280f"}],"combinator":"and"},"renameOutput":true,"outputKey":"Texto"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"ca868b21-e6c4-47ed-bcb1-95510603fda9","leftValue":"={{ $json.file_id }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"Audio"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-1488,-192],"id":"a9534a9e-2f9f-495a-92d4-878bea13c6ff","name":"Switch"},{"parameters":{"assignments":{"assignments":[{"id":"26e09af5-6afe-4124-bda6-e5d021332c19","name":"id_contato","value":"={{ $json.message.from.id }}","type":"string"},{"id":"ec035a7f-cff9-4214-af36-00d0c93fc7ec","name":"mensagem_recebida","value":"={{ $json.message.text }}","type":"string"},{"id":"59470ef8-61c9-4f5f-8a7d-62f5d18d9ccc","name":"nome","value":"={{ $json.message.from.first_name }} {{ $json.message.from.last_name }} ","type":"string"},{"id":"10550604-12d2-4d3c-9a0e-4c17e2bab698","name":"username","value":"={{ $json.message.from.username }}","type":"string"},{"id":"ccdc5b0b-ecee-4633-be5a-8dfacc9646d0","name":"is_bot","value":"={{ $json.message.from.is_bot }}","type":"string"},{"id":"96cfb2f6-87b1-4355-bb40-85dc5deb3026","name":"tipo_mensagem","value":"={{ $json.message.chat.type }}","type":"string"},{"id":"d74902c2-a8d5-4808-87a7-0f802696e8fa","name":"duracao_audio","value":"={{ $json.message.voice.duration }}","type":"string"},{"id":"7c552d5d-4a41-4853-ae3b-a110827310b3","name":"tipo_media","value":"={{ $json.message.voice.mime_type }}","type":"string"},{"id":"07cad5d1-87d6-4361-a1a8-c5b0f9a89bb0","name":"file_id","value":"={{ $json.message.voice.file_id }}","type":"string"},{"id":"6622fb28-6a80-4381-a70c-93b2a0d7b673","name":"tamanho_arquivo","value":"={{ $json.message.voice.file_size }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1632,-192],"id":"672d9c04-cc35-45eb-b819-01c164f681ec","name":"Separa dados"},{"parameters":{"resource":"file","fileId":"={{ $json.file_id }}","additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-1296,-80],"id":"f11d4791-c652-4f1b-b4e8-f93045a94390","name":"Get a file","webhookId":"997800b2-606e-474e-94fa-25acb146fd31","credentials":{"telegramApi":{"id":"qRWUrzDHnPRBKdO4","name":"Redeslinkin_bot"}}},{"parameters":{"assignments":{"assignments":[{"id":"4287822e-5cc4-44bd-8a93-e42726cd2571","name":"message","value":"={{ $json.mensagem_recebida }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-880,-272],"id":"61275a8d-81f3-4ab4-9801-c44450843009","name":"Set Texto"},{"parameters":{"assignments":{"assignments":[{"id":"ede7de7f-ef39-4576-83d5-b1fdee5850c8","name":"message","value":"={{ $json.candidates[0].content.parts[0].text }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-880,-80],"id":"e896df62-21f4-4ebb-8be0-5c1cafddde2f","name":"Set Audio"},{"parameters":{"resource":"audio","modelId":{"__rl":true,"value":"models/gemini-2.5-flash","mode":"list","cachedResultName":"models/gemini-2.5-flash"},"inputType":"binary","simplify":false,"options":{}},"type":"@n8n/n8n-nodes-langchain.googleGemini","typeVersion":1,"position":[-1056,-64],"id":"88069dbe-c8c1-489c-b57f-a52229087dcf","name":"Transcribe a recording","credentials":{"googlePalmApi":{"id":"O63hwIpz5uNbFv3E","name":"Google Gemini(PaLM) Api linkincharles6"}}},{"parameters":{"chatId":"={{ $('Separa dados').item.json.id_contato }}","text":"={{ $json.output }}","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[16,-208],"id":"3f314c9e-eda2-4326-b868-65fba57878bd","name":"Send a text message","webhookId":"a15c8208-17b3-4a38-8b29-b9dc00a43c2c","credentials":{"telegramApi":{"id":"qRWUrzDHnPRBKdO4","name":"Redeslinkin_bot"}}},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[224,-208],"id":"2bdd71e4-9b07-4118-ad4c-52aecdc04b8b","name":"No Operation, do nothing"}],"connections":{"Simple Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"tool_visualizar_gastos":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"tool_criar_gasto":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"tool_atualizar_gasto":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Calculator":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"tool_deletar_gastos":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Telegram Trigger":{"main":[[{"node":"Separa dados","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Set Texto","type":"main","index":0}],[{"node":"Get a file","type":"main","index":0}]]},"Separa dados":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Get a file":{"main":[[{"node":"Transcribe a recording","type":"main","index":0}]]},"Transcribe a recording":{"main":[[{"node":"Set Audio","type":"main","index":0}]]},"Set Texto":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Set Audio":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"AI Agent":{"main":[[{"node":"Send a text message","type":"main","index":0}]]},"Send a text message":{"main":[[{"node":"No Operation, do nothing","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"f96bdfed-4f09-4634-bb5c-65c4826ad82f","triggerCount":1,"shared":[{"createdAt":"2025-09-19T23:43:43.266Z","updatedAt":"2025-09-19T23:43:43.266Z","role":"workflow:owner","workflowId":"CEZBQIZfbNWlI241","projectId":"9hAKJPuMlcuGxWxS"}],"tags":[]}