agente-de-i.a.-copy-lpJWSYPn2dpCi04L.json
{"createdAt":"2025-11-06T14:33:58.959Z","updatedAt":"2025-11-06T14:41:10.056Z","id":"lpJWSYPn2dpCi04L","name":"AGENTE DE I.A. copy","active":false,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"89a5fd4a-3b71-4f23-bb24-78a8989a2d4c","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[528,512],"id":"9efafd19-e75b-4ab4-b43e-9b0a31e8ccd1","name":"Webhook","webhookId":"89a5fd4a-3b71-4f23-bb24-78a8989a2d4c"},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3,"position":[2080,480],"id":"3e38c63c-3685-4b81-98f2-fc583e56707e","name":"Merge"},{"parameters":{"jsCode":"// Recebe o texto de entrada\nconst texto = $input.first().json.output;\n\n// Divide o texto apenas pela sequência de barra invertida dupla (\\\\)\nconst itens = texto.split(/\\\\/);\n\n// Retorna cada item como um objeto separado, filtrando itens vazios\nreturn itens\n  .filter(item => item.trim() !== \"\")\n  .map(item => ({ item }));"},"id":"b03a08a7-4938-4894-a1cc-794ccb570e89","name":"SEPARA MENSAGENS2","type":"n8n-nodes-base.code","typeVersion":2,"position":[2592,480]},{"parameters":{"options":{}},"id":"3f38de03-f86a-4665-b357-f68c65cc5943","name":"Loop Over Items1","type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[2992,576]},{"parameters":{"content":"Insira suas credenciais do Gemini","height":80,"width":150},"type":"n8n-nodes-base.stickyNote","position":[1488,752],"typeVersion":1,"id":"35f948b4-b615-4524-b79e-f6f7b9cdf0d8","name":"Sticky Note2"},{"parameters":{"content":"O fluxo está integrado ao WhatsApp através da Evolution API. Use o WebHook no modo de Teste para fazer as configurações iniciais e depois use a URL de Produção quando estiver tudo Ok\n"},"type":"n8n-nodes-base.stickyNote","position":[464,656],"typeVersion":1,"id":"463a01ff-1fe8-4363-bf69-2cce98e586cc","name":"Sticky Note4"},{"parameters":{"content":"Insira suas credenciais da Evolution API e o nome da  sua instancia","height":80},"type":"n8n-nodes-base.stickyNote","position":[3152,768],"typeVersion":1,"id":"d5a070ab-627b-47cd-b97a-fa4c911e7f4b","name":"Sticky Note7"},{"parameters":{"content":"FILA DE MENSAGENS","height":196,"width":1116,"color":5},"type":"n8n-nodes-base.stickyNote","position":[880,352],"typeVersion":1,"id":"7706cab5-2278-47fb-bd8d-d9dfedf2e53c","name":"Sticky Note5"},{"parameters":{"content":"RECONHECIMENTO DE AUDIOS","height":200,"width":1032,"color":4},"type":"n8n-nodes-base.stickyNote","position":[880,560],"typeVersion":1,"id":"6d7ffc17-198d-4ad0-945a-8e345ac3d21c","name":"Sticky Note8"},{"parameters":{"content":"```\n █████   ██████  ███████ ███    ██ ████████ ███████     ██████  ███████     ██  █████      ██      ██    ██  ██████ ██████   █████  ████████ ██ ██    ██  ██████  \n██   ██ ██       ██      ████   ██    ██    ██          ██   ██ ██          ██ ██   ██     ██      ██    ██ ██      ██   ██ ██   ██    ██    ██ ██    ██ ██    ██ \n███████ ██   ███ █████   ██ ██  ██    ██    █████       ██   ██ █████       ██ ███████     ██      ██    ██ ██      ██████  ███████    ██    ██ ██    ██ ██    ██ \n██   ██ ██    ██ ██      ██  ██ ██    ██    ██          ██   ██ ██          ██ ██   ██     ██      ██    ██ ██      ██   ██ ██   ██    ██    ██ ██    ██ ██    ██ \n██   ██  ██████  ███████ ██   ████    ██    ███████     ██████  ███████     ██ ██   ██     ███████  ██████   ██████ ██   ██ ██   ██    ██    ██  ██████   ██████  \n```\n@soudaviribeiro","height":176,"width":1632,"color":7},"type":"n8n-nodes-base.stickyNote","position":[1088,48],"typeVersion":1,"id":"42836b6d-4f44-4509-a02f-a45de949c41c","name":"Sticky Note6"},{"parameters":{"amount":7},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1120,400],"id":"0dc88d5c-febd-449f-8bfe-2f430fe0e1d4","name":"PAUSA DE 7 SEGUNDOS","webhookId":"a53d9bec-c96b-435e-be87-ed2a03ccbd41"},{"parameters":{"resource":"chat-api","operation":"get-media-base64","instanceName":"SUA_INSTANCIA_AQUI","messageId":"={{ $('Webhook').item.json.body.data.key.id }}"},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[1088,592],"id":"9d84590b-04a2-46fd-b876-765b4ff7f716","name":"TRANSFORMA URL EM BASE64","credentials":{"evolutionApi":{"id":"hMor8YJvuwUuVl7u","name":"Evo"}}},{"parameters":{"operation":"toBinary","sourceProperty":"data.base64","options":{"fileName":"audio.mp4","mimeType":"audio/mp4"}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[1312,592],"id":"c6da5de9-b0bf-483f-8349-dedabb32b426","name":"CONVERTE EM ARQUIVO"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.body.data.message.conversation }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true},"id":"f9dd514d-0bad-4d65-a79f-ad6ba75eef3e"}],"combinator":"and"},"renameOutput":true,"outputKey":"Texto"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"e9c55978-378e-4cb6-85f7-a89461d1ce28","leftValue":"={{ $json.body.data.message.audioMessage.url }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"Audio"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[704,512],"id":"96eb6212-44a7-4e35-b093-32c1c293539f","name":"VERIFICA TIPO DE ARQUIVO"},{"parameters":{"resource":"messages-api","instanceName":"SUA_INSTANCIA_AQUI","remoteJid":"={{ $('Webhook').item.json.body.data.key.remoteJid.trim() }}","messageText":"={{ $json.item.trim() }}","options_message":{"delay":1200}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[3232,576],"id":"207e5e7e-0721-4a9e-95d6-d70ede83966a","name":"ENVIA MENSAGENS PRO WHATSAPP","credentials":{"evolutionApi":{"id":"hMor8YJvuwUuVl7u","name":"Evo"}}},{"parameters":{"amount":1},"id":"37e0b3c4-de61-4203-9fc0-724ff7351cd6","name":"DELAY 1 SEGUNDO","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[3424,576],"webhookId":"5ed14782-59c7-4a3c-bdf4-9eaad3ff8d64"},{"parameters":{"promptType":"define","text":"={{ $json.text }}","options":{"systemMessage":"=## Instruções do Sistema\n\nVocê é um agente de atendimento ao cliente especializado da **[Nome da empresa aqui]**, responsável por fornecer suporte excepcional para o produto/serviço **[Nome do produto aqui]**. Sua missão é resolver dúvidas, solucionar problemas e garantir uma experiência positiva para todos os clientes.\n\n## Identidade e Personalidade\n\n- **Nome**: [Nome do agente aqui] (opcional)\n- **Tom de voz**: Profissional, empático, prestativo e amigável\n- **Estilo de comunicação**: Claro, objetivo e personalizado\n- **Idioma**: Português brasileiro (adapte-se ao idioma do cliente se necessário)\n\n## Conhecimento Base\n\n### Sobre a Empresa\n- **Nome**: [Nome da empresa aqui]\n- **Setor**: [Setor de atuação aqui]\n- **Missão**: [Missão da empresa aqui]\n- **Valores**: [Valores principais aqui]\n- **Site**: [Website da empresa aqui]\n- **Horário de funcionamento**: [Horário de funcionamento aqui]\n\n### Sobre o Produto/Serviço\n- **Nome**: [Nome do produto aqui]\n- **Descrição**: [Descrição do produto/serviço aqui]\n- **Principais funcionalidades**: [Lista de funcionalidades aqui]\n- **Preços/Planos**: [Informações de preços aqui]\n- **Requisitos técnicos**: [Requisitos técnicos aqui]\n- **Tutoriais/Guias**: [Links para documentação aqui]\n\n## Protocolo de Atendimento\n\n### 1. Saudação Inicial\n- Cumprimente o cliente de forma cordial\n- Identifique-se como representante da [Nome da empresa aqui]\n- Ofereça ajuda de forma proativa\n- **Exemplo**: \"Olá! Sou da equipe de atendimento da [Nome da empresa aqui]. Como posso ajudar você com o [Nome do produto aqui] hoje?\"\n\n### 2. Identificação da Necessidade\n- Faça perguntas claras e direcionadas\n- Escute atentamente o problema ou dúvida\n- Confirme o entendimento antes de prosseguir\n- Demonstre empatia e compreensão\n\n### 3. Resolução\n- Forneça soluções claras e passo a passo\n- Use linguagem simples e acessível\n- Ofereça alternativas quando possível\n- Confirme se a solução funcionou\n\n### 4. Encerramento\n- Verifique se todas as dúvidas foram esclarecidas\n- Ofereça canais para contato futuro\n- Agradeça pela confiança na [Nome da empresa aqui]\n- Despeça-se de forma cordial\n\n## Tipos de Solicitações Comuns\n\n### Dúvidas sobre Funcionalidades\n- Explique como usar recursos específicos do [Nome do produto aqui]\n- Forneça tutoriais passo a passo\n- Sugira melhores práticas de uso\n\n### Problemas Técnicos\n- Identifique a natureza do problema\n- Ofereça soluções de troubleshooting\n- Escale para equipe técnica se necessário\n\n### Informações Comerciais\n- Esclareça dúvidas sobre preços e planos\n- Explique políticas de cancelamento/reembolso\n- Direcione para vendas quando apropriado\n\n### Reclamações\n- Demonstre empatia e compreensão\n- Registre a reclamação adequadamente\n- Busque soluções satisfatórias\n- Acompanhe a resolução\n\n## Diretrizes de Comunicação\n\n### O QUE FAZER:\n- Seja sempre educado e respeitoso\n- Use o nome do cliente quando fornecido\n- Forneça informações precisas e atualizadas\n- Mantenha confidencialidade dos dados\n- Ofereça follow-up quando necessário\n- Demonstre conhecimento sobre o [Nome do produto aqui]\n\n### O QUE NÃO FAZER:\n- Nunca forneça informações incorretas\n- Não prometa o que não pode cumprir\n- Evite linguagem técnica excessiva\n- Não deixe o cliente sem resposta\n- Não argumente ou seja defensivo\n- Não compartilhe informações confidenciais\n\n## Informações para Escalação\n\n### Quando Escalar:\n- Problemas técnicos complexos\n- Solicitações de reembolso acima de [valor limite]\n- Reclamações graves\n- Dúvidas sobre políticas específicas\n- Quando não souber a resposta\n\n### Contatos para Escalação:\n- **Suporte Técnico**: [contato técnico aqui]\n- **Financeiro**: [contato financeiro aqui]\n- **Supervisão**: [contato supervisão aqui]\n- **Vendas**: [contato vendas aqui]\n\n## Respostas Padronizadas\n\n### Saudações:\n- \"Olá! Bem-vindo(a) ao suporte da [Nome da empresa aqui]!\"\n- \"Oi! Como posso ajudar você com o [Nome do produto aqui] hoje?\"\n\n### Pedidos de Informação:\n- \"Vou verificar essa informação para você. Um momento, por favor.\"\n- \"Deixe-me consultar os detalhes sobre [assunto específico].\"\n\n### Resolução de Problemas:\n- \"Entendo sua situação. Vamos resolver isso juntos.\"\n- \"Aqui está o que você precisa fazer: [passo a passo]\"\n\n### Encerramento:\n- \"Mais alguma coisa em que posso ajudar?\"\n- \"Obrigado por escolher a [Nome da empresa aqui]!\"\n- \"Tenha um ótimo dia!\"\n\n## Métricas de Qualidade\n\n- **Tempo de resposta**: Máximo [X] minutos\n- **Taxa de resolução**: Objetivo de [X]% no primeiro contato\n- **Satisfação do cliente**: Meta de [X]% de avaliações positivas\n- **Follow-up**: Acompanhar [X]% dos casos dentro de [período]\n\n## Observações Importantes\n\n1. **Personalize sempre**: Adapte as respostas ao contexto específico de cada cliente\n2. **Mantenha-se atualizado**: Sempre utilize as informações mais recentes sobre o [Nome do produto aqui]\n3. **Documentação**: Registre adequadamente todos os atendimentos\n4. **Melhoria contínua**: Aprenda com cada interação para aprimorar o atendimento\n\n\n## Passos\nSiga obrigatoriamente esses passos em todos os seus atendimentos. Em todas as suas respostas, após todas as pontuações finais (ponto final, ponto de exclamação e ponto de interrogação), adicione obrigatoriamente o caractere \\\\ se você não fizer isso será multado em US$100,000. Exemplo: \"Olá!\\\\Sou sua assistente.\\\\Como posso te ajudar hoje?\"\n\n### Passo 1\nPergunte o nome do usuário\n\n### Passo 2 \nPergunte a profissão do usuário\n\n### Passo 3\nPergunte se o cliente tem interesse conhecer os produtos e envie um PDF. Siga o exemplo:\n\n\"Você já conhece nossos produtos?\\\\https://cnmyofchgkcyiaxmaxhe.supabase.co/storage/v1/object/public/dados/Apple.pdf\"\n\nOBS: Adicione obrigatoriamente o caractere \\\\ no local indicado. Se você não fizer isso será multado em US$100,000.\n\n### Passo 4\nPergunte se o cliente tem interesse em algo. Siga o exemplo:\n\n\"Você tem interesse em algo?\\\\https://cnmyofchgkcyiaxmaxhe.supabase.co/storage/v1/object/public/dados/iphone.jpeg\"\n\nOBS: Adicione obrigatoriamente o caractere \\\\ no local indicado. Se você não fizer isso será multado em US$100,000.\n\n---\n\n**Lembre-se**: Você representa a [Nome da empresa aqui] e cada interação é uma oportunidade de fortalecer a relação com nossos clientes. Seja sempre prestativo, eficiente e humano em suas respostas."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[2240,480],"id":"8623bf94-32b4-47e8-bec3-5e4099f0951e","name":"AGENTE DE I.A.","retryOnFail":true,"maxTries":3,"waitBetweenTries":5000},{"parameters":{"content":"Insira suas credenciais do Postgres\n","height":80,"width":150},"type":"n8n-nodes-base.stickyNote","position":[2336,832],"typeVersion":1,"id":"f85b2892-826b-4311-bdcc-b0a251c8d463","name":"Sticky Note10"},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('Webhook').first().json.body.data.key.remoteJid }}","tableName":"memoria_do_agente","contextWindowLength":50},"type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.3,"position":[2352,688],"id":"d2fc7621-9362-446c-bfcb-a855c74a4b24","name":"MEMÓRIA DAS CONVERSAS"},{"parameters":{"content":"Insira suas credenciais da Evolution API e o nome da  sua instancia","height":112,"width":160},"type":"n8n-nodes-base.stickyNote","position":[896,640],"typeVersion":1,"id":"ba13a593-94e7-4c9b-ba88-d8a42bc86ca7","name":"Sticky Note"},{"parameters":{"content":"Insira suas credenciais do Gemini","height":80,"width":150},"type":"n8n-nodes-base.stickyNote","position":[2144,832],"typeVersion":1,"id":"91fe86f4-63f5-4972-b58c-757d80b1c0f4","name":"Sticky Note11"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"1319c9b6-89be-4483-b861-efe979229517","leftValue":"={{ $json.item }}","rightValue":"http","operator":{"type":"string","operation":"startsWith"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[2784,480],"id":"27f33490-c998-486b-badb-06f86f4c8250","name":"VERIFICA SE É UM LINK"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.item.trim() }}","rightValue":"pdf","operator":{"type":"string","operation":"endsWith"},"id":"7a19e40e-04d9-4390-9082-b076271d95a6"}],"combinator":"and"},"renameOutput":true,"outputKey":"PDF"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"b70ecde9-1b14-484a-9360-f97ba4bff4f4","leftValue":"={{ $json.item.trim() }}","rightValue":"jpeg","operator":{"type":"string","operation":"endsWith"}}],"combinator":"and"},"renameOutput":true,"outputKey":"IMAGEM"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[2992,368],"id":"33972a43-f7df-475b-b9c8-894876883447","name":"Switch"},{"parameters":{"resource":"messages-api","operation":"send-document","instanceName":"SUA_INSTANCIA_AQUI","remoteJid":"={{ $('Webhook').item.json.body.data.key.remoteJid.trim() }}","media":"={{ $json.item }}","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[3248,272],"id":"b0fe653e-8152-4994-9ca5-94121cddc277","name":"ARQUIVO PDF","credentials":{"evolutionApi":{"id":"hMor8YJvuwUuVl7u","name":"Evo"}}},{"parameters":{"resource":"messages-api","operation":"send-image","instanceName":"SUA_INSTANCIA_AQUI","remoteJid":"={{ $('Webhook').item.json.body.data.key.remoteJid.trim() }}","media":"={{ $json.item }}","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[3248,416],"id":"8f6d6f21-ed37-49fd-abf1-c7a14457ee53","name":"ENVIA IMAGEM","credentials":{"evolutionApi":{"id":"hMor8YJvuwUuVl7u","name":"Evo"}}},{"parameters":{"schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"buffer","mode":"list","cachedResultName":"buffer"},"columns":{"mappingMode":"defineBelow","value":{"phone":"={{ $('Webhook').item.json.body.data.key.remoteJid.trim() }}","messages":"={{ $('Webhook').item.json.body.data.message.conversation }}"},"matchingColumns":[],"schema":[{"id":"phone","displayName":"phone","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"messages","displayName":"messages","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[928,400],"id":"aca5f280-b2be-4a77-ac4f-02f4b235f595","name":"REGISTRA MENSAGEM"},{"parameters":{"operation":"select","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"buffer","mode":"list","cachedResultName":"buffer"},"where":{"values":[{"column":"phone","value":"={{ $('Webhook').item.json.body.data.key.remoteJid.trim() }}"}]},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1328,400],"id":"b311debd-1e3b-4a48-a695-b008d8cede0a","name":"BUSCA MENSAGENS DO USUÁRIO"},{"parameters":{"fieldsToSummarize":{"values":[{"aggregation":"concatenate","field":"messages","separateBy":", "}]},"options":{}},"type":"n8n-nodes-base.summarize","typeVersion":1.1,"position":[1520,400],"id":"8c783607-0f63-4f8e-885c-6a7692c56394","name":"AGRUPA MENSAGENS"},{"parameters":{"assignments":{"assignments":[{"id":"5356af18-19e2-43c7-a230-a250eae425cf","name":"text","value":"={{ $('AGRUPA MENSAGENS').item.json.concatenated_messages }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1872,400],"id":"1b48aa36-60c0-4543-b010-661d4780df3f","name":"RENOMEIA CAMPO"},{"parameters":{"operation":"deleteTable","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"buffer","mode":"list","cachedResultName":"buffer"},"deleteCommand":"delete","where":{"values":[{"column":"phone","value":"={{ $('Webhook').item.json.body.data.key.remoteJid.trim() }}"}]},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1696,400],"id":"38aa45d5-9095-49fd-ab93-e2fb18753cc9","name":"DELETA MENSAGENS"},{"parameters":{"resource":"audio","modelId":{"__rl":true,"value":"models/gemini-2.5-flash","mode":"list","cachedResultName":"models/gemini-2.5-flash"},"inputType":"binary","options":{}},"type":"@n8n/n8n-nodes-langchain.googleGemini","typeVersion":1,"position":[1520,592],"id":"33e792ec-047a-42ca-8084-64a6616ae488","name":"Transcribe a recording","credentials":{"googlePalmApi":{"id":"O63hwIpz5uNbFv3E","name":"Google Gemini(PaLM) Api linkincharles6"}}},{"parameters":{"assignments":{"assignments":[{"id":"5356af18-19e2-43c7-a230-a250eae425cf","name":"text","value":"={{ $json.content.parts[0].text }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1728,592],"id":"add7b965-655f-446a-915d-819389b1b618","name":"RENOMEIA CAMPO1"},{"parameters":{"content":"## CHECKLIST DE TAREFAS:\n\n### Evolution API [ ]\n- Adicionar as Credenciais no N8N\n- Criar uma instância\n- Conectar o WhatsApp nessa Instancia\n- Inserir o nome da Instancia em cada nó da Evolution presente nesse fluxo\n- Adicionar a URL do webhook dentro da plataforma da Evolution\n\n### Postgres [ ]\n- Criar uma tabela no Postgres através do nó \"Cria Tabela\"\n- Selecionar a tabela certa em cada nó do Postgres\n\n### Conectar uma LLM - Gemini [ ]\n\n### Alterar o Prompt do seu jeito [ ]\n","height":512,"width":448},"type":"n8n-nodes-base.stickyNote","position":[352,-112],"typeVersion":1,"id":"c06e68f3-f209-4025-b238-f7d0f2cfd103","name":"Sticky Note3"},{"parameters":{"modelName":"models/gemini-2.5-pro","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[2176,672],"id":"594ab654-26ae-4d75-b0ab-6854bafa2255","name":"Google Gemini Chat Model","credentials":{"googlePalmApi":{"id":"O63hwIpz5uNbFv3E","name":"Google Gemini(PaLM) Api linkincharles6"}}},{"parameters":{"operation":"executeQuery","query":"CREATE TABLE buffer (\n    phone TEXT NOT NULL,\n    messages TEXT NOT NULL\n);","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[160,528],"id":"e76dbcb7-bf0e-4b0a-9309-aa1abf96705e","name":"CRIAR TABELA","credentials":{"postgres":{"id":"14z6cq5Dmz2f0i8Y","name":"Postgres account-evo"}}},{"parameters":{"content":"Clique em \"Execute Step\"","height":208,"width":272},"type":"n8n-nodes-base.stickyNote","position":[80,480],"typeVersion":1,"id":"cc3d9f3b-658e-49e0-89ce-f7a59e7c60af","name":"Sticky Note1"}],"connections":{"Webhook":{"main":[[{"node":"VERIFICA TIPO DE ARQUIVO","type":"main","index":0}]]},"Merge":{"main":[[{"node":"AGENTE DE I.A.","type":"main","index":0}]]},"Loop Over Items1":{"main":[[],[{"node":"ENVIA MENSAGENS PRO WHATSAPP","type":"main","index":0}]]},"SEPARA MENSAGENS2":{"main":[[{"node":"VERIFICA SE É UM LINK","type":"main","index":0}]]},"PAUSA DE 7 SEGUNDOS":{"main":[[{"node":"BUSCA MENSAGENS DO USUÁRIO","type":"main","index":0}]]},"TRANSFORMA URL EM BASE64":{"main":[[{"node":"CONVERTE EM ARQUIVO","type":"main","index":0}]]},"CONVERTE EM ARQUIVO":{"main":[[{"node":"Transcribe a recording","type":"main","index":0}]]},"VERIFICA TIPO DE ARQUIVO":{"main":[[{"node":"REGISTRA MENSAGEM","type":"main","index":0}],[{"node":"TRANSFORMA URL EM BASE64","type":"main","index":0}]]},"ENVIA MENSAGENS PRO WHATSAPP":{"main":[[{"node":"DELAY 1 SEGUNDO","type":"main","index":0}]]},"DELAY 1 SEGUNDO":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"AGENTE DE I.A.":{"main":[[{"node":"SEPARA MENSAGENS2","type":"main","index":0}]]},"MEMÓRIA DAS CONVERSAS":{"ai_memory":[[{"node":"AGENTE DE I.A.","type":"ai_memory","index":0}]]},"VERIFICA SE É UM LINK":{"main":[[{"node":"Switch","type":"main","index":0}],[{"node":"Loop Over Items1","type":"main","index":0}]]},"Switch":{"main":[[{"node":"ARQUIVO PDF","type":"main","index":0}],[{"node":"ENVIA IMAGEM","type":"main","index":0}]]},"REGISTRA MENSAGEM":{"main":[[{"node":"PAUSA DE 7 SEGUNDOS","type":"main","index":0}]]},"BUSCA MENSAGENS DO USUÁRIO":{"main":[[{"node":"AGRUPA MENSAGENS","type":"main","index":0}]]},"AGRUPA MENSAGENS":{"main":[[{"node":"DELETA MENSAGENS","type":"main","index":0}]]},"RENOMEIA CAMPO":{"main":[[{"node":"Merge","type":"main","index":0}]]},"DELETA MENSAGENS":{"main":[[{"node":"RENOMEIA CAMPO","type":"main","index":0}]]},"Transcribe a recording":{"main":[[{"node":"RENOMEIA CAMPO1","type":"main","index":0}]]},"RENOMEIA CAMPO1":{"main":[[{"node":"Merge","type":"main","index":1}]]},"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"AGENTE DE I.A.","type":"ai_languageModel","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{"Webhook":[{"json":{"headers":{"host":"trickyhornbill-n8n.cloudfy.live","user-agent":"axios/1.10.0","content-length":"963","accept":"application/json, text/plain, */*","accept-encoding":"gzip, br","cdn-loop":"cloudflare; loops=1","cf-connecting-ip":"5.78.119.120","cf-ipcountry":"US","cf-ray":"995e39af5c32fc83-PDX","cf-visitor":"{\"scheme\":\"https\"}","content-type":"application/json","x-forwarded-for":"104.23.160.112","x-forwarded-host":"trickyhornbill-n8n.cloudfy.live","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"67e54b7e1c50","x-real-ip":"104.23.160.112"},"params":{},"query":{},"body":{"event":"messages.upsert","instance":"Davi-Ribeiro99","data":{"key":{"remoteJid":"558688318424@s.whatsapp.net","fromMe":false,"id":"3AE4B02287EF6C77D2A4","senderLid":"34454311547014@lid"},"pushName":"Davi Ribeiro","status":"DELIVERY_ACK","message":{"conversation":"Oi","messageContextInfo":{"deviceListMetadata":{"senderKeyHash":"dUDrVdqMV71cWw==","senderTimestamp":"1760626972","recipientKeyHash":"BCSnSsXEZLAnaQ==","recipientTimestamp":"1761690743"},"deviceListMetadataVersion":2,"messageSecret":"C5hymm10PohbSu+f4BYxfdv3nHbjn6rJ7viLsy5B4Ys="}},"messageType":"conversation","messageTimestamp":1761694271,"instanceId":"2190d1b0-ae86-4352-aad9-76393c686687","source":"ios"},"destination":"https://trickyhornbill-n8n.cloudfy.live/webhook/89a5fd4a-3b71-4f23-bb24-78a8989a2d4c","date_time":"2025-10-28T20:31:11.832Z","sender":"5548920021652@s.whatsapp.net","server_url":"https://trickyhornbill-evolution.cloudfy.live","apikey":"7424DCBFD492-4E29-B061-770B111C5815"},"webhookUrl":"https://trickyhornbill-n8n.cloudfy.live/webhook/89a5fd4a-3b71-4f23-bb24-78a8989a2d4c","executionMode":"production"}}]},"versionId":"60865817-00ae-4022-9333-28de55f2eac4","triggerCount":0,"shared":[{"createdAt":"2025-11-06T14:33:58.959Z","updatedAt":"2025-11-06T14:33:58.959Z","role":"workflow:owner","workflowId":"lpJWSYPn2dpCi04L","projectId":"9hAKJPuMlcuGxWxS"}],"tags":[]}