ativa-e-desativa-igs-telecom-CfabVQlJ2aTO6Muc.json
{"createdAt":"2025-10-17T16:53:04.565Z","updatedAt":"2025-10-17T16:54:52.165Z","id":"CfabVQlJ2aTO6Muc","name":"ATIVA E DESATIVA IGS TELECOM","active":false,"isArchived":true,"nodes":[{"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"0 18 * * 1-5"}]}},"id":"95012823-7231-40e4-9134-1459012d0c66","name":"LIGA BOT AS 18:00 HORAS SEG ATE SEXTA","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.1,"position":[160,300]},{"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"0 13 * * 6"}]}},"id":"95c855b3-40af-4caf-8cd4-b41272810ac5","name":"LIGA BOT AS 13:00 DO SABADO","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.1,"position":[160,140]},{"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"0 9 * * 1-5"}]}},"id":"73b0bb8a-a1a3-431e-9fb9-75c4c50b7cb2","name":"DESLIGA BOT AS 09:00 DA MANHA SEG ATE SEXTA","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.1,"position":[140,560]},{"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"0 9 * * 6"}]}},"id":"24ab334a-42e6-4561-8546-117efd544582","name":"DESLIGA BOT AS 09:00 DA MANHA DE SABADO","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.1,"position":[140,760]},{"parameters":{"resource":"integrations-api","operation":"typebot","instanceName":"infopires","resourceForTypebot":"findTypebot"},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[540,620],"id":"d0abb878-e962-4cec-b1a2-1d3c97b2638f","name":"Consulta o id do typebot","credentials":{"evolutionApi":{"id":"z5m5bQunXbjwn9Z1","name":"Develop"}}},{"parameters":{"resource":"integrations-api","operation":"typebot","instanceName":"infopires","resourceForTypebot":"deleteTypebot","typebotId":"={{ $json.data[0].id }}"},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[740,620],"id":"6dc50c1c-a130-4ecc-bb7d-2646e0ace546","name":"Exclui o typebot","credentials":{"evolutionApi":{"id":"z5m5bQunXbjwn9Z1","name":"Develop"}}},{"parameters":{"method":"POST","url":"https://develop.redeslinkin.com.br/typebot/create/infopires","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"global_p2fLIG2vxXdJa5nO"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n\t\"enabled\": true,\n    \"url\": \"https://app.redeslinkin.com.br\",\n    \"typebot\":  \"infopires\",\n    \"expire\": 20,\n    \"keywordFinish\": \"#SAIR\",\n    \"delayMessage\": 1000,\n    \"unknownMessage\": \"Mensagem não reconhecida\",\n    \"listeningFromMe\": false,\n    \"stopBotFromMe\": false,\n    \"keepOpen\": false,\n    \"debounceTime\": 1,\n    \"triggerType\": \"all\",\n    \"triggerOperator\": \"contains\",\n    \"triggerValue\": \"o\"\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[440,200],"id":"9a717947-55fb-4657-b258-4d02a4829bf0","name":"Cria o typebot"},{"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"10 18 * * 1-5"}]}},"id":"e253a564-cf79-4226-aef0-c7c612a3fd26","name":"LIGA BOT AS 18:00 HORAS SEG ATE SEXTA1","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.1,"position":[-140,240]},{"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"10 9 * * 1-5"}]}},"id":"86fdbe27-790f-4b13-a3c7-650304d0bd55","name":"DESLIGA BOT AS 09:00 DA MANHA SEG ATE SEXTA1","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.1,"position":[-160,600]}],"connections":{"LIGA BOT AS 18:00 HORAS SEG ATE SEXTA":{"main":[[{"node":"Cria o typebot","type":"main","index":0}]]},"LIGA BOT AS 13:00 DO SABADO":{"main":[[{"node":"Cria o typebot","type":"main","index":0}]]},"DESLIGA BOT AS 09:00 DA MANHA SEG ATE SEXTA":{"main":[[{"node":"Consulta o id do typebot","type":"main","index":0}]]},"DESLIGA BOT AS 09:00 DA MANHA DE SABADO":{"main":[[{"node":"Consulta o id do typebot","type":"main","index":0}]]},"Consulta o id do typebot":{"main":[[{"node":"Exclui o typebot","type":"main","index":0}]]},"Cria o typebot":{"main":[[]]},"LIGA BOT AS 18:00 HORAS SEG ATE SEXTA1":{"main":[[{"node":"Cria o typebot","type":"main","index":0}]]},"DESLIGA BOT AS 09:00 DA MANHA SEG ATE SEXTA1":{"main":[[{"node":"Consulta o id do typebot","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:LIGA BOT AS 19:00 HORAS":{"recurrencyRules":[],"recurrenceRules":[]},"node:DESLIGA BOT AS 09:00 DA MANHA":{"recurrencyRules":[],"recurrenceRules":[]},"node:LIGA BOT AS 18:00 HORAS SEG ATE SEXTA":{"recurrenceRules":[]},"node:LIGA BOT AS 13:00 DO SABADO":{"recurrenceRules":[]},"node:DESLIGA BOT AS 09:00 DA MANHA SEG ATE SEXTA":{"recurrenceRules":[]},"node:DESLIGA BOT AS 09:00 DA MANHA DE SABADO":{"recurrenceRules":[]},"node:LIGA BOT AS 18:00 HORAS SEG ATE SEXTA1":{"recurrenceRules":[]},"node:DESLIGA BOT AS 09:00 DA MANHA SEG ATE SEXTA1":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"1481e40a-d5d9-40dc-a528-f65e3c4daebf","triggerCount":6,"shared":[{"createdAt":"2025-10-17T16:53:04.565Z","updatedAt":"2025-10-17T16:53:04.565Z","role":"workflow:owner","workflowId":"CfabVQlJ2aTO6Muc","projectId":"9hAKJPuMlcuGxWxS"}],"tags":[{"createdAt":"2024-10-17T10:24:22.199Z","updatedAt":"2024-10-17T10:24:22.199Z","id":"zOwRVbg6FgAFFmN0","name":"Typebot"},{"createdAt":"2025-10-17T15:04:04.491Z","updatedAt":"2025-10-17T15:04:04.491Z","id":"WqHQZgXw0HPHBzf4","name":"IGS TELECOM"}]}