ativa-e-desativa-infopires-jmAELFC7ManuQnWh.json
{"createdAt":"2024-10-15T00:56:17.927Z","updatedAt":"2025-06-06T14:38:47.407Z","id":"jmAELFC7ManuQnWh","name":"ATIVA E DESATIVA INFOPIRES","active":true,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"0 18 * * 1-5"}]}},"id":"43ba13a4-2620-4bc1-bb2f-c3833e20e448","name":"LIGA BOT AS 18:00 HORAS SEG ATE SEXTA","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.1,"position":[160,300]},{"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"0 13 * * 6"}]}},"id":"101b7591-6969-4a82-aaa8-2ff1a62b8284","name":"LIGA BOT AS 13:00 DO SABADO","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.1,"position":[160,140]},{"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"0 9 * * 1-5"}]}},"id":"56598db9-e0c3-4133-b534-614d501c8aa8","name":"DESLIGA BOT AS 09:00 DA MANHA SEG ATE SEXTA","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.1,"position":[140,560]},{"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"0 9 * * 6"}]}},"id":"fd77ac11-6d89-4c1b-9b15-a01ce9ffeacb","name":"DESLIGA BOT AS 09:00 DA MANHA DE SABADO","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.1,"position":[140,760]},{"parameters":{"resource":"integrations-api","operation":"typebot","instanceName":"infopires","resourceForTypebot":"findTypebot"},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[540,620],"id":"207baaa6-9bd1-4f0c-a15c-96df1097b60a","name":"Consulta o id do typebot","credentials":{"evolutionApi":{"id":"z5m5bQunXbjwn9Z1","name":"Develop"}}},{"parameters":{"resource":"integrations-api","operation":"typebot","instanceName":"infopires","resourceForTypebot":"deleteTypebot","typebotId":"={{ $json.data[0].id }}"},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[740,620],"id":"5981c6ac-f51d-4e51-a4ea-a7ccfe5514d4","name":"Exclui o typebot","credentials":{"evolutionApi":{"id":"z5m5bQunXbjwn9Z1","name":"Develop"}}},{"parameters":{"method":"POST","url":"https://develop.redeslinkin.com.br/typebot/create/infopires","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"global_p2fLIG2vxXdJa5nO"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n\t\"enabled\": true,\n    \"url\": \"https://app.redeslinkin.com.br\",\n    \"typebot\":  \"infopires\",\n    \"expire\": 20,\n    \"keywordFinish\": \"#SAIR\",\n    \"delayMessage\": 1000,\n    \"unknownMessage\": \"Mensagem não reconhecida\",\n    \"listeningFromMe\": false,\n    \"stopBotFromMe\": false,\n    \"keepOpen\": false,\n    \"debounceTime\": 1,\n    \"triggerType\": \"all\",\n    \"triggerOperator\": \"contains\",\n    \"triggerValue\": \"o\"\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[440,200],"id":"55110fd2-4ce2-477d-a4ef-4378449a935d","name":"Cria o typebot"}],"connections":{"LIGA BOT AS 18:00 HORAS SEG ATE SEXTA":{"main":[[{"node":"Cria o typebot","type":"main","index":0}]]},"LIGA BOT AS 13:00 DO SABADO":{"main":[[{"node":"Cria o typebot","type":"main","index":0}]]},"DESLIGA BOT AS 09:00 DA MANHA SEG ATE SEXTA":{"main":[[{"node":"Consulta o id do typebot","type":"main","index":0}]]},"DESLIGA BOT AS 09:00 DA MANHA DE SABADO":{"main":[[{"node":"Consulta o id do typebot","type":"main","index":0}]]},"Consulta o id do typebot":{"main":[[{"node":"Exclui o typebot","type":"main","index":0}]]},"Cria o typebot":{"main":[[]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:LIGA BOT AS 19:00 HORAS":{"recurrencyRules":[],"recurrenceRules":[]},"node:DESLIGA BOT AS 09:00 DA MANHA":{"recurrencyRules":[],"recurrenceRules":[]},"node:LIGA BOT AS 18:00 HORAS SEG ATE SEXTA":{"recurrenceRules":[]},"node:LIGA BOT AS 13:00 DO SABADO":{"recurrenceRules":[]},"node:DESLIGA BOT AS 09:00 DA MANHA SEG ATE SEXTA":{"recurrenceRules":[]},"node:DESLIGA BOT AS 09:00 DA MANHA DE SABADO":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"804b4b1f-f9b3-4adf-bc4b-1ba99c3d175c","triggerCount":4,"tags":[{"createdAt":"2024-10-17T10:24:22.199Z","updatedAt":"2024-10-17T10:24:22.199Z","id":"zOwRVbg6FgAFFmN0","name":"Typebot"}]}