atualiza-versão-whatsapp-web-na-evolution-okW16SY7gm3NtCrp.json
{"createdAt":"2025-06-06T19:33:05.951Z","updatedAt":"2025-12-05T16:49:49.061Z","id":"okW16SY7gm3NtCrp","name":"Atualiza versão whatsapp web na evolution","active":true,"isArchived":false,"nodes":[{"parameters":{"values":{"string":[{"name":"UrlPortainer","value":"https://docker.redeslinkin.com.br"},{"name":"LoginPortainer","value":"linkincharles"},{"name":"SenhaPortainer","value":"@ENY6RUa63iuoe"},{"name":"NomeStack","value":"evolution-v2"}]},"options":{}},"id":"7b4ce349-ce20-4b53-a762-55e850567eea","name":"Info Base1","type":"n8n-nodes-base.set","typeVersion":2,"position":[192,0]},{"parameters":{"method":"POST","url":"={{ $('Info Base1').item.json.UrlPortainer }}/api/auth","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"username\": \"{{ $('Info Base1').item.json.LoginPortainer }}\",\n  \"password\": \"{{ $('Info Base1').item.json.SenhaPortainer }}\"\n}\n","options":{}},"id":"42686cab-e582-49ab-a713-9fa6453c62b5","name":"Paga Token","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[0,208]},{"parameters":{"values":{"string":[{"name":"suastack","value":"=version: \"3.7\"\n\n###########\n# Evolution API\n# Mais configurações no Github:\n# https://github.com/EvolutionAPI/evolution-api/blob/v2.0.0/Docker/.env.example\n#\n# Imagem do Docker\n# https://hub.docker.com/r/evoapicloud/evolution-api\n###########\n\nservices:\n  # Define o Serviço do Stack\n  evolution_v2:\n    # Define a imagem do container\n    # Vamos usar a v2\n    image: evoapicloud/evolution-api:v2.3.7\n    # Define o hostname do container\n    hostname: \"Evolution-V2\"\n    # Define os volumes do stack\n    volumes:\n      - evolution_instances:/evolution/instances\n    # Define as redes do seu swarm\n    networks:\n      - minha_rede\n    # Define as Variáveis de ambiente\n    environment:\n      \n      # Configura o Endereço da Evolution\n      - SERVER_URL=https://develop.redeslinkin.com.br\n      # Habilita a remoção automática da instâncias\n      - DEL_INSTANCE=false\n      # Habilita o Provider Local de Cache (desabilitado por padrão)\n      - PROVIDER_ENABLED=false\n      - PROVIDER_HOST=127.0.0.1\n      - PROVIDER_PORT=5656\n      - PROVIDER_PREFIX=evolution_v2\n      # Configura o Cliente do WhatsApp\n      - CONFIG_SESSION_PHONE_CLIENT=Redes Linkin\n      - CONFIG_SESSION_PHONE_NAME=Chrome\n      # Configura a Versão do WhatsApp\n      # Você pode consultar as versões no link abaixo:\n      # https://web.whatsapp.com/check-update?version=0&platform=web\n      - CONFIG_SESSION_PHONE_VERSION= {{ $json.whatsappVersion }}\n      #2.3000.1015901307\n      #2.3000.1019776123\n      #2.3000.1019442473\n      #2.3000.1015901307\n      # Informa a quantidade de QRCODE que será gerado\n      - QRCODE_LIMIT=30\n      # Informa o idioma da Evolution\n      - LANGUAGE=en\n      #########################################################\n      - AUTHENTICATION_API_KEY=global_p2fLIG2vxXdJa5nO\n      - AUTHENTICATION_EXPOSE_IN_FETCH_INSTANCES=true\n     \n      # Configurações do Banco de Dados #######################\n\n      - DATABASE_ENABLED=true\n      - DATABASE_PROVIDER=postgresql\n      - DATABASE_CONNECTION_URI=postgresql://postgres:BQewoBFeS3utKy@postgres:5432/evolution\n      - DATABASE_CONNECTION_CLIENT_NAME=evolution_v2\n      - DATABASE_SAVE_DATA_INSTANCE=true\n      - DATABASE_SAVE_DATA_NEW_MESSAGE=true\n      - DATABASE_SAVE_MESSAGE_UPDATE=true\n      - DATABASE_SAVE_DATA_CONTACTS=true\n      - DATABASE_SAVE_DATA_CHATS=true\n      - DATABASE_SAVE_DATA_LABELS=true\n      - DATABASE_SAVE_DATA_HISTORIC=true\n     \n      # Configurações dos Eventos via RabbitMQ ################\n     \n      - RABBITMQ_ENABLED=false\n      - RABBITMQ_URI=amqp://admin:0n202!@rabbitmq:5672/evolution\n      - RABBITMQ_EXCHANGE_NAME=evolution_v2\n      - RABBITMQ_GLOBAL_ENABLED=false\n      - RABBITMQ_EVENTS_APPLICATION_STARTUP=false\n      - RABBITMQ_EVENTS_INSTANCE_CREATE=false\n      - RABBITMQ_EVENTS_INSTANCE_DELETE=false\n      - RABBITMQ_EVENTS_QRCODE_UPDATED=false\n      - RABBITMQ_EVENTS_MESSAGES_SET=false\n      - RABBITMQ_EVENTS_MESSAGES_UPSERT=true\n      - RABBITMQ_EVENTS_MESSAGES_EDITED=false\n      - RABBITMQ_EVENTS_MESSAGES_UPDATE=false\n      - RABBITMQ_EVENTS_MESSAGES_DELETE=false\n      - RABBITMQ_EVENTS_SEND_MESSAGE=false\n      - RABBITMQ_EVENTS_CONTACTS_SET=false\n      - RABBITMQ_EVENTS_CONTACTS_UPSERT=false\n      - RABBITMQ_EVENTS_CONTACTS_UPDATE=false\n      - RABBITMQ_EVENTS_PRESENCE_UPDATE=false\n      - RABBITMQ_EVENTS_CHATS_SET=false\n      - RABBITMQ_EVENTS_CHATS_UPSERT=false\n      - RABBITMQ_EVENTS_CHATS_UPDATE=false\n      - RABBITMQ_EVENTS_CHATS_DELETE=false\n      - RABBITMQ_EVENTS_GROUPS_UPSERT=false\n      - RABBITMQ_EVENTS_GROUP_UPDATE=false\n      - RABBITMQ_EVENTS_GROUP_PARTICIPANTS_UPDATE=false\n      - RABBITMQ_EVENTS_CONNECTION_UPDATE=true\n      - RABBITMQ_EVENTS_CALL=false\n      - RABBITMQ_EVENTS_TYPEBOT_START=false\n      - RABBITMQ_EVENTS_TYPEBOT_CHANGE_STATUS=false\n     \n      # Configurações dos Eventos via AWS SQS #################\n    \n      - SQS_ENABLED=false\n      - SQS_ACCESS_KEY_ID=\n      - SQS_SECRET_ACCESS_KEY=\n      - SQS_ACCOUNT_ID=\n      - SQS_REGION=\n      \n      # Configurações de Web Socket ###########################\n     \n      - WEBSOCKET_ENABLED=false\n      - WEBSOCKET_GLOBAL_EVENTS=false\n     \n      # Configurações do WhatsApp Business Cloud ##############\n      \n      - WA_BUSINESS_TOKEN_WEBHOOK=evolution\n      - WA_BUSINESS_URL=https://graph.facebook.com\n      - WA_BUSINESS_VERSION=v20.0\n      - WA_BUSINESS_LANGUAGE=pt_BR\n      \n      # Configurações dos Eventos via Webhook #################\n      # Método não Recomendado. Usar fila com RabbitMQ ########\n     \n      - WEBHOOK_GLOBAL_URL=''\n      - WEBHOOK_GLOBAL_ENABLED=false\n      - WEBHOOK_GLOBAL_WEBHOOK_BY_EVENTS=false\n      - WEBHOOK_EVENTS_APPLICATION_STARTUP=false\n      - WEBHOOK_EVENTS_QRCODE_UPDATED=true\n      - WEBHOOK_EVENTS_MESSAGES_SET=true\n      - WEBHOOK_EVENTS_MESSAGES_UPSERT=true\n      - WEBHOOK_EVENTS_MESSAGES_EDITED=true\n      - WEBHOOK_EVENTS_MESSAGES_UPDATE=true\n      - WEBHOOK_EVENTS_MESSAGES_DELETE=true\n      - WEBHOOK_EVENTS_SEND_MESSAGE=true\n      - WEBHOOK_EVENTS_CONTACTS_SET=true\n      - WEBHOOK_EVENTS_CONTACTS_UPSERT=true\n      - WEBHOOK_EVENTS_CONTACTS_UPDATE=true\n      - WEBHOOK_EVENTS_PRESENCE_UPDATE=true\n      - WEBHOOK_EVENTS_CHATS_SET=true\n      - WEBHOOK_EVENTS_CHATS_UPSERT=true\n      - WEBHOOK_EVENTS_CHATS_UPDATE=true\n      - WEBHOOK_EVENTS_CHATS_DELETE=true\n      - WEBHOOK_EVENTS_GROUPS_UPSERT=true\n      - WEBHOOK_EVENTS_GROUPS_UPDATE=true\n      - WEBHOOK_EVENTS_GROUP_PARTICIPANTS_UPDATE=true\n      - WEBHOOK_EVENTS_CONNECTION_UPDATE=true\n      - WEBHOOK_EVENTS_LABELS_EDIT=true\n      - WEBHOOK_EVENTS_LABELS_ASSOCIATION=true\n      - WEBHOOK_EVENTS_CALL=true\n      - WEBHOOK_EVENTS_TYPEBOT_START=false\n      - WEBHOOK_EVENTS_TYPEBOT_CHANGE_STATUS=false\n      - WEBHOOK_EVENTS_ERRORS=false\n      - WEBHOOK_EVENTS_ERRORS_WEBHOOK=\n      \n      # Configurações do Typebot ##############################\n      \n      - TYPEBOT_ENABLED=true\n      - TYPEBOT_API_VERSION=latest\n      - TYPEBOT_KEEP_OPEN=false\n      - TYPEBOT_SEND_MEDIA_BASE64=true\n     \n      # Configurações do Chatwoot #############################\n      \n      - CHATWOOT_ENABLED=true\n      - CHATWOOT_MESSAGE_READ=true\n      # Opcional\n      - CHATWOOT_IMPORT_DATABASE_CONNECTION_URI=postgresql://postgres:BQewoBFeS3utKy@postgres:5432/chatwoot?sslmode=disable\n      - CHATWOOT_IMPORT_PLACEHOLDER_MEDIA_MESSAGE=true\n      \n      # Configurações do Open Ai ##############################\n      \n      - OPENAI_ENABLED=true\n      - OPENAI_API_KEY_GLOBAL=\n     \n      # Configurações do Dify AI ##############################\n     \n      - DIFY_ENABLED=true\n     \n      # Configurações do Cache da API #########################\n      \n      - CACHE_REDIS_ENABLED=true\n      - CACHE_REDIS_URI=redis://redis:6379\n      - CACHE_REDIS_PREFIX_KEY=evolution_v2\n      - CACHE_REDIS_SAVE_INSTANCES=false\n      - CACHE_LOCAL_ENABLED=false\n     \n      # Configurações do Armazenamento de Mídia / Arquivos  ###\n     \n      - S3_ENABLED=false\n      - S3_ACCESS_KEY=\n      - S3_SECRET_KEY=\n      - S3_BUCKET=evolution\n      - S3_PORT=443\n      - S3_ENDPOINT=files.site.com\n      - S3_USE_SSL=true\n    # Modo de Deploy da Aplicação\n    deploy:\n      # Define o modo de deploy do container\n      mode: replicated\n      # Define o numero de replicas do container (sempre 1)\n      replicas: 1\n      # Define o local de execução do container\n      placement:\n        constraints:\n          - node.role == manager\n        # - node.hostname == worker1\n      # Define os recursos disponíveis para a Evolution\n      resources:\n        limits:\n          # Define a quantidade de CPU para o CodeChat para evitar travamento do Host\n          cpus: \"2\"\n          # Define a quantidade de RAM para o CodeChat para evitar travamento do Host\n          memory: 1024M\n      labels:\n        - traefik.enable=true\n        - traefik.http.routers.evolution_v2.rule=Host(`develop.redeslinkin.com.br`)\n        - traefik.http.routers.evolution_v2.entrypoints=websecure\n        - traefik.http.routers.evolution_v2.tls.certresolver=letsencryptresolver\n        - traefik.http.routers.evolution_v2.priority=1\n        - traefik.http.routers.evolution_v2.service=evolution_v2\n        - traefik.http.services.evolution_v2.loadbalancer.server.port=8080\n        - traefik.http.services.evolution_v2.loadbalancer.passHostHeader=true\n\n# Definição Global dos Volumes\nvolumes:\n  evolution_instances:\n    external: true\n    name: evolution_v2_data\n\n# Definição Global das Redes\nnetworks:\n  minha_rede:\n    external: true\n    name: minha_rede  "}]},"options":{}},"id":"5123f02c-b116-4be9-8b32-eaccf95b2ba6","name":"Stack","type":"n8n-nodes-base.set","typeVersion":2,"position":[720,0]},{"parameters":{"url":"https://wppconnect.io/whatsapp-versions/","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[368,0],"id":"fd906355-aca2-489a-8540-9b02a6687a5d","name":"Busca Versão"},{"parameters":{"rule":{"interval":[{"field":"weeks","triggerAtDay":[0,3,5]}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[0,0],"id":"03cb47e2-e2dc-4f10-b8f8-1026b146c309","name":"Schedule Trigger"},{"parameters":{"jsCode":"const response = $input.first().json.data;\nconst html = response.body || response;\n\nconst match = html.match(/https:\\/\\/web\\.whatsapp\\.com\\/\\?v=([\\d.-\\w]+)/);\n\nif (match && match[1]) {\n  const version = match[1].replace(/-.*$/, ''); \n  return [{ json: { whatsappVersion: version } }];\n} else {\n  return [{ json: { error: \"Versão não encontrada\" } }];\n}\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[544,0],"id":"0c13bd4d-b71f-4731-ad4f-bff698dc50c7","name":"Extrai Ultima Versão"},{"parameters":{"method":"PUT","url":"={{ $('Info Base1').item.json.UrlPortainer }}/api/stacks/{{ $('Filtra Stack Evo').item.json.Id }}?endpointId=1","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $('Paga Token').item.json.jwt }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"pullImage\": false,\n  \"prune\": true,\n  \"stackFileContent\": \"{{ $json.stackConvert }}\"\n}","options":{"lowercaseHeaders":false}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[720,208],"id":"e693ad63-a0ff-4c66-92ce-789e899cedc8","name":"Update Stack"},{"parameters":{"url":"={{ $('Info Base1').item.json.UrlPortainer }}/api/stacks","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $('Paga Token').item.json.jwt }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[192,208],"id":"dfc397de-bd27-4ec2-a0d9-cbe0001a462e","name":"Busca as Stacks"},{"parameters":{"url":"={{ $('Info Base1').item.json.UrlPortainer }}/api/endpoints/1/docker/containers/json?all=true","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $('Paga Token').item.json.jwt }}"}]},"options":{"lowercaseHeaders":false}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[208,400],"id":"ae53397d-7ba7-4fce-b0a9-fb4a32b197f3","name":"Busca Conteineres Vazios"},{"parameters":{"method":"DELETE","url":"={{ $('Info Base1').item.json.UrlPortainer }}/api/endpoints/1/docker/containers/{{ $json.Id }}?force=true","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $('Paga Token').item.json.jwt }}"}]},"options":{"lowercaseHeaders":false}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[880,432],"id":"25710e16-1abb-47df-ab89-f549856166e4","name":"Deleta Conteiner Vazio"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[640,400],"id":"cd4b22c8-0fd7-4543-b450-c7ed1540a697","name":"Loop Over Items"},{"parameters":{"amount":15},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[32,400],"id":"ba8bdeed-7258-49c6-9d0a-9558438171ad","name":"Wait","webhookId":"59ee23fe-9a83-4810-846e-b601b380754e"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"55352201-6ab6-4df1-99eb-48dd4c2c25a7","leftValue":"={{ $json.Name }}","rightValue":"={{ $('Info Base1').item.json.NomeStack }}","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[368,208],"id":"472f63ee-e951-49d4-934a-33eb5f26b87b","name":"Filtra Stack Evo"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"7f9e3b65-00fa-4105-9c64-d8df353ccac6","leftValue":"={{ $json.State }}","rightValue":"exited","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[432,400],"id":"914631e3-77c9-4c17-84fe-9ded094402da","name":"Filtra Conteineres Vazios"},{"parameters":{"jsCode":"const originalYaml = $('Stack').first().json.suastack;\n\nconst stackConvert = originalYaml\n  .replace(/\\\\/g, '\\\\\\\\')\n  .replace(/\"/g, '\\\\\"')\n  .replace(/\\n/g, '\\\\n')\n  .replace(/\\t/g, '\\\\t');\n\nreturn [{\n  json: {\n    stackConvert: stackConvert\n  }\n}];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[544,208],"id":"edc3f157-2e57-40a0-8efd-71bef57973b9","name":"Converte Stack"},{"parameters":{"chatId":"372958712","text":"=Finalizado a atualização da versao do whatsapp, e a versão mais atual no momento é  {{ $('Extrai Ultima Versão').item.json.whatsappVersion }}","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1024,272],"id":"ae6560a2-b8f7-488e-aa26-4dc7f25850da","name":"Envia a versao que foi atualizada pelo tgelegram","webhookId":"4ddad20b-614d-43be-b447-3683c0b85993","credentials":{"telegramApi":{"id":"DIKHR2A0QcTIdlIm","name":"n8n"}}}],"connections":{"Info Base1":{"main":[[{"node":"Busca Versão","type":"main","index":0}]]},"Paga Token":{"main":[[{"node":"Busca as Stacks","type":"main","index":0}]]},"Stack":{"main":[[{"node":"Paga Token","type":"main","index":0}]]},"Busca Versão":{"main":[[{"node":"Extrai Ultima Versão","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Info Base1","type":"main","index":0}]]},"Extrai Ultima Versão":{"main":[[{"node":"Stack","type":"main","index":0}]]},"Busca as Stacks":{"main":[[{"node":"Filtra Stack Evo","type":"main","index":0}]]},"Update Stack":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Busca Conteineres Vazios":{"main":[[{"node":"Filtra Conteineres Vazios","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"Deleta Conteiner Vazio","type":"main","index":0}]]},"Deleta Conteiner Vazio":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Busca Conteineres Vazios","type":"main","index":0},{"node":"Envia a versao que foi atualizada pelo tgelegram","type":"main","index":0}]]},"Filtra Stack Evo":{"main":[[{"node":"Converte Stack","type":"main","index":0}]]},"Filtra Conteineres Vazios":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Converte Stack":{"main":[[{"node":"Update Stack","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"f3a23308-1b85-4be2-a07e-193d835f7035","triggerCount":1,"shared":[{"createdAt":"2025-06-06T19:33:05.951Z","updatedAt":"2025-06-06T19:33:05.951Z","role":"workflow:owner","workflowId":"okW16SY7gm3NtCrp","projectId":"9hAKJPuMlcuGxWxS"}],"tags":[]}