backup-fluxos-iJTCEOysQTIdCVJ7.json
{"updatedAt":"2023-11-11T11:11:29.530Z","createdAt":"2023-11-09T17:07:25.940Z","id":"iJTCEOysQTIdCVJ7","name":"backup fluxos","active":true,"isArchived":false,"nodes":[{"parameters":{"triggerTimes":{"item":[{"hour":1}]}},"name":"Cron","type":"n8n-nodes-base.cron","typeVersion":1,"position":[460,940],"id":"b4dacac7-28f5-4d57-a62b-3549b6a8c975"},{"parameters":{"filters":{}},"id":"a35ccb36-f808-4da8-a3e6-76828e943e60","name":"PEGA TODOS OS WORKFLOWS","type":"n8n-nodes-base.n8n","typeVersion":1,"position":[920,940],"credentials":{"n8nApi":{"id":"83pEFoCP7tLazZ3G","name":"n8n account"}}},{"parameters":{"mode":"jsonToBinary","options":{}},"name":"CONVERTER EM JSON","type":"n8n-nodes-base.moveBinaryData","typeVersion":1,"position":[1160,940],"id":"a06a2315-1620-4f83-a06b-86d690e25625"},{"parameters":{"authentication":"oAuth2","binaryData":true,"name":"={{$node[\"PEGA TODOS OS WORKFLOWS\"].json[\"name\"]}}.json","resolveData":true,"parents":["={{$item(0).$node[\"CRIA SUBPASTA\"].json[\"id\"]}}"],"options":{}},"name":"UPLOAD DOS ARQUIVO JSONs","type":"n8n-nodes-base.googleDrive","typeVersion":1,"position":[1380,940],"id":"107a9279-32b5-4daf-a2b8-12dc05a18704","credentials":{"googleDriveOAuth2Api":{"id":"SNdJqcRuJPb0iUAo","name":"Google Drive account"}}},{"parameters":{"authentication":"oAuth2","resource":"folder","name":"={{ $today.toFormat(\"yyyy/MM/dd\") }}","options":{"parents":["1UHDs8yjndO04m02Vp3lDFVv-_uRGwX96"]}},"name":"CRIA SUBPASTA","type":"n8n-nodes-base.googleDrive","typeVersion":1,"position":[700,940],"id":"f5f25ef5-c77b-4428-a19e-ed957fd97e3e","credentials":{"googleDriveOAuth2Api":{"id":"SNdJqcRuJPb0iUAo","name":"Google Drive account"}}},{"parameters":{"content":"⚠ Caso queira instalar o n8n na sua VPS, pode me chamar no Telegram que farei um orçamento.\n\n👉https://t.me/dSantana07\n\nEntre no nosso Grupo do Telegram 🔗https://t.me/dSantanaYT\n\n💻VPS que recomendo:\n\n🔗https://hetzner.cloud/?ref=IHASJfisZckJ\n\n🔴Contribua com o canal: Chave pix: contato@ruansantana.com.br\n\n⭐⭐⭐⭐CURSOS QUE EU RECOMENDO⭐⭐⭐⭐\n\n🔥Intensivão N8N 🔗https://bit.ly/intensivao-n8n-dSantana\n\n🔥Promovaweb 🔗https://bit.ly/promovaweb-dSantana","height":384,"width":538},"id":"695a50e5-8900-4bae-8606-b9849a02c1c3","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[460,460]}],"connections":{"Cron":{"main":[[{"node":"CRIA SUBPASTA","type":"main","index":0}]]},"PEGA TODOS OS WORKFLOWS":{"main":[[{"node":"CONVERTER EM JSON","type":"main","index":0}]]},"CONVERTER EM JSON":{"main":[[{"node":"UPLOAD DOS ARQUIVO JSONs","type":"main","index":0}]]},"CRIA SUBPASTA":{"main":[[{"node":"PEGA TODOS OS WORKFLOWS","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"9a3c0cd8-505f-4ab8-8b5a-15a7bf941feb","activeVersionId":"9a3c0cd8-505f-4ab8-8b5a-15a7bf941feb","triggerCount":1,"shared":[{"updatedAt":"2023-11-09T17:07:25.940Z","createdAt":"2023-11-09T17:07:25.940Z","role":"workflow:owner","workflowId":"iJTCEOysQTIdCVJ7","projectId":"9hAKJPuMlcuGxWxS"}],"activeVersion":{"updatedAt":"2026-01-14T12:01:56.530Z","createdAt":"2026-01-14T12:01:56.530Z","versionId":"9a3c0cd8-505f-4ab8-8b5a-15a7bf941feb","workflowId":"iJTCEOysQTIdCVJ7","nodes":[{"parameters":{"triggerTimes":{"item":[{"hour":1}]}},"name":"Cron","type":"n8n-nodes-base.cron","typeVersion":1,"position":[460,940],"id":"b4dacac7-28f5-4d57-a62b-3549b6a8c975"},{"parameters":{"filters":{}},"id":"a35ccb36-f808-4da8-a3e6-76828e943e60","name":"PEGA TODOS OS WORKFLOWS","type":"n8n-nodes-base.n8n","typeVersion":1,"position":[920,940],"credentials":{"n8nApi":{"id":"83pEFoCP7tLazZ3G","name":"n8n account"}}},{"parameters":{"mode":"jsonToBinary","options":{}},"name":"CONVERTER EM JSON","type":"n8n-nodes-base.moveBinaryData","typeVersion":1,"position":[1160,940],"id":"a06a2315-1620-4f83-a06b-86d690e25625"},{"parameters":{"authentication":"oAuth2","binaryData":true,"name":"={{$node[\"PEGA TODOS OS WORKFLOWS\"].json[\"name\"]}}.json","resolveData":true,"parents":["={{$item(0).$node[\"CRIA SUBPASTA\"].json[\"id\"]}}"],"options":{}},"name":"UPLOAD DOS ARQUIVO JSONs","type":"n8n-nodes-base.googleDrive","typeVersion":1,"position":[1380,940],"id":"107a9279-32b5-4daf-a2b8-12dc05a18704","credentials":{"googleDriveOAuth2Api":{"id":"SNdJqcRuJPb0iUAo","name":"Google Drive account"}}},{"parameters":{"authentication":"oAuth2","resource":"folder","name":"={{ $today.toFormat(\"yyyy/MM/dd\") }}","options":{"parents":["1UHDs8yjndO04m02Vp3lDFVv-_uRGwX96"]}},"name":"CRIA SUBPASTA","type":"n8n-nodes-base.googleDrive","typeVersion":1,"position":[700,940],"id":"f5f25ef5-c77b-4428-a19e-ed957fd97e3e","credentials":{"googleDriveOAuth2Api":{"id":"SNdJqcRuJPb0iUAo","name":"Google Drive account"}}},{"parameters":{"content":"⚠ Caso queira instalar o n8n na sua VPS, pode me chamar no Telegram que farei um orçamento.\n\n👉https://t.me/dSantana07\n\nEntre no nosso Grupo do Telegram 🔗https://t.me/dSantanaYT\n\n💻VPS que recomendo:\n\n🔗https://hetzner.cloud/?ref=IHASJfisZckJ\n\n🔴Contribua com o canal: Chave pix: contato@ruansantana.com.br\n\n⭐⭐⭐⭐CURSOS QUE EU RECOMENDO⭐⭐⭐⭐\n\n🔥Intensivão N8N 🔗https://bit.ly/intensivao-n8n-dSantana\n\n🔥Promovaweb 🔗https://bit.ly/promovaweb-dSantana","height":384,"width":538},"id":"695a50e5-8900-4bae-8606-b9849a02c1c3","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[460,460]}],"connections":{"Cron":{"main":[[{"node":"CRIA SUBPASTA","type":"main","index":0}]]},"PEGA TODOS OS WORKFLOWS":{"main":[[{"node":"CONVERTER EM JSON","type":"main","index":0}]]},"CONVERTER EM JSON":{"main":[[{"node":"UPLOAD DOS ARQUIVO JSONs","type":"main","index":0}]]},"CRIA SUBPASTA":{"main":[[{"node":"PEGA TODOS OS WORKFLOWS","type":"main","index":0}]]}},"authors":"system migration","name":null,"description":null,"autosaved":false},"tags":[{"updatedAt":"2023-11-09T17:07:20.815Z","createdAt":"2023-11-09T17:07:20.815Z","id":"9aXKEY5NeVQ9tRKt","name":"dSantana"}]}