disparador-em-massa-fd8fa5LCyP5nKDcx.json
{"updatedAt":"2024-12-03T22:45:14.272Z","createdAt":"2024-12-03T22:28:49.482Z","id":"fd8fa5LCyP5nKDcx","name":"Disparador em massa","active":true,"isArchived":false,"nodes":[{"parameters":{"amount":"={{ $('Webhook1').item.json[\"body\"][\"espera\"] }}","unit":"seconds"},"id":"7425441a-6558-4690-b33c-fcd845ced9c6","name":"Wait","type":"n8n-nodes-base.wait","typeVersion":1,"position":[1400,-40],"webhookId":"5b324f7c-89fa-4770-a8e4-02fccf078f32"},{"parameters":{"values":{"string":[{"name":"=novodados","value":"={{ $('Webhook1').item.json[\"body\"][\"numeros\"].split(\"\\n\") }}"},{"name":"apikey","value":"={{ $json.body.apikey }}"},{"name":"urlapi","value":"={{ $json.body.urlapi }}"},{"name":"estancia","value":"={{ $json.body.estancia }}"},{"name":"tipodeenvio","value":"={{ $json.body.tipodeenvio }}"},{"name":"tipodearquivo","value":"={{ $json.body.tipodearquivo }}"},{"name":"mimetype","value":"={{ $('Webhook1').item.json[\"body\"][\"mimetype\"] }}"}]},"options":{}},"id":"fe0fa90f-0c93-4bae-82e1-d4cf42ef7086","name":"Info Base","type":"n8n-nodes-base.set","typeVersion":1,"position":[-620,1000]},{"parameters":{"fieldToSplitOut":"novodados","options":{}},"id":"e32ac338-ab64-4d31-91dd-ed50cf554e62","name":"Item Lists","type":"n8n-nodes-base.itemLists","typeVersion":3,"position":[520,-80]},{"parameters":{"amount":"={{ $('Webhook1').item.json[\"body\"][\"espera\"] }}","unit":"seconds"},"id":"f8226d79-5a9b-4061-aaff-f8498a7b3313","name":"Wait1","type":"n8n-nodes-base.wait","typeVersion":1,"position":[1380,280],"webhookId":"5b324f7c-89fa-4770-a8e4-02fccf078f32"},{"parameters":{"fieldToSplitOut":"novodados","options":{}},"id":"19c0da64-5961-4160-a052-d4545c010ef4","name":"Item Lists1","type":"n8n-nodes-base.itemLists","typeVersion":3,"position":[520,240]},{"parameters":{"method":"POST","url":"={{ $('Info Base').item.json[\"urlapi\"] }}/message/sendText/{{ $('Info Base').item.json[\"estancia\"] }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $('Info Base').item.json[\"apikey\"] }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"number\": \"{{ $json.novodados }}\",\n    \"text\": \"{{ $('Webhook1').item.json[\"body\"][\"mensgaem\"] }}\"\n}","options":{}},"id":"6672cde5-bd8b-4748-8021-4868d0cc0081","name":"envio texto","type":"n8n-nodes-base.httpRequest","typeVersion":3,"position":[980,-60],"continueOnFail":true},{"parameters":{"method":"POST","url":"={{ $('Info Base').item.json[\"urlapi\"] }}/message/sendMedia/{{ $('Info Base').item.json[\"estancia\"] }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $('Info Base').item.json[\"apikey\"] }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"number\": \"{{ $json.novodados }}\",\n    \"mediatype\": \"{{ $('Webhook1').item.json[\"body\"][\"tipodearquivo\"] }}\",\n    \"mimetype\": \"{{ $('Webhook1').item.json[\"body\"][\"tipodearquivo\"] }}/{{ $('Info Base').item.json[\"mimetype\"] }}\",\n    \"caption\": \"{{ $('Webhook1').item.json[\"body\"][\"mensgaem\"] }}\",\n    \"media\": \"{{ $('Webhook1').item.json[\"body\"][\"arquivo\"] }}\",\n    \"fileName\": \"Arquivo.{{ $('Info Base').item.json[\"mimetype\"] }}\"\n}","options":{}},"id":"a0202693-3d1c-49be-ae6f-a62796a4c565","name":"envio media","type":"n8n-nodes-base.httpRequest","typeVersion":3,"position":[980,260],"continueOnFail":true},{"parameters":{"dataType":"string","value1":"={{ $json.body.tipodeenvio }}","rules":{"rules":[{"value2":"texto"},{"value2":"media","output":1},{"value2":"audio","output":2}]}},"id":"11e0448e-96d2-446e-ba6b-3e9af186260f","name":"Switch","type":"n8n-nodes-base.switch","typeVersion":1,"position":[240,300]},{"parameters":{"amount":"={{ $('Webhook1').item.json[\"body\"][\"espera\"] }}","unit":"seconds"},"id":"45fec014-5732-457c-b6b5-60c209d90558","name":"Wait2","type":"n8n-nodes-base.wait","typeVersion":1,"position":[1400,540],"webhookId":"5b324f7c-89fa-4770-a8e4-02fccf078f32"},{"parameters":{"fieldToSplitOut":"novodados","options":{}},"id":"a37c6d7b-1c59-4e16-b5a5-5150583d5acf","name":"Item Lists2","type":"n8n-nodes-base.itemLists","typeVersion":3,"position":[520,500]},{"parameters":{"method":"POST","url":"={{ $('Info Base').item.json[\"urlapi\"] }}/message/sendWhatsAppAudio/{{ $('Info Base').item.json[\"estancia\"] }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $('Info Base').item.json[\"apikey\"] }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"number\": \"{{ $json.novodados }}\",\n    \"audio\": \"{{ $('Webhook1').item.json[\"body\"][\"arquivo\"] }}\"\n}","options":{}},"id":"f7c3462e-cece-4c3f-ae62-607d1ce7118e","name":"envio audio","type":"n8n-nodes-base.httpRequest","typeVersion":3,"position":[980,520],"continueOnFail":true},{"parameters":{"amount":"={{ $('Webhook1').item.json[\"body\"][\"espera\"] }}","unit":"seconds"},"id":"ac418854-cd5f-4071-ae6b-ca7a3e4a72a6","name":"Wait3","type":"n8n-nodes-base.wait","typeVersion":1,"position":[1880,1100],"webhookId":"5b324f7c-89fa-4770-a8e4-02fccf078f32"},{"parameters":{"assignments":{"assignments":[{"id":"4b7f55a4-a128-4065-8953-40463a666f3e","name":"gruposId","value":"={{ $json[\"body\"][\"gruposcomid\"].split(\"\\n\").map(grupo => ({ id: grupo.match(/^\\d+/)[0], nome: grupo.match(/^[^()]+/)[0].trim(), idGrupo: grupo.match(/(\\d+@g\\.us)/)[0] })) }}","type":"array"}]},"options":{}},"id":"8793b21d-9a59-4abf-97fd-0ef2d04e2750","name":"Grupos ID","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[600,960]},{"parameters":{"assignments":{"assignments":[{"id":"4b7f55a4-a128-4065-8953-40463a666f3e","name":"grupossemID","value":"={{ $('Webhook1').item.json[\"body\"][\"gruposescolhidos\"].split(\",\") }}","type":"array"}]},"options":{}},"id":"9c3c425b-b9d6-4de3-ab3c-d509e21439bf","name":"Grupos sem ID","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[600,1160]},{"parameters":{"fieldToSplitOut":"grupossemID","options":{}},"id":"4171e205-507d-4de7-89ec-7881b90f48b0","name":"Lista sem ID","type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[800,1160],"executeOnce":true},{"parameters":{"fieldToSplitOut":"gruposId","options":{}},"id":"494e6abb-89e4-4341-ab5b-d9343be9bdd7","name":"Lista com ID","type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[800,960]},{"parameters":{"mode":"combine","mergeByFields":{"values":[{"field1":"id","field2":"grupossemID"}]},"options":{}},"id":"b0311cb5-32e7-4a59-8f43-2c78b0217cac","name":"Merge","type":"n8n-nodes-base.merge","typeVersion":2.1,"position":[1040,1060],"executeOnce":false},{"parameters":{"amount":"={{ $('Webhook1').item.json[\"body\"][\"espera\"] }}","unit":"seconds"},"id":"eadda994-5f16-45b9-86bb-b0854e280c1e","name":"Wait4","type":"n8n-nodes-base.wait","typeVersion":1,"position":[1880,1540],"webhookId":"5b324f7c-89fa-4770-a8e4-02fccf078f32"},{"parameters":{"assignments":{"assignments":[{"id":"4b7f55a4-a128-4065-8953-40463a666f3e","name":"gruposId","value":"={{ $json[\"body\"][\"gruposcomid\"].split(\"\\n\").map(grupo => ({ id: grupo.match(/^\\d+/)[0], nome: grupo.match(/^[^()]+/)[0].trim(), idGrupo: grupo.match(/(\\d+@g\\.us)/)[0] })) }}","type":"array"}]},"options":{}},"id":"60353ec2-93d1-493a-9ec3-848f2624167a","name":"Grupos ID1","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[600,1400]},{"parameters":{"assignments":{"assignments":[{"id":"4b7f55a4-a128-4065-8953-40463a666f3e","name":"grupossemID","value":"={{ $('Webhook1').item.json[\"body\"][\"gruposescolhidos\"].split(\",\") }}","type":"array"}]},"options":{}},"id":"38997d94-44ca-4966-a27c-8a88e753f8d5","name":"Grupos sem ID1","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[600,1600]},{"parameters":{"fieldToSplitOut":"grupossemID","options":{}},"id":"e2fbe244-4003-46f6-b980-0ed3559e4e45","name":"Lista sem ID1","type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[800,1600],"executeOnce":true},{"parameters":{"fieldToSplitOut":"gruposId","options":{}},"id":"3b6f8205-3afc-4d11-b022-b08275033755","name":"Lista com ID1","type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[800,1400]},{"parameters":{"mode":"combine","mergeByFields":{"values":[{"field1":"id","field2":"grupossemID"}]},"options":{}},"id":"a383b0ed-ea93-47e8-b435-74db7912be16","name":"Merge1","type":"n8n-nodes-base.merge","typeVersion":2.1,"position":[1040,1500]},{"parameters":{"dataType":"string","value1":"={{ $('Webhook1').item.json[\"body\"][\"tipodeenvio\"] }}","rules":{"rules":[{"value2":"texto"},{"value2":"media","output":1},{"value2":"audio","output":2}]}},"id":"117f406a-8fdf-4479-af58-46b0f8cc8a4b","name":"Switch2","type":"n8n-nodes-base.switch","typeVersion":1,"position":[180,1260]},{"parameters":{"amount":"={{ $('Webhook1').item.json[\"body\"][\"espera\"] }}","unit":"seconds"},"id":"d11519b6-c9a1-4b2d-999f-8640532506fa","name":"Wait5","type":"n8n-nodes-base.wait","typeVersion":1,"position":[1900,1960],"webhookId":"5b324f7c-89fa-4770-a8e4-02fccf078f32"},{"parameters":{"assignments":{"assignments":[{"id":"4b7f55a4-a128-4065-8953-40463a666f3e","name":"gruposId","value":"={{ $json[\"body\"][\"gruposcomid\"].split(\"\\n\").map(grupo => ({ id: grupo.match(/^\\d+/)[0], nome: grupo.match(/^[^()]+/)[0].trim(), idGrupo: grupo.match(/(\\d+@g\\.us)/)[0] })) }}","type":"array"}]},"options":{}},"id":"5b086881-9db2-458e-a8cd-42ea02cdeedd","name":"Grupos ID2","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[600,1820]},{"parameters":{"assignments":{"assignments":[{"id":"4b7f55a4-a128-4065-8953-40463a666f3e","name":"grupossemID","value":"={{ $('Webhook1').item.json[\"body\"][\"gruposescolhidos\"].split(\",\") }}","type":"array"}]},"options":{}},"id":"277c4c59-e968-48b2-b08c-ac84282b2970","name":"Grupos sem ID2","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[600,2020]},{"parameters":{"fieldToSplitOut":"grupossemID","options":{}},"id":"936a1baf-0702-42de-b07d-0073fa66b27b","name":"Lista sem ID2","type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[800,2020],"executeOnce":true},{"parameters":{"fieldToSplitOut":"gruposId","options":{}},"id":"b2bab9b7-af59-4273-9afb-c7a7d93b323c","name":"Lista com ID2","type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[800,1820]},{"parameters":{"mode":"combine","mergeByFields":{"values":[{"field1":"id","field2":"grupossemID"}]},"options":{}},"id":"dac75d32-a4da-448c-b168-c4ccf21d4a3b","name":"Merge2","type":"n8n-nodes-base.merge","typeVersion":2.1,"position":[1040,1920]},{"parameters":{"method":"POST","url":"={{ $('Info Base').item.json[\"urlapi\"] }}/message/sendText/{{ $('Info Base').item.json[\"estancia\"] }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $('Info Base').item.json[\"apikey\"] }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"number\": \"{{ $json.idGrupo }}\",\n    \"text\": \"{{ $('Webhook1').item.json[\"body\"][\"mensgaem\"] }}\",\n    \"mentionsEveryOne\": {{ $('Webhook1').item.json[\"body\"][\"marcacaofantasma\"]=== '1' ? true : false }}\n}","options":{}},"id":"0ea5b855-1d62-4ed0-9ce7-c5d2b2af39a2","name":"envio texto grupos","type":"n8n-nodes-base.httpRequest","typeVersion":3,"position":[1480,1080],"continueOnFail":true},{"parameters":{"method":"POST","url":"={{ $('Info Base').item.json[\"urlapi\"] }}/message/sendMedia/{{ $('Info Base').item.json[\"estancia\"] }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $('Info Base').item.json[\"apikey\"] }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"number\": \"{{ $('Split In Batches4').item.json[\"idGrupo\"] }}\",\n    \"mediatype\": \"{{ $('Webhook1').item.json[\"body\"][\"tipodearquivo\"] }}\",\n    \"mimetype\": \"{{ $('Webhook1').item.json[\"body\"][\"tipodearquivo\"] }}/{{ $('Info Base').item.json[\"mimetype\"] }}\",\n    \"caption\": \"{{ $('Webhook1').item.json[\"body\"][\"mensgaem\"] }}\",\n    \"media\": \"{{ $('Webhook1').item.json[\"body\"][\"arquivo\"] }}\",\n    \"fileName\": \"Arquivo.{{ $('Info Base').item.json[\"mimetype\"] }}\",\n    \"mentionsEveryOne\": {{ $('Webhook1').item.json[\"body\"][\"marcacaofantasma\"]=== '1' ? true : false }}\n}","options":{}},"id":"b6aba3e4-7e42-4c6b-9694-bf0ca1c80906","name":"envio media grupos","type":"n8n-nodes-base.httpRequest","typeVersion":3,"position":[1500,1520],"continueOnFail":true},{"parameters":{"method":"POST","url":"={{ $('Info Base').item.json[\"urlapi\"] }}/message/sendWhatsAppAudio/{{ $('Info Base').item.json[\"estancia\"] }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $('Info Base').item.json[\"apikey\"] }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"number\": \"{{ $json.idGrupo }}\",\n    \"audio\": \"{{ $('Webhook1').item.json[\"body\"][\"arquivo\"] }}\"\n}","options":{}},"id":"a3d1e5c6-382c-4844-9cdc-a6247ad106bc","name":"envio audio grupos","type":"n8n-nodes-base.httpRequest","typeVersion":3,"position":[1500,1940],"continueOnFail":true},{"parameters":{"content":"## Dispara mensagens Privadas ","height":959.9395819202564,"width":1474.8476935783312},"id":"8e5d3bcd-a72a-4b38-a689-c27022a1f7b2","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[120,-200]},{"parameters":{"content":"## Dispara mensagens para grupos","height":1336.062962993942,"width":1978.6342180786864,"color":4},"id":"89a68cab-9c4a-402b-a65d-0cba3374fadb","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[120,880]},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"leftValue":"={{ $('Webhook1').item.json[\"body\"][\"segmentodeenvio\"] }}","rightValue":"privado","operator":{"type":"string","operation":"equals"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"3bc82505-3d31-418c-a7bd-1bab91aeabd1","leftValue":"={{ $('Webhook1').item.json[\"body\"][\"segmentodeenvio\"] }}","rightValue":"grupo","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"adee1a03-f4b6-49fb-ab20-73cbd67bd523","leftValue":"={{ $('Webhook1').item.json[\"body\"][\"segmentodeenvio\"] }}","rightValue":"chatwoot","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}}]},"options":{}},"id":"fbab90be-1c41-4d67-ad83-0284c87b5499","name":"Switch1","type":"n8n-nodes-base.switch","typeVersion":3,"position":[-420,1000]},{"parameters":{"operation":"xls","options":{"fileName":"=relatorio_de_envios_{{ new Date($now).toLocaleDateString(\"pt-BR\", { day: \"2-digit\", month: \"2-digit\", year: \"numeric\" }).replace(/\\//g, \"-\") + \"_\" + new Date($now).toLocaleTimeString(\"pt-BR\", { hour: \"2-digit\", minute: \"2-digit\" }) }}.xls"}},"id":"81b6459d-3628-47b8-9a13-a605110ba57e","name":"Convert to File","type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[4580,1480]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"48376964-cba8-4b01-baa2-d88cde444d9b","leftValue":"={{ $json.error.message }}","rightValue":"400 - \"{\\\"status\\\":400,\\\"error\\\":\\\"Bad","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"options":{}},"id":"81fab7b6-d6ca-40fe-abed-ff6578cb1baa","name":"If","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[3860,1500]},{"parameters":{"options":{}},"id":"68e1b595-0387-4b3c-9cfc-ca0153dddcad","name":"Loop Over Items3","type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[740,-80]},{"parameters":{"assignments":{"assignments":[{"id":"fd3eace2-31d6-4707-888e-1c862f374ef3","name":"NumeroEnviado","value":"={{ $json.key.remoteJid.replace(/[^0-9]/g, ''); }}","type":"string"},{"id":"acbb422d-c31a-453f-89c6-8d472e5929ac","name":"Falhou","value":"={{ $json.error.message.includes('400 - \"{\\\\\"status\\\\\":400,\\\\\"error\\\\') ? 'Envio Falhou' : $json.error.message }}","type":"string"}]},"options":{}},"id":"a67cb372-4a01-43b7-984e-526b3fd6364c","name":"Edit Fields","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[4080,1440]},{"parameters":{"fromEmail":"naoresponder@redeslinkin.com.br","toEmail":"={{ $('Webhook1').item.json.body.emailnotifica }}","subject":"Relatorio Disparo em Massa - Disparador","emailFormat":"text","text":"Olá, seus disparos em massa foram finalizados com sucesso!!\n\nObrigado.\n\n----\n\nDisparador em massa da Astra Online - (61) 99687-8959","options":{"appendAttribution":false,"attachments":"data"}},"id":"7d89d10f-f650-4277-a445-73657c65d265","name":"Send Email","type":"n8n-nodes-base.emailSend","typeVersion":2.1,"position":[4760,1480],"credentials":{"smtp":{"id":"8IbqXuL2UX60oeSM","name":"Email nao responder"}}},{"parameters":{"assignments":{"assignments":[{"id":"fd3eace2-31d6-4707-888e-1c862f374ef3","name":"NumeroEnviado","value":"={{ $json.key.remoteJid.replace(/[^0-9]/g, ''); }}","type":"string"},{"id":"acbb422d-c31a-453f-89c6-8d472e5929ac","name":"Enviado","value":"={{ $json.key.fromMe === true ? 'Enviado' : $json.key.fromMe }}","type":"string"}]},"options":{}},"id":"4f7b9e7c-5aaa-4ce9-ab3e-bd5fff98b0ff","name":"Edit Fields1","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[4080,1600]},{"parameters":{},"id":"5dfb2478-ebdd-47a1-be0b-a4864b8e57e5","name":"Merge6","type":"n8n-nodes-base.merge","typeVersion":3,"position":[4400,1480]},{"parameters":{"content":"## Relatorio final","height":483.597751931145,"width":1172.813035086036,"color":3},"id":"66e4cafe-1334-4f1a-bf51-4fdef386ce38","name":"Sticky Note3","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[3820,1320]},{"parameters":{"mode":"combine","combineBy":"combineAll","options":{}},"id":"e95bca80-9f2b-4ae4-9899-2feaeacb794b","name":"Merge7","type":"n8n-nodes-base.merge","typeVersion":3,"position":[1220,-40]},{"parameters":{"mode":"combine","combineBy":"combineAll","options":{}},"id":"48e2af81-20fc-426d-8db1-c1da74140a04","name":"Merge8","type":"n8n-nodes-base.merge","typeVersion":3,"position":[1200,280]},{"parameters":{"options":{}},"id":"3a3d0699-1dca-44a5-8263-5c8f139ffcbf","name":"Loop Over Items4","type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[740,240]},{"parameters":{"options":{}},"id":"a9bab183-e120-4ceb-96ed-a7e8de0d6762","name":"Loop Over Items5","type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[740,500]},{"parameters":{"mode":"combine","combineBy":"combineAll","options":{}},"id":"15c44b38-e5cb-4846-aa01-e75f0bec9f0f","name":"Merge9","type":"n8n-nodes-base.merge","typeVersion":3,"position":[1200,540]},{"parameters":{"options":{}},"id":"ca12c529-8fa2-4564-bbc6-edc2d02a4817","name":"Loop Over Items6","type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[1240,1060]},{"parameters":{"mode":"combine","combineBy":"combineAll","options":{}},"id":"304f178f-bb22-423a-bcc0-2009f3010e30","name":"Merge10","type":"n8n-nodes-base.merge","typeVersion":3,"position":[1700,1100]},{"parameters":{"options":{}},"id":"e589b675-a14a-4635-9c62-f23e281afef3","name":"Loop Over Items7","type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[1240,1500]},{"parameters":{"mode":"combine","combineBy":"combineAll","options":{}},"id":"6d77a8b3-1568-4dd3-b26a-0c3f83a7872d","name":"Merge11","type":"n8n-nodes-base.merge","typeVersion":3,"position":[1700,1540]},{"parameters":{"options":{}},"id":"f3e0ce7e-1b3e-414e-ae83-e69794f9d103","name":"Loop Over Items8","type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[1240,1920]},{"parameters":{"mode":"combine","combineBy":"combineAll","options":{}},"id":"52713aa8-f0bf-40e0-9bef-0b3a31db30c1","name":"Merge12","type":"n8n-nodes-base.merge","typeVersion":3,"position":[1720,1960]},{"parameters":{"httpMethod":"POST","path":"disparoemmassatrypebot","responseMode":"lastNode","options":{}},"id":"e7094755-5b03-4492-b63f-5bc5b2ffed1f","name":"Webhook1","type":"n8n-nodes-base.webhook","typeVersion":1,"position":[-800,1000],"webhookId":"5792f53c-e5ec-4b43-ab55-d0bc5d627839"}],"connections":{"Wait":{"main":[[{"node":"Loop Over Items3","type":"main","index":0}]]},"Info Base":{"main":[[{"node":"Switch1","type":"main","index":0}]]},"Item Lists":{"main":[[{"node":"Loop Over Items3","type":"main","index":0}]]},"Wait1":{"main":[[{"node":"Loop Over Items4","type":"main","index":0}]]},"Item Lists1":{"main":[[{"node":"Loop Over Items4","type":"main","index":0}]]},"envio texto":{"main":[[{"node":"Merge7","type":"main","index":0}]]},"envio media":{"main":[[{"node":"Merge8","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Item Lists","type":"main","index":0}],[{"node":"Item Lists1","type":"main","index":0}],[{"node":"Item Lists2","type":"main","index":0}]]},"Item Lists2":{"main":[[{"node":"Loop Over Items5","type":"main","index":0}]]},"envio audio":{"main":[[{"node":"Merge9","type":"main","index":0}]]},"Wait3":{"main":[[{"node":"Loop Over Items6","type":"main","index":0}]]},"Grupos ID":{"main":[[{"node":"Lista com ID","type":"main","index":0}]]},"Grupos sem ID":{"main":[[{"node":"Lista sem ID","type":"main","index":0}]]},"Lista sem ID":{"main":[[{"node":"Merge","type":"main","index":1}]]},"Lista com ID":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Merge":{"main":[[{"node":"Loop Over Items6","type":"main","index":0}]]},"Wait4":{"main":[[{"node":"Loop Over Items7","type":"main","index":0}]]},"Grupos ID1":{"main":[[{"node":"Lista com ID1","type":"main","index":0}]]},"Grupos sem ID1":{"main":[[{"node":"Lista sem ID1","type":"main","index":0}]]},"Lista sem ID1":{"main":[[{"node":"Merge1","type":"main","index":1}]]},"Lista com ID1":{"main":[[{"node":"Merge1","type":"main","index":0}]]},"Merge1":{"main":[[{"node":"Loop Over Items7","type":"main","index":0}]]},"Switch2":{"main":[[{"node":"Grupos sem ID","type":"main","index":0},{"node":"Grupos ID","type":"main","index":0}],[{"node":"Grupos sem ID1","type":"main","index":0},{"node":"Grupos ID1","type":"main","index":0}],[{"node":"Grupos ID2","type":"main","index":0},{"node":"Grupos sem ID2","type":"main","index":0}]]},"Wait5":{"main":[[{"node":"Loop Over Items8","type":"main","index":0}]]},"Grupos ID2":{"main":[[{"node":"Lista com ID2","type":"main","index":0}]]},"Grupos sem ID2":{"main":[[{"node":"Lista sem ID2","type":"main","index":0}]]},"Lista sem ID2":{"main":[[{"node":"Merge2","type":"main","index":1}]]},"Lista com ID2":{"main":[[{"node":"Merge2","type":"main","index":0}]]},"Merge2":{"main":[[{"node":"Loop Over Items8","type":"main","index":0}]]},"envio texto grupos":{"main":[[{"node":"Merge10","type":"main","index":0}]]},"envio media grupos":{"main":[[{"node":"Merge11","type":"main","index":0}]]},"envio audio grupos":{"main":[[{"node":"Merge12","type":"main","index":0}]]},"Switch1":{"main":[[{"node":"Switch","type":"main","index":0},{"node":"If","type":"main","index":0}],[{"node":"Switch2","type":"main","index":0}],[]]},"If":{"main":[[{"node":"Edit Fields","type":"main","index":0}],[{"node":"Edit Fields1","type":"main","index":0}]]},"Loop Over Items3":{"main":[[{"node":"If","type":"main","index":0}],[{"node":"envio texto","type":"main","index":0},{"node":"Merge7","type":"main","index":1}]]},"Edit Fields":{"main":[[{"node":"Merge6","type":"main","index":0}]]},"Convert to File":{"main":[[{"node":"Send Email","type":"main","index":0}]]},"Edit Fields1":{"main":[[{"node":"Merge6","type":"main","index":1}]]},"Merge6":{"main":[[{"node":"Convert to File","type":"main","index":0}]]},"Merge7":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Loop Over Items4":{"main":[[{"node":"If","type":"main","index":0}],[{"node":"envio media","type":"main","index":0},{"node":"Merge8","type":"main","index":1}]]},"Merge8":{"main":[[{"node":"Wait1","type":"main","index":0}]]},"Loop Over Items5":{"main":[[{"node":"If","type":"main","index":0}],[{"node":"envio audio","type":"main","index":0},{"node":"Merge9","type":"main","index":1}]]},"Wait2":{"main":[[{"node":"Loop Over Items5","type":"main","index":0}]]},"Merge9":{"main":[[{"node":"Wait2","type":"main","index":0}]]},"Loop Over Items6":{"main":[[{"node":"If","type":"main","index":0}],[{"node":"envio texto grupos","type":"main","index":0},{"node":"Merge10","type":"main","index":1}]]},"Merge10":{"main":[[{"node":"Wait3","type":"main","index":0}]]},"Loop Over Items7":{"main":[[{"node":"If","type":"main","index":0}],[{"node":"envio media grupos","type":"main","index":0},{"node":"Merge11","type":"main","index":1}]]},"Merge11":{"main":[[{"node":"Wait4","type":"main","index":0}]]},"Merge12":{"main":[[{"node":"Wait5","type":"main","index":0}]]},"Loop Over Items8":{"main":[[{"node":"If","type":"main","index":0}],[{"node":"envio audio grupos","type":"main","index":0},{"node":"Merge12","type":"main","index":1}]]},"Webhook1":{"main":[[{"node":"Info Base","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"1138b0a8-a06e-4098-9783-dfb8aa4b0031","activeVersionId":"1138b0a8-a06e-4098-9783-dfb8aa4b0031","triggerCount":1,"shared":[{"updatedAt":"2024-12-03T22:28:49.482Z","createdAt":"2024-12-03T22:28:49.482Z","role":"workflow:owner","workflowId":"fd8fa5LCyP5nKDcx","projectId":"9hAKJPuMlcuGxWxS"}],"activeVersion":{"updatedAt":"2026-01-14T12:01:56.530Z","createdAt":"2026-01-14T12:01:56.530Z","versionId":"1138b0a8-a06e-4098-9783-dfb8aa4b0031","workflowId":"fd8fa5LCyP5nKDcx","nodes":[{"parameters":{"amount":"={{ $('Webhook1').item.json[\"body\"][\"espera\"] }}","unit":"seconds"},"id":"7425441a-6558-4690-b33c-fcd845ced9c6","name":"Wait","type":"n8n-nodes-base.wait","typeVersion":1,"position":[1400,-40],"webhookId":"5b324f7c-89fa-4770-a8e4-02fccf078f32"},{"parameters":{"values":{"string":[{"name":"=novodados","value":"={{ $('Webhook1').item.json[\"body\"][\"numeros\"].split(\"\\n\") }}"},{"name":"apikey","value":"={{ $json.body.apikey }}"},{"name":"urlapi","value":"={{ $json.body.urlapi }}"},{"name":"estancia","value":"={{ $json.body.estancia }}"},{"name":"tipodeenvio","value":"={{ $json.body.tipodeenvio }}"},{"name":"tipodearquivo","value":"={{ $json.body.tipodearquivo }}"},{"name":"mimetype","value":"={{ $('Webhook1').item.json[\"body\"][\"mimetype\"] }}"}]},"options":{}},"id":"fe0fa90f-0c93-4bae-82e1-d4cf42ef7086","name":"Info Base","type":"n8n-nodes-base.set","typeVersion":1,"position":[-620,1000]},{"parameters":{"fieldToSplitOut":"novodados","options":{}},"id":"e32ac338-ab64-4d31-91dd-ed50cf554e62","name":"Item Lists","type":"n8n-nodes-base.itemLists","typeVersion":3,"position":[520,-80]},{"parameters":{"amount":"={{ $('Webhook1').item.json[\"body\"][\"espera\"] }}","unit":"seconds"},"id":"f8226d79-5a9b-4061-aaff-f8498a7b3313","name":"Wait1","type":"n8n-nodes-base.wait","typeVersion":1,"position":[1380,280],"webhookId":"5b324f7c-89fa-4770-a8e4-02fccf078f32"},{"parameters":{"fieldToSplitOut":"novodados","options":{}},"id":"19c0da64-5961-4160-a052-d4545c010ef4","name":"Item Lists1","type":"n8n-nodes-base.itemLists","typeVersion":3,"position":[520,240]},{"parameters":{"method":"POST","url":"={{ $('Info Base').item.json[\"urlapi\"] }}/message/sendText/{{ $('Info Base').item.json[\"estancia\"] }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $('Info Base').item.json[\"apikey\"] }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"number\": \"{{ $json.novodados }}\",\n    \"text\": \"{{ $('Webhook1').item.json[\"body\"][\"mensgaem\"] }}\"\n}","options":{}},"id":"6672cde5-bd8b-4748-8021-4868d0cc0081","name":"envio texto","type":"n8n-nodes-base.httpRequest","typeVersion":3,"position":[980,-60],"continueOnFail":true},{"parameters":{"method":"POST","url":"={{ $('Info Base').item.json[\"urlapi\"] }}/message/sendMedia/{{ $('Info Base').item.json[\"estancia\"] }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $('Info Base').item.json[\"apikey\"] }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"number\": \"{{ $json.novodados }}\",\n    \"mediatype\": \"{{ $('Webhook1').item.json[\"body\"][\"tipodearquivo\"] }}\",\n    \"mimetype\": \"{{ $('Webhook1').item.json[\"body\"][\"tipodearquivo\"] }}/{{ $('Info Base').item.json[\"mimetype\"] }}\",\n    \"caption\": \"{{ $('Webhook1').item.json[\"body\"][\"mensgaem\"] }}\",\n    \"media\": \"{{ $('Webhook1').item.json[\"body\"][\"arquivo\"] }}\",\n    \"fileName\": \"Arquivo.{{ $('Info Base').item.json[\"mimetype\"] }}\"\n}","options":{}},"id":"a0202693-3d1c-49be-ae6f-a62796a4c565","name":"envio media","type":"n8n-nodes-base.httpRequest","typeVersion":3,"position":[980,260],"continueOnFail":true},{"parameters":{"dataType":"string","value1":"={{ $json.body.tipodeenvio }}","rules":{"rules":[{"value2":"texto"},{"value2":"media","output":1},{"value2":"audio","output":2}]}},"id":"11e0448e-96d2-446e-ba6b-3e9af186260f","name":"Switch","type":"n8n-nodes-base.switch","typeVersion":1,"position":[240,300]},{"parameters":{"amount":"={{ $('Webhook1').item.json[\"body\"][\"espera\"] }}","unit":"seconds"},"id":"45fec014-5732-457c-b6b5-60c209d90558","name":"Wait2","type":"n8n-nodes-base.wait","typeVersion":1,"position":[1400,540],"webhookId":"5b324f7c-89fa-4770-a8e4-02fccf078f32"},{"parameters":{"fieldToSplitOut":"novodados","options":{}},"id":"a37c6d7b-1c59-4e16-b5a5-5150583d5acf","name":"Item Lists2","type":"n8n-nodes-base.itemLists","typeVersion":3,"position":[520,500]},{"parameters":{"method":"POST","url":"={{ $('Info Base').item.json[\"urlapi\"] }}/message/sendWhatsAppAudio/{{ $('Info Base').item.json[\"estancia\"] }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $('Info Base').item.json[\"apikey\"] }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"number\": \"{{ $json.novodados }}\",\n    \"audio\": \"{{ $('Webhook1').item.json[\"body\"][\"arquivo\"] }}\"\n}","options":{}},"id":"f7c3462e-cece-4c3f-ae62-607d1ce7118e","name":"envio audio","type":"n8n-nodes-base.httpRequest","typeVersion":3,"position":[980,520],"continueOnFail":true},{"parameters":{"amount":"={{ $('Webhook1').item.json[\"body\"][\"espera\"] }}","unit":"seconds"},"id":"ac418854-cd5f-4071-ae6b-ca7a3e4a72a6","name":"Wait3","type":"n8n-nodes-base.wait","typeVersion":1,"position":[1880,1100],"webhookId":"5b324f7c-89fa-4770-a8e4-02fccf078f32"},{"parameters":{"assignments":{"assignments":[{"id":"4b7f55a4-a128-4065-8953-40463a666f3e","name":"gruposId","value":"={{ $json[\"body\"][\"gruposcomid\"].split(\"\\n\").map(grupo => ({ id: grupo.match(/^\\d+/)[0], nome: grupo.match(/^[^()]+/)[0].trim(), idGrupo: grupo.match(/(\\d+@g\\.us)/)[0] })) }}","type":"array"}]},"options":{}},"id":"8793b21d-9a59-4abf-97fd-0ef2d04e2750","name":"Grupos ID","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[600,960]},{"parameters":{"assignments":{"assignments":[{"id":"4b7f55a4-a128-4065-8953-40463a666f3e","name":"grupossemID","value":"={{ $('Webhook1').item.json[\"body\"][\"gruposescolhidos\"].split(\",\") }}","type":"array"}]},"options":{}},"id":"9c3c425b-b9d6-4de3-ab3c-d509e21439bf","name":"Grupos sem ID","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[600,1160]},{"parameters":{"fieldToSplitOut":"grupossemID","options":{}},"id":"4171e205-507d-4de7-89ec-7881b90f48b0","name":"Lista sem ID","type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[800,1160],"executeOnce":true},{"parameters":{"fieldToSplitOut":"gruposId","options":{}},"id":"494e6abb-89e4-4341-ab5b-d9343be9bdd7","name":"Lista com ID","type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[800,960]},{"parameters":{"mode":"combine","mergeByFields":{"values":[{"field1":"id","field2":"grupossemID"}]},"options":{}},"id":"b0311cb5-32e7-4a59-8f43-2c78b0217cac","name":"Merge","type":"n8n-nodes-base.merge","typeVersion":2.1,"position":[1040,1060],"executeOnce":false},{"parameters":{"amount":"={{ $('Webhook1').item.json[\"body\"][\"espera\"] }}","unit":"seconds"},"id":"eadda994-5f16-45b9-86bb-b0854e280c1e","name":"Wait4","type":"n8n-nodes-base.wait","typeVersion":1,"position":[1880,1540],"webhookId":"5b324f7c-89fa-4770-a8e4-02fccf078f32"},{"parameters":{"assignments":{"assignments":[{"id":"4b7f55a4-a128-4065-8953-40463a666f3e","name":"gruposId","value":"={{ $json[\"body\"][\"gruposcomid\"].split(\"\\n\").map(grupo => ({ id: grupo.match(/^\\d+/)[0], nome: grupo.match(/^[^()]+/)[0].trim(), idGrupo: grupo.match(/(\\d+@g\\.us)/)[0] })) }}","type":"array"}]},"options":{}},"id":"60353ec2-93d1-493a-9ec3-848f2624167a","name":"Grupos ID1","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[600,1400]},{"parameters":{"assignments":{"assignments":[{"id":"4b7f55a4-a128-4065-8953-40463a666f3e","name":"grupossemID","value":"={{ $('Webhook1').item.json[\"body\"][\"gruposescolhidos\"].split(\",\") }}","type":"array"}]},"options":{}},"id":"38997d94-44ca-4966-a27c-8a88e753f8d5","name":"Grupos sem ID1","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[600,1600]},{"parameters":{"fieldToSplitOut":"grupossemID","options":{}},"id":"e2fbe244-4003-46f6-b980-0ed3559e4e45","name":"Lista sem ID1","type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[800,1600],"executeOnce":true},{"parameters":{"fieldToSplitOut":"gruposId","options":{}},"id":"3b6f8205-3afc-4d11-b022-b08275033755","name":"Lista com ID1","type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[800,1400]},{"parameters":{"mode":"combine","mergeByFields":{"values":[{"field1":"id","field2":"grupossemID"}]},"options":{}},"id":"a383b0ed-ea93-47e8-b435-74db7912be16","name":"Merge1","type":"n8n-nodes-base.merge","typeVersion":2.1,"position":[1040,1500]},{"parameters":{"dataType":"string","value1":"={{ $('Webhook1').item.json[\"body\"][\"tipodeenvio\"] }}","rules":{"rules":[{"value2":"texto"},{"value2":"media","output":1},{"value2":"audio","output":2}]}},"id":"117f406a-8fdf-4479-af58-46b0f8cc8a4b","name":"Switch2","type":"n8n-nodes-base.switch","typeVersion":1,"position":[180,1260]},{"parameters":{"amount":"={{ $('Webhook1').item.json[\"body\"][\"espera\"] }}","unit":"seconds"},"id":"d11519b6-c9a1-4b2d-999f-8640532506fa","name":"Wait5","type":"n8n-nodes-base.wait","typeVersion":1,"position":[1900,1960],"webhookId":"5b324f7c-89fa-4770-a8e4-02fccf078f32"},{"parameters":{"assignments":{"assignments":[{"id":"4b7f55a4-a128-4065-8953-40463a666f3e","name":"gruposId","value":"={{ $json[\"body\"][\"gruposcomid\"].split(\"\\n\").map(grupo => ({ id: grupo.match(/^\\d+/)[0], nome: grupo.match(/^[^()]+/)[0].trim(), idGrupo: grupo.match(/(\\d+@g\\.us)/)[0] })) }}","type":"array"}]},"options":{}},"id":"5b086881-9db2-458e-a8cd-42ea02cdeedd","name":"Grupos ID2","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[600,1820]},{"parameters":{"assignments":{"assignments":[{"id":"4b7f55a4-a128-4065-8953-40463a666f3e","name":"grupossemID","value":"={{ $('Webhook1').item.json[\"body\"][\"gruposescolhidos\"].split(\",\") }}","type":"array"}]},"options":{}},"id":"277c4c59-e968-48b2-b08c-ac84282b2970","name":"Grupos sem ID2","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[600,2020]},{"parameters":{"fieldToSplitOut":"grupossemID","options":{}},"id":"936a1baf-0702-42de-b07d-0073fa66b27b","name":"Lista sem ID2","type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[800,2020],"executeOnce":true},{"parameters":{"fieldToSplitOut":"gruposId","options":{}},"id":"b2bab9b7-af59-4273-9afb-c7a7d93b323c","name":"Lista com ID2","type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[800,1820]},{"parameters":{"mode":"combine","mergeByFields":{"values":[{"field1":"id","field2":"grupossemID"}]},"options":{}},"id":"dac75d32-a4da-448c-b168-c4ccf21d4a3b","name":"Merge2","type":"n8n-nodes-base.merge","typeVersion":2.1,"position":[1040,1920]},{"parameters":{"method":"POST","url":"={{ $('Info Base').item.json[\"urlapi\"] }}/message/sendText/{{ $('Info Base').item.json[\"estancia\"] }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $('Info Base').item.json[\"apikey\"] }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"number\": \"{{ $json.idGrupo }}\",\n    \"text\": \"{{ $('Webhook1').item.json[\"body\"][\"mensgaem\"] }}\",\n    \"mentionsEveryOne\": {{ $('Webhook1').item.json[\"body\"][\"marcacaofantasma\"]=== '1' ? true : false }}\n}","options":{}},"id":"0ea5b855-1d62-4ed0-9ce7-c5d2b2af39a2","name":"envio texto grupos","type":"n8n-nodes-base.httpRequest","typeVersion":3,"position":[1480,1080],"continueOnFail":true},{"parameters":{"method":"POST","url":"={{ $('Info Base').item.json[\"urlapi\"] }}/message/sendMedia/{{ $('Info Base').item.json[\"estancia\"] }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $('Info Base').item.json[\"apikey\"] }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"number\": \"{{ $('Split In Batches4').item.json[\"idGrupo\"] }}\",\n    \"mediatype\": \"{{ $('Webhook1').item.json[\"body\"][\"tipodearquivo\"] }}\",\n    \"mimetype\": \"{{ $('Webhook1').item.json[\"body\"][\"tipodearquivo\"] }}/{{ $('Info Base').item.json[\"mimetype\"] }}\",\n    \"caption\": \"{{ $('Webhook1').item.json[\"body\"][\"mensgaem\"] }}\",\n    \"media\": \"{{ $('Webhook1').item.json[\"body\"][\"arquivo\"] }}\",\n    \"fileName\": \"Arquivo.{{ $('Info Base').item.json[\"mimetype\"] }}\",\n    \"mentionsEveryOne\": {{ $('Webhook1').item.json[\"body\"][\"marcacaofantasma\"]=== '1' ? true : false }}\n}","options":{}},"id":"b6aba3e4-7e42-4c6b-9694-bf0ca1c80906","name":"envio media grupos","type":"n8n-nodes-base.httpRequest","typeVersion":3,"position":[1500,1520],"continueOnFail":true},{"parameters":{"method":"POST","url":"={{ $('Info Base').item.json[\"urlapi\"] }}/message/sendWhatsAppAudio/{{ $('Info Base').item.json[\"estancia\"] }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $('Info Base').item.json[\"apikey\"] }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"number\": \"{{ $json.idGrupo }}\",\n    \"audio\": \"{{ $('Webhook1').item.json[\"body\"][\"arquivo\"] }}\"\n}","options":{}},"id":"a3d1e5c6-382c-4844-9cdc-a6247ad106bc","name":"envio audio grupos","type":"n8n-nodes-base.httpRequest","typeVersion":3,"position":[1500,1940],"continueOnFail":true},{"parameters":{"content":"## Dispara mensagens Privadas ","height":959.9395819202564,"width":1474.8476935783312},"id":"8e5d3bcd-a72a-4b38-a689-c27022a1f7b2","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[120,-200]},{"parameters":{"content":"## Dispara mensagens para grupos","height":1336.062962993942,"width":1978.6342180786864,"color":4},"id":"89a68cab-9c4a-402b-a65d-0cba3374fadb","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[120,880]},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"leftValue":"={{ $('Webhook1').item.json[\"body\"][\"segmentodeenvio\"] }}","rightValue":"privado","operator":{"type":"string","operation":"equals"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"3bc82505-3d31-418c-a7bd-1bab91aeabd1","leftValue":"={{ $('Webhook1').item.json[\"body\"][\"segmentodeenvio\"] }}","rightValue":"grupo","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"adee1a03-f4b6-49fb-ab20-73cbd67bd523","leftValue":"={{ $('Webhook1').item.json[\"body\"][\"segmentodeenvio\"] }}","rightValue":"chatwoot","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}}]},"options":{}},"id":"fbab90be-1c41-4d67-ad83-0284c87b5499","name":"Switch1","type":"n8n-nodes-base.switch","typeVersion":3,"position":[-420,1000]},{"parameters":{"operation":"xls","options":{"fileName":"=relatorio_de_envios_{{ new Date($now).toLocaleDateString(\"pt-BR\", { day: \"2-digit\", month: \"2-digit\", year: \"numeric\" }).replace(/\\//g, \"-\") + \"_\" + new Date($now).toLocaleTimeString(\"pt-BR\", { hour: \"2-digit\", minute: \"2-digit\" }) }}.xls"}},"id":"81b6459d-3628-47b8-9a13-a605110ba57e","name":"Convert to File","type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[4580,1480]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"48376964-cba8-4b01-baa2-d88cde444d9b","leftValue":"={{ $json.error.message }}","rightValue":"400 - \"{\\\"status\\\":400,\\\"error\\\":\\\"Bad","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"options":{}},"id":"81fab7b6-d6ca-40fe-abed-ff6578cb1baa","name":"If","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[3860,1500]},{"parameters":{"options":{}},"id":"68e1b595-0387-4b3c-9cfc-ca0153dddcad","name":"Loop Over Items3","type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[740,-80]},{"parameters":{"assignments":{"assignments":[{"id":"fd3eace2-31d6-4707-888e-1c862f374ef3","name":"NumeroEnviado","value":"={{ $json.key.remoteJid.replace(/[^0-9]/g, ''); }}","type":"string"},{"id":"acbb422d-c31a-453f-89c6-8d472e5929ac","name":"Falhou","value":"={{ $json.error.message.includes('400 - \"{\\\\\"status\\\\\":400,\\\\\"error\\\\') ? 'Envio Falhou' : $json.error.message }}","type":"string"}]},"options":{}},"id":"a67cb372-4a01-43b7-984e-526b3fd6364c","name":"Edit Fields","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[4080,1440]},{"parameters":{"fromEmail":"naoresponder@redeslinkin.com.br","toEmail":"={{ $('Webhook1').item.json.body.emailnotifica }}","subject":"Relatorio Disparo em Massa - Disparador","emailFormat":"text","text":"Olá, seus disparos em massa foram finalizados com sucesso!!\n\nObrigado.\n\n----\n\nDisparador em massa da Astra Online - (61) 99687-8959","options":{"appendAttribution":false,"attachments":"data"}},"id":"7d89d10f-f650-4277-a445-73657c65d265","name":"Send Email","type":"n8n-nodes-base.emailSend","typeVersion":2.1,"position":[4760,1480],"credentials":{"smtp":{"id":"8IbqXuL2UX60oeSM","name":"Email nao responder"}}},{"parameters":{"assignments":{"assignments":[{"id":"fd3eace2-31d6-4707-888e-1c862f374ef3","name":"NumeroEnviado","value":"={{ $json.key.remoteJid.replace(/[^0-9]/g, ''); }}","type":"string"},{"id":"acbb422d-c31a-453f-89c6-8d472e5929ac","name":"Enviado","value":"={{ $json.key.fromMe === true ? 'Enviado' : $json.key.fromMe }}","type":"string"}]},"options":{}},"id":"4f7b9e7c-5aaa-4ce9-ab3e-bd5fff98b0ff","name":"Edit Fields1","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[4080,1600]},{"parameters":{},"id":"5dfb2478-ebdd-47a1-be0b-a4864b8e57e5","name":"Merge6","type":"n8n-nodes-base.merge","typeVersion":3,"position":[4400,1480]},{"parameters":{"content":"## Relatorio final","height":483.597751931145,"width":1172.813035086036,"color":3},"id":"66e4cafe-1334-4f1a-bf51-4fdef386ce38","name":"Sticky Note3","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[3820,1320]},{"parameters":{"mode":"combine","combineBy":"combineAll","options":{}},"id":"e95bca80-9f2b-4ae4-9899-2feaeacb794b","name":"Merge7","type":"n8n-nodes-base.merge","typeVersion":3,"position":[1220,-40]},{"parameters":{"mode":"combine","combineBy":"combineAll","options":{}},"id":"48e2af81-20fc-426d-8db1-c1da74140a04","name":"Merge8","type":"n8n-nodes-base.merge","typeVersion":3,"position":[1200,280]},{"parameters":{"options":{}},"id":"3a3d0699-1dca-44a5-8263-5c8f139ffcbf","name":"Loop Over Items4","type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[740,240]},{"parameters":{"options":{}},"id":"a9bab183-e120-4ceb-96ed-a7e8de0d6762","name":"Loop Over Items5","type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[740,500]},{"parameters":{"mode":"combine","combineBy":"combineAll","options":{}},"id":"15c44b38-e5cb-4846-aa01-e75f0bec9f0f","name":"Merge9","type":"n8n-nodes-base.merge","typeVersion":3,"position":[1200,540]},{"parameters":{"options":{}},"id":"ca12c529-8fa2-4564-bbc6-edc2d02a4817","name":"Loop Over Items6","type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[1240,1060]},{"parameters":{"mode":"combine","combineBy":"combineAll","options":{}},"id":"304f178f-bb22-423a-bcc0-2009f3010e30","name":"Merge10","type":"n8n-nodes-base.merge","typeVersion":3,"position":[1700,1100]},{"parameters":{"options":{}},"id":"e589b675-a14a-4635-9c62-f23e281afef3","name":"Loop Over Items7","type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[1240,1500]},{"parameters":{"mode":"combine","combineBy":"combineAll","options":{}},"id":"6d77a8b3-1568-4dd3-b26a-0c3f83a7872d","name":"Merge11","type":"n8n-nodes-base.merge","typeVersion":3,"position":[1700,1540]},{"parameters":{"options":{}},"id":"f3e0ce7e-1b3e-414e-ae83-e69794f9d103","name":"Loop Over Items8","type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[1240,1920]},{"parameters":{"mode":"combine","combineBy":"combineAll","options":{}},"id":"52713aa8-f0bf-40e0-9bef-0b3a31db30c1","name":"Merge12","type":"n8n-nodes-base.merge","typeVersion":3,"position":[1720,1960]},{"parameters":{"httpMethod":"POST","path":"disparoemmassatrypebot","responseMode":"lastNode","options":{}},"id":"e7094755-5b03-4492-b63f-5bc5b2ffed1f","name":"Webhook1","type":"n8n-nodes-base.webhook","typeVersion":1,"position":[-800,1000],"webhookId":"5792f53c-e5ec-4b43-ab55-d0bc5d627839"}],"connections":{"Wait":{"main":[[{"node":"Loop Over Items3","type":"main","index":0}]]},"Info Base":{"main":[[{"node":"Switch1","type":"main","index":0}]]},"Item Lists":{"main":[[{"node":"Loop Over Items3","type":"main","index":0}]]},"Wait1":{"main":[[{"node":"Loop Over Items4","type":"main","index":0}]]},"Item Lists1":{"main":[[{"node":"Loop Over Items4","type":"main","index":0}]]},"envio texto":{"main":[[{"node":"Merge7","type":"main","index":0}]]},"envio media":{"main":[[{"node":"Merge8","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Item Lists","type":"main","index":0}],[{"node":"Item Lists1","type":"main","index":0}],[{"node":"Item Lists2","type":"main","index":0}]]},"Item Lists2":{"main":[[{"node":"Loop Over Items5","type":"main","index":0}]]},"envio audio":{"main":[[{"node":"Merge9","type":"main","index":0}]]},"Wait3":{"main":[[{"node":"Loop Over Items6","type":"main","index":0}]]},"Grupos ID":{"main":[[{"node":"Lista com ID","type":"main","index":0}]]},"Grupos sem ID":{"main":[[{"node":"Lista sem ID","type":"main","index":0}]]},"Lista sem ID":{"main":[[{"node":"Merge","type":"main","index":1}]]},"Lista com ID":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Merge":{"main":[[{"node":"Loop Over Items6","type":"main","index":0}]]},"Wait4":{"main":[[{"node":"Loop Over Items7","type":"main","index":0}]]},"Grupos ID1":{"main":[[{"node":"Lista com ID1","type":"main","index":0}]]},"Grupos sem ID1":{"main":[[{"node":"Lista sem ID1","type":"main","index":0}]]},"Lista sem ID1":{"main":[[{"node":"Merge1","type":"main","index":1}]]},"Lista com ID1":{"main":[[{"node":"Merge1","type":"main","index":0}]]},"Merge1":{"main":[[{"node":"Loop Over Items7","type":"main","index":0}]]},"Switch2":{"main":[[{"node":"Grupos sem ID","type":"main","index":0},{"node":"Grupos ID","type":"main","index":0}],[{"node":"Grupos sem ID1","type":"main","index":0},{"node":"Grupos ID1","type":"main","index":0}],[{"node":"Grupos ID2","type":"main","index":0},{"node":"Grupos sem ID2","type":"main","index":0}]]},"Wait5":{"main":[[{"node":"Loop Over Items8","type":"main","index":0}]]},"Grupos ID2":{"main":[[{"node":"Lista com ID2","type":"main","index":0}]]},"Grupos sem ID2":{"main":[[{"node":"Lista sem ID2","type":"main","index":0}]]},"Lista sem ID2":{"main":[[{"node":"Merge2","type":"main","index":1}]]},"Lista com ID2":{"main":[[{"node":"Merge2","type":"main","index":0}]]},"Merge2":{"main":[[{"node":"Loop Over Items8","type":"main","index":0}]]},"envio texto grupos":{"main":[[{"node":"Merge10","type":"main","index":0}]]},"envio media grupos":{"main":[[{"node":"Merge11","type":"main","index":0}]]},"envio audio grupos":{"main":[[{"node":"Merge12","type":"main","index":0}]]},"Switch1":{"main":[[{"node":"Switch","type":"main","index":0},{"node":"If","type":"main","index":0}],[{"node":"Switch2","type":"main","index":0}],[]]},"If":{"main":[[{"node":"Edit Fields","type":"main","index":0}],[{"node":"Edit Fields1","type":"main","index":0}]]},"Loop Over Items3":{"main":[[{"node":"If","type":"main","index":0}],[{"node":"envio texto","type":"main","index":0},{"node":"Merge7","type":"main","index":1}]]},"Edit Fields":{"main":[[{"node":"Merge6","type":"main","index":0}]]},"Convert to File":{"main":[[{"node":"Send Email","type":"main","index":0}]]},"Edit Fields1":{"main":[[{"node":"Merge6","type":"main","index":1}]]},"Merge6":{"main":[[{"node":"Convert to File","type":"main","index":0}]]},"Merge7":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Loop Over Items4":{"main":[[{"node":"If","type":"main","index":0}],[{"node":"envio media","type":"main","index":0},{"node":"Merge8","type":"main","index":1}]]},"Merge8":{"main":[[{"node":"Wait1","type":"main","index":0}]]},"Loop Over Items5":{"main":[[{"node":"If","type":"main","index":0}],[{"node":"envio audio","type":"main","index":0},{"node":"Merge9","type":"main","index":1}]]},"Wait2":{"main":[[{"node":"Loop Over Items5","type":"main","index":0}]]},"Merge9":{"main":[[{"node":"Wait2","type":"main","index":0}]]},"Loop Over Items6":{"main":[[{"node":"If","type":"main","index":0}],[{"node":"envio texto grupos","type":"main","index":0},{"node":"Merge10","type":"main","index":1}]]},"Merge10":{"main":[[{"node":"Wait3","type":"main","index":0}]]},"Loop Over Items7":{"main":[[{"node":"If","type":"main","index":0}],[{"node":"envio media grupos","type":"main","index":0},{"node":"Merge11","type":"main","index":1}]]},"Merge11":{"main":[[{"node":"Wait4","type":"main","index":0}]]},"Merge12":{"main":[[{"node":"Wait5","type":"main","index":0}]]},"Loop Over Items8":{"main":[[{"node":"If","type":"main","index":0}],[{"node":"envio audio grupos","type":"main","index":0},{"node":"Merge12","type":"main","index":1}]]},"Webhook1":{"main":[[{"node":"Info Base","type":"main","index":0}]]}},"authors":"system migration","name":null,"description":null,"autosaved":false},"tags":[]}