envia-mensagem-automatica-da-instancia-webber-47ujrB71iHZ5f1Ne.json
{"updatedAt":"2025-11-11T10:16:09.659Z","createdAt":"2025-11-10T22:06:22.974Z","id":"47ujrB71iHZ5f1Ne","name":"Envia mensagem automatica da instancia Webber","active":true,"isArchived":false,"nodes":[{"parameters":{"operation":"fetch-instances","instanceName":"webber"},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[208,0],"id":"6059cb3e-29d5-48aa-a874-b833013bbaac","name":"Buscar instancia","credentials":{"evolutionApi":{"id":"z5m5bQunXbjwn9Z1","name":"Develop"}}},{"parameters":{"fieldToSplitOut":"data","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[400,0],"id":"90b374ed-bcd8-4995-8410-ad097f156ea3","name":"Separa cada instancia"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"0598e2d3-da3b-4fad-9bab-02995b0d95b2","leftValue":"={{ $json.connectionStatus }}","rightValue":"connecting","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}},{"id":"b509bcc0-fcba-4adb-b4db-ea66a4268751","leftValue":"={{ $json.connectionStatus }}","rightValue":"close","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"or"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[544,0],"id":"63d808ac-3869-4d57-9738-68d122916ee6","name":"If"},{"parameters":{"resource":"messages-api","instanceName":"RedesLinkin","remoteJid":"5553981210344","messageText":"=Olá, essa é uma mensagem automática, o seu Whatsapp se encontra desconectado\ndesde o dia {{    new Date($json.disconnectionAt).toLocaleString(\"pt-BR\", {      timeZone: \"America/Sao_Paulo\",     year: \"numeric\",     month: \"2-digit\",     day: \"2-digit\",     hour: \"2-digit\",     minute: \"2-digit\",     second: \"2-digit\"   })  }}","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[736,0],"id":"a1f9e4ce-6ee2-4bc4-b74f-f77d4543c89c","name":"Enviar texto","credentials":{"evolutionApi":{"id":"z5m5bQunXbjwn9Z1","name":"Develop"}}},{"parameters":{"rule":{"interval":[{"field":"hours","hoursInterval":6}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[16,0],"id":"66c34c62-5686-421e-adde-de08ff4d0a29","name":"Schedule Trigger1"}],"connections":{"Buscar instancia":{"main":[[{"node":"Separa cada instancia","type":"main","index":0}]]},"Separa cada instancia":{"main":[[{"node":"If","type":"main","index":0}]]},"If":{"main":[[{"node":"Enviar texto","type":"main","index":0}]]},"Schedule Trigger1":{"main":[[{"node":"Buscar instancia","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Schedule Trigger1":{"recurrenceRules":[6]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"a98ef73a-7738-4e01-b8ee-ca49b8f105e6","activeVersionId":"a98ef73a-7738-4e01-b8ee-ca49b8f105e6","triggerCount":1,"shared":[{"updatedAt":"2025-11-10T22:06:22.974Z","createdAt":"2025-11-10T22:06:22.974Z","role":"workflow:owner","workflowId":"47ujrB71iHZ5f1Ne","projectId":"9hAKJPuMlcuGxWxS"}],"activeVersion":{"updatedAt":"2026-01-14T12:01:56.530Z","createdAt":"2026-01-14T12:01:56.530Z","versionId":"a98ef73a-7738-4e01-b8ee-ca49b8f105e6","workflowId":"47ujrB71iHZ5f1Ne","nodes":[{"parameters":{"operation":"fetch-instances","instanceName":"webber"},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[208,0],"id":"6059cb3e-29d5-48aa-a874-b833013bbaac","name":"Buscar instancia","credentials":{"evolutionApi":{"id":"z5m5bQunXbjwn9Z1","name":"Develop"}}},{"parameters":{"fieldToSplitOut":"data","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[400,0],"id":"90b374ed-bcd8-4995-8410-ad097f156ea3","name":"Separa cada instancia"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"0598e2d3-da3b-4fad-9bab-02995b0d95b2","leftValue":"={{ $json.connectionStatus }}","rightValue":"connecting","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}},{"id":"b509bcc0-fcba-4adb-b4db-ea66a4268751","leftValue":"={{ $json.connectionStatus }}","rightValue":"close","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"or"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[544,0],"id":"63d808ac-3869-4d57-9738-68d122916ee6","name":"If"},{"parameters":{"resource":"messages-api","instanceName":"RedesLinkin","remoteJid":"5553981210344","messageText":"=Olá, essa é uma mensagem automática, o seu Whatsapp se encontra desconectado\ndesde o dia {{    new Date($json.disconnectionAt).toLocaleString(\"pt-BR\", {      timeZone: \"America/Sao_Paulo\",     year: \"numeric\",     month: \"2-digit\",     day: \"2-digit\",     hour: \"2-digit\",     minute: \"2-digit\",     second: \"2-digit\"   })  }}","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[736,0],"id":"a1f9e4ce-6ee2-4bc4-b74f-f77d4543c89c","name":"Enviar texto","credentials":{"evolutionApi":{"id":"z5m5bQunXbjwn9Z1","name":"Develop"}}},{"parameters":{"rule":{"interval":[{"field":"hours","hoursInterval":6}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[16,0],"id":"66c34c62-5686-421e-adde-de08ff4d0a29","name":"Schedule Trigger1"}],"connections":{"Buscar instancia":{"main":[[{"node":"Separa cada instancia","type":"main","index":0}]]},"Separa cada instancia":{"main":[[{"node":"If","type":"main","index":0}]]},"If":{"main":[[{"node":"Enviar texto","type":"main","index":0}]]},"Schedule Trigger1":{"main":[[{"node":"Buscar instancia","type":"main","index":0}]]}},"authors":"system migration","name":null,"description":null,"autosaved":false},"tags":[]}