envia-boleto-em-pdf-vhnet-IUKCXKOiDxqOxDDG.json
{"createdAt":"2025-10-17T15:54:25.598Z","updatedAt":"2025-10-17T15:57:59.038Z","id":"IUKCXKOiDxqOxDDG","name":"ENVIA BOLETO EM PDF VHNET","active":true,"isArchived":false,"nodes":[{"parameters":{"method":"POST","url":"={{ $('Variaveis').item.json.url_Gerador_Pdf }}","sendBody":true,"contentType":"raw","rawContentType":"text/html","body":"={{ $json.data }}","options":{}},"id":"23b321c7-5429-4498-8970-ed47ccfbddbe","name":"HTTP Request","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-480,-16],"alwaysOutputData":false},{"parameters":{"url":"={{ $json.url_mk }}/boleto/boleto.hhvm?titulo={{ $json.numero_Titulo }}&contrato={{ $json.login }}","options":{}},"id":"7499a212-a6a2-4fbf-a1db-245b1e9ead11","name":"HTTP Request1","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-656,-16]},{"parameters":{"operation":"binaryToPropery","options":{}},"id":"43ded6d8-15de-4e26-a202-d9b35d7f0b62","name":"Extract from File2","type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[-288,-16]},{"parameters":{"method":"POST","url":"https://develop.redeslinkin.com.br/message/sendMedia/RedesLinkin","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"6C5073192655-4D04-8F80-58886C0E1708"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"number\": \"{{ $('Webhook').item.json.body.remoteJid }}\",\n    \"mediatype\": \"document\", \n    \"caption\": \"{{ $('Webhook').item.json.body.nome }}\",\n    \"media\": \"{{ $json.data }}\",\n    \"fileName\": \"{{ $('Webhook').item.json.body.escolha_index }}.pdf\"\n}","options":{}},"id":"e652de7d-512a-4011-92e1-d08c0f8c6dd8","name":"HTTP Request2","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-304,-288]},{"parameters":{"httpMethod":"POST","path":"vhnet","options":{}},"id":"4ac70632-6631-4892-88c7-778c068ebec2","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-1056,-16],"webhookId":"e05f26c7-f898-4a2b-9d99-f62dfc0196e1"},{"parameters":{"resource":"messages-api","operation":"send-document","instanceName":"RedesLinkin","remoteJid":"={{ $('Webhook').item.json.body.remoteJid }}","media":"={{ $json.data }}","caption":"=","fileName":"={{ $('Webhook').item.json.body.datavenc }}.pdf","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[-112,-16],"id":"66552dde-69aa-4921-9a34-3590e1e7ac4c","name":"Envia boleto","credentials":{"evolutionApi":{"id":"z5m5bQunXbjwn9Z1","name":"Develop"}}},{"parameters":{"assignments":{"assignments":[{"id":"ecd9c4e1-120d-45ae-b915-f28baa6a37b6","name":"url_mk","value":"https://vhnet.net.br","type":"string"},{"id":"e518eedd-5a53-4e0a-b749-e12fa48103f1","name":"numero_Titulo","value":"={{ $json.body.titulo }}","type":"string"},{"id":"ac4d53e9-164e-4a32-a820-17cbbbc1b93d","name":"login","value":"={{ $json.body.login }}","type":"string"},{"id":"624a8605-eb92-430d-bbeb-68a7dbceb634","name":"url_Gerador_Pdf","value":"http://5.75.129.6:4000","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-848,-16],"id":"bd67dda4-e002-49f2-b231-1b51e8ff9ba2","name":"Variaveis"}],"connections":{"HTTP Request":{"main":[[{"node":"Extract from File2","type":"main","index":0}]]},"HTTP Request1":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"Extract from File2":{"main":[[{"node":"Envia boleto","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"Variaveis","type":"main","index":0}]]},"HTTP Request2":{"main":[[]]},"Variaveis":{"main":[[{"node":"HTTP Request1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"933ea5af-5b05-4bda-be49-b1efc09a41a0","triggerCount":1,"shared":[{"createdAt":"2025-10-17T15:54:25.598Z","updatedAt":"2025-10-17T15:54:25.598Z","role":"workflow:owner","workflowId":"IUKCXKOiDxqOxDDG","projectId":"9hAKJPuMlcuGxWxS"}],"tags":[{"createdAt":"2025-10-17T15:54:21.715Z","updatedAt":"2025-10-17T15:54:21.715Z","id":"rjG9wnXPleY56UOy","name":"VHNET"},{"createdAt":"2025-10-17T15:04:13.105Z","updatedAt":"2025-10-17T15:04:13.105Z","id":"Rh8Xz3IHTHKgY5WU","name":"BOLETO PDF"}]}