envia-boleto-em-pdf-redeslinkin-kyKF2OtlJaeowumn.json
{"updatedAt":"2024-12-12T11:00:00.411Z","createdAt":"2024-11-04T12:11:11.595Z","id":"kyKF2OtlJaeowumn","name":"ENVIA BOLETO EM PDF REDESLINKIN","active":true,"isArchived":false,"nodes":[{"parameters":{"method":"POST","url":"http://5.75.129.6:4000","sendBody":true,"contentType":"raw","rawContentType":"text/html","body":"={{ $json.data }}","options":{}},"id":"94d85b8f-3825-47c4-bfa2-31f7a9de23dd","name":"HTTP Request","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-480,-20],"alwaysOutputData":false},{"parameters":{"url":"=https://sistema.redeslinkin.com.br/boleto/boleto.hhvm?titulo={{ $json.body.titulo }}&contrato={{ $json.body.login }}","options":{}},"id":"0f51ff67-b9b5-480d-8349-16fd7801604a","name":"HTTP Request1","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-660,-20]},{"parameters":{"operation":"binaryToPropery","options":{}},"id":"3057b770-c829-4964-b191-72994408d79b","name":"Extract from File2","type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[-280,-20]},{"parameters":{"method":"POST","url":"https://develop.redeslinkin.com.br/message/sendMedia/RedesLinkin","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"6C5073192655-4D04-8F80-58886C0E1708"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"number\": \"{{ $('Webhook').item.json.body.remoteJid }}\",\n    \"mediatype\": \"document\", \n    \"caption\": \"{{ $('Webhook').item.json.body.nome }}\",\n    \"media\": \"{{ $json.data }}\",\n    \"fileName\": \"{{ $('Webhook').item.json.body.escolha_index }}.pdf\"\n}","options":{}},"id":"a71dc219-d545-4ec9-8a14-5ca3029070c3","name":"HTTP Request2","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-80,-20]},{"parameters":{"httpMethod":"POST","path":"mk-auth","options":{}},"id":"47cfb58e-e8fe-4d0e-82e8-262627b07319","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-820,-20],"webhookId":"b9f19e4a-1dac-42d4-b80e-87b991619649"}],"connections":{"HTTP Request":{"main":[[{"node":"Extract from File2","type":"main","index":0}]]},"HTTP Request1":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"Extract from File2":{"main":[[{"node":"HTTP Request2","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"HTTP Request1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"3125ca21-f812-4631-8e6f-64eb9a3c1e93","activeVersionId":"3125ca21-f812-4631-8e6f-64eb9a3c1e93","triggerCount":1,"shared":[{"updatedAt":"2024-11-04T12:11:11.595Z","createdAt":"2024-11-04T12:11:11.595Z","role":"workflow:owner","workflowId":"kyKF2OtlJaeowumn","projectId":"9hAKJPuMlcuGxWxS"}],"activeVersion":{"updatedAt":"2026-01-14T12:01:56.530Z","createdAt":"2026-01-14T12:01:56.530Z","versionId":"3125ca21-f812-4631-8e6f-64eb9a3c1e93","workflowId":"kyKF2OtlJaeowumn","nodes":[{"parameters":{"method":"POST","url":"http://5.75.129.6:4000","sendBody":true,"contentType":"raw","rawContentType":"text/html","body":"={{ $json.data }}","options":{}},"id":"94d85b8f-3825-47c4-bfa2-31f7a9de23dd","name":"HTTP Request","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-480,-20],"alwaysOutputData":false},{"parameters":{"url":"=https://sistema.redeslinkin.com.br/boleto/boleto.hhvm?titulo={{ $json.body.titulo }}&contrato={{ $json.body.login }}","options":{}},"id":"0f51ff67-b9b5-480d-8349-16fd7801604a","name":"HTTP Request1","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-660,-20]},{"parameters":{"operation":"binaryToPropery","options":{}},"id":"3057b770-c829-4964-b191-72994408d79b","name":"Extract from File2","type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[-280,-20]},{"parameters":{"method":"POST","url":"https://develop.redeslinkin.com.br/message/sendMedia/RedesLinkin","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"6C5073192655-4D04-8F80-58886C0E1708"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"number\": \"{{ $('Webhook').item.json.body.remoteJid }}\",\n    \"mediatype\": \"document\", \n    \"caption\": \"{{ $('Webhook').item.json.body.nome }}\",\n    \"media\": \"{{ $json.data }}\",\n    \"fileName\": \"{{ $('Webhook').item.json.body.escolha_index }}.pdf\"\n}","options":{}},"id":"a71dc219-d545-4ec9-8a14-5ca3029070c3","name":"HTTP Request2","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-80,-20]},{"parameters":{"httpMethod":"POST","path":"mk-auth","options":{}},"id":"47cfb58e-e8fe-4d0e-82e8-262627b07319","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-820,-20],"webhookId":"b9f19e4a-1dac-42d4-b80e-87b991619649"}],"connections":{"HTTP Request":{"main":[[{"node":"Extract from File2","type":"main","index":0}]]},"HTTP Request1":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"Extract from File2":{"main":[[{"node":"HTTP Request2","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"HTTP Request1","type":"main","index":0}]]}},"authors":"system migration","name":null,"description":null,"autosaved":false},"tags":[]}