envia-boleto-em-pdf-jaxnet-e-relatorio-de-cadastro-HihM1xMafag0Ijbj.json
{"createdAt":"2025-12-26T17:02:54.185Z","updatedAt":"2025-12-26T23:18:46.248Z","id":"HihM1xMafag0Ijbj","name":"ENVIA BOLETO EM PDF JAXNET E RELATORIO DE CADASTRO","active":true,"isArchived":false,"nodes":[{"parameters":{"method":"POST","url":"={{ $('Variaveis').item.json.url_Gerador_Pdf }}","sendBody":true,"contentType":"raw","rawContentType":"text/html","body":"={{ $json.data }}","options":{}},"id":"0e9a3de8-5662-4ac6-9a73-e78a2a0ae615","name":"HTTP Request","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-480,-16],"alwaysOutputData":false},{"parameters":{"url":"={{ $json.url_mk }}/boleto/boleto.hhvm?titulo={{ $json.numero_Titulo }}&contrato={{ $json.login }}","options":{}},"id":"5c436088-c52e-43c3-99ff-93ea0097bb2c","name":"HTTP Request1","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-656,-16]},{"parameters":{"operation":"binaryToPropery","options":{}},"id":"3bd864d0-50d2-4d05-8957-ef0d480b13a8","name":"Extract from File2","type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[-288,-16]},{"parameters":{"method":"POST","url":"https://develop.redeslinkin.com.br/message/sendMedia/RedesLinkin","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"6C5073192655-4D04-8F80-58886C0E1708"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"number\": \"{{ $('Webhook').item.json.body.remoteJid }}\",\n    \"mediatype\": \"document\", \n    \"caption\": \"{{ $('Webhook').item.json.body.nome }}\",\n    \"media\": \"{{ $json.data }}\",\n    \"fileName\": \"{{ $('Webhook').item.json.body.escolha_index }}.pdf\"\n}","options":{}},"id":"fc478909-81ac-48b9-9a66-b02414a0ee85","name":"HTTP Request2","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-48,-288]},{"parameters":{"httpMethod":"POST","path":"jaxnet","options":{}},"id":"2237fc6f-0754-4ff9-a6cf-d62c14ec2b15","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-1056,-16],"webhookId":"918b8e13-a880-48a3-9d62-9863726cab51"},{"parameters":{"resource":"messages-api","operation":"send-document","instanceName":"jaxnet","remoteJid":"={{ $('Webhook').item.json.body.remoteJid }}","media":"={{ $json.data }}","caption":"=","fileName":"={{ $('Webhook').item.json.body.datavenc }}.pdf","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[-112,-16],"id":"ba1d730e-fd59-40d9-8f9c-ad5bed9a58cc","name":"Envia boleto","credentials":{"evolutionApi":{"id":"z5m5bQunXbjwn9Z1","name":"Develop"}}},{"parameters":{"assignments":{"assignments":[{"id":"ecd9c4e1-120d-45ae-b915-f28baa6a37b6","name":"url_mk","value":"https://jaxnet.com.br","type":"string"},{"id":"e518eedd-5a53-4e0a-b749-e12fa48103f1","name":"numero_Titulo","value":"={{ $json.body.titulo }}","type":"string"},{"id":"ac4d53e9-164e-4a32-a820-17cbbbc1b93d","name":"login","value":"={{ $json.body.login }}","type":"string"},{"id":"624a8605-eb92-430d-bbeb-68a7dbceb634","name":"url_Gerador_Pdf","value":"http://5.75.129.6:4000","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-848,-16],"id":"09919670-5485-4cb9-a159-33367757e75d","name":"Variaveis"},{"parameters":{"httpMethod":"POST","path":"jaxnett","options":{}},"id":"93189ae8-43dc-4fbe-b37c-00437bdeeaa3","name":"Webhook1","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-1024,-256],"webhookId":"918b8e13-a880-48a3-9d62-9863726cab51"},{"parameters":{"resource":"messages-api","instanceName":"jaxnet","remoteJid":"553197137900","messageText":"=Cadastro recebido! Veja seus dados abaixo\n\n{{ $json.body }}","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[-576,-256],"id":"3ffc59ac-371f-460f-af2d-a9a4714f8a52","name":"Enviar texto","credentials":{"evolutionApi":{"id":"z5m5bQunXbjwn9Z1","name":"Develop"}}},{"parameters":{"jsCode":"// input: items (array do n8n)\nreturn items.map(item => {\n  const body = item.json.body || '';\n  item.json.body = body.replace('@s.whatsapp.net', '');\n  return item;\n});\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-816,-256],"id":"50b9f83f-76eb-439f-9ca5-e44761b473e4","name":"Code in JavaScript"}],"connections":{"HTTP Request":{"main":[[{"node":"Extract from File2","type":"main","index":0}]]},"HTTP Request1":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"Extract from File2":{"main":[[{"node":"Envia boleto","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"Variaveis","type":"main","index":0}]]},"HTTP Request2":{"main":[[]]},"Variaveis":{"main":[[{"node":"HTTP Request1","type":"main","index":0}]]},"Webhook1":{"main":[[{"node":"Code in JavaScript","type":"main","index":0}]]},"Enviar texto":{"main":[[]]},"Code in JavaScript":{"main":[[{"node":"Enviar texto","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"b01337d5-e465-42f4-9431-e8f415739b55","triggerCount":2,"shared":[{"createdAt":"2025-12-26T17:02:54.185Z","updatedAt":"2025-12-26T17:02:54.185Z","role":"workflow:owner","workflowId":"HihM1xMafag0Ijbj","projectId":"9hAKJPuMlcuGxWxS"}],"tags":[{"createdAt":"2025-10-17T15:04:13.105Z","updatedAt":"2025-10-17T15:04:13.105Z","id":"Rh8Xz3IHTHKgY5WU","name":"BOLETO PDF"},{"createdAt":"2025-12-26T16:56:51.743Z","updatedAt":"2025-12-26T16:56:51.743Z","id":"1ipEejxohDelYYXo","name":"Jaxnet"}]}