envia-boleto-em-pdf-igs-ffQqMdYfpNtSwSzl.json
{"updatedAt":"2025-10-17T15:43:55.356Z","createdAt":"2025-10-17T15:04:14.335Z","id":"ffQqMdYfpNtSwSzl","name":"ENVIA BOLETO EM PDF IGS","active":true,"isArchived":false,"nodes":[{"parameters":{"method":"POST","url":"={{ $('Variaveis').item.json.url_Gerador_Pdf }}","sendBody":true,"contentType":"raw","rawContentType":"text/html","body":"={{ $json.data }}","options":{}},"id":"bfef211c-e3b3-4660-b9ff-a189fd5e4a84","name":"HTTP Request","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-480,-16],"alwaysOutputData":false},{"parameters":{"url":"={{ $json.url_mk }}/boleto/boleto.hhvm?titulo={{ $json.numero_Titulo }}&contrato={{ $json.login }}","options":{}},"id":"ad47cd0d-0e4d-44d3-a303-538a094a683c","name":"HTTP Request1","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-656,-16]},{"parameters":{"operation":"binaryToPropery","options":{}},"id":"349ea2ee-0a12-4e46-8039-28d0e644d499","name":"Extract from File2","type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[-288,-16]},{"parameters":{"method":"POST","url":"https://develop.redeslinkin.com.br/message/sendMedia/RedesLinkin","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"6C5073192655-4D04-8F80-58886C0E1708"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"number\": \"{{ $('Webhook').item.json.body.remoteJid }}\",\n    \"mediatype\": \"document\", \n    \"caption\": \"{{ $('Webhook').item.json.body.nome }}\",\n    \"media\": \"{{ $json.data }}\",\n    \"fileName\": \"{{ $('Webhook').item.json.body.escolha_index }}.pdf\"\n}","options":{}},"id":"c0e9cfb8-66eb-47a0-8947-e33400a81818","name":"HTTP Request2","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-304,-288]},{"parameters":{"httpMethod":"POST","path":"igs","options":{}},"id":"56120051-7c36-4ab1-9e8d-ca81e1e7d14e","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-1056,-16],"webhookId":"3912f408-fcda-47f0-a54e-d04a10939002"},{"parameters":{"resource":"messages-api","operation":"send-document","instanceName":"igs","remoteJid":"={{ $('Webhook').item.json.body.remoteJid }}","media":"={{ $json.data }}","caption":"=","fileName":"={{ $('Webhook').item.json.body.datavenc }}.pdf","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[-112,-16],"id":"2d13935b-8552-4fd3-a646-981c6d43e7dd","name":"Envia boleto","credentials":{"evolutionApi":{"id":"z5m5bQunXbjwn9Z1","name":"Develop"}}},{"parameters":{"assignments":{"assignments":[{"id":"ecd9c4e1-120d-45ae-b915-f28baa6a37b6","name":"url_mk","value":"https://igstelecom.com.br","type":"string"},{"id":"e518eedd-5a53-4e0a-b749-e12fa48103f1","name":"numero_Titulo","value":"={{ $json.body.titulo }}","type":"string"},{"id":"ac4d53e9-164e-4a32-a820-17cbbbc1b93d","name":"login","value":"={{ $json.body.login }}","type":"string"},{"id":"624a8605-eb92-430d-bbeb-68a7dbceb634","name":"url_Gerador_Pdf","value":"http://5.75.129.6:4000","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-848,-16],"id":"99edd788-68fd-44df-93f2-a9df2a9c3ad3","name":"Variaveis"}],"connections":{"HTTP Request":{"main":[[{"node":"Extract from File2","type":"main","index":0}]]},"HTTP Request1":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"Extract from File2":{"main":[[{"node":"Envia boleto","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"Variaveis","type":"main","index":0}]]},"HTTP Request2":{"main":[[]]},"Variaveis":{"main":[[{"node":"HTTP Request1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"354f7a42-bcc6-49ae-b576-e5d2057db694","activeVersionId":"354f7a42-bcc6-49ae-b576-e5d2057db694","triggerCount":1,"shared":[{"updatedAt":"2025-10-17T15:04:14.335Z","createdAt":"2025-10-17T15:04:14.335Z","role":"workflow:owner","workflowId":"ffQqMdYfpNtSwSzl","projectId":"9hAKJPuMlcuGxWxS"}],"activeVersion":{"updatedAt":"2026-01-14T12:01:56.530Z","createdAt":"2026-01-14T12:01:56.530Z","versionId":"354f7a42-bcc6-49ae-b576-e5d2057db694","workflowId":"ffQqMdYfpNtSwSzl","nodes":[{"parameters":{"method":"POST","url":"={{ $('Variaveis').item.json.url_Gerador_Pdf }}","sendBody":true,"contentType":"raw","rawContentType":"text/html","body":"={{ $json.data }}","options":{}},"id":"bfef211c-e3b3-4660-b9ff-a189fd5e4a84","name":"HTTP Request","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-480,-16],"alwaysOutputData":false},{"parameters":{"url":"={{ $json.url_mk }}/boleto/boleto.hhvm?titulo={{ $json.numero_Titulo }}&contrato={{ $json.login }}","options":{}},"id":"ad47cd0d-0e4d-44d3-a303-538a094a683c","name":"HTTP Request1","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-656,-16]},{"parameters":{"operation":"binaryToPropery","options":{}},"id":"349ea2ee-0a12-4e46-8039-28d0e644d499","name":"Extract from File2","type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[-288,-16]},{"parameters":{"method":"POST","url":"https://develop.redeslinkin.com.br/message/sendMedia/RedesLinkin","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"6C5073192655-4D04-8F80-58886C0E1708"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"number\": \"{{ $('Webhook').item.json.body.remoteJid }}\",\n    \"mediatype\": \"document\", \n    \"caption\": \"{{ $('Webhook').item.json.body.nome }}\",\n    \"media\": \"{{ $json.data }}\",\n    \"fileName\": \"{{ $('Webhook').item.json.body.escolha_index }}.pdf\"\n}","options":{}},"id":"c0e9cfb8-66eb-47a0-8947-e33400a81818","name":"HTTP Request2","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-304,-288]},{"parameters":{"httpMethod":"POST","path":"igs","options":{}},"id":"56120051-7c36-4ab1-9e8d-ca81e1e7d14e","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-1056,-16],"webhookId":"3912f408-fcda-47f0-a54e-d04a10939002"},{"parameters":{"resource":"messages-api","operation":"send-document","instanceName":"igs","remoteJid":"={{ $('Webhook').item.json.body.remoteJid }}","media":"={{ $json.data }}","caption":"=","fileName":"={{ $('Webhook').item.json.body.datavenc }}.pdf","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[-112,-16],"id":"2d13935b-8552-4fd3-a646-981c6d43e7dd","name":"Envia boleto","credentials":{"evolutionApi":{"id":"z5m5bQunXbjwn9Z1","name":"Develop"}}},{"parameters":{"assignments":{"assignments":[{"id":"ecd9c4e1-120d-45ae-b915-f28baa6a37b6","name":"url_mk","value":"https://igstelecom.com.br","type":"string"},{"id":"e518eedd-5a53-4e0a-b749-e12fa48103f1","name":"numero_Titulo","value":"={{ $json.body.titulo }}","type":"string"},{"id":"ac4d53e9-164e-4a32-a820-17cbbbc1b93d","name":"login","value":"={{ $json.body.login }}","type":"string"},{"id":"624a8605-eb92-430d-bbeb-68a7dbceb634","name":"url_Gerador_Pdf","value":"http://5.75.129.6:4000","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-848,-16],"id":"99edd788-68fd-44df-93f2-a9df2a9c3ad3","name":"Variaveis"}],"connections":{"HTTP Request":{"main":[[{"node":"Extract from File2","type":"main","index":0}]]},"HTTP Request1":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"Extract from File2":{"main":[[{"node":"Envia boleto","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"Variaveis","type":"main","index":0}]]},"HTTP Request2":{"main":[[]]},"Variaveis":{"main":[[{"node":"HTTP Request1","type":"main","index":0}]]}},"authors":"system migration","name":null,"description":null,"autosaved":false},"tags":[{"updatedAt":"2025-10-17T15:04:04.491Z","createdAt":"2025-10-17T15:04:04.491Z","id":"WqHQZgXw0HPHBzf4","name":"IGS TELECOM"},{"updatedAt":"2025-10-17T15:04:13.105Z","createdAt":"2025-10-17T15:04:13.105Z","id":"Rh8Xz3IHTHKgY5WU","name":"BOLETO PDF"}]}