envia-boleto-em-pdf-fastone-bbIbwQOTrKu7RibH.json
{"createdAt":"2025-10-17T15:42:38.540Z","updatedAt":"2025-10-22T14:35:52.373Z","id":"bbIbwQOTrKu7RibH","name":"ENVIA BOLETO EM PDF FASTONE","active":true,"isArchived":false,"nodes":[{"parameters":{"method":"POST","url":"={{ $('Variaveis').item.json.url_Gerador_Pdf }}","sendBody":true,"contentType":"raw","rawContentType":"text/html","body":"={{ $json.data }}","options":{}},"id":"dd205754-d8ac-4333-8659-79359353d8fb","name":"HTTP Request","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-480,-16],"alwaysOutputData":false},{"parameters":{"url":"={{ $json.url_mk }}/boleto/boleto.hhvm?titulo={{ $json.numero_Titulo }}&contrato={{ $json.login }}","options":{}},"id":"28f312c4-abb2-4751-9fb1-5a4548b2540b","name":"HTTP Request1","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-656,-16]},{"parameters":{"operation":"binaryToPropery","options":{}},"id":"86062488-05df-466d-8de6-50714707861d","name":"Extract from File2","type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[-288,-16]},{"parameters":{"method":"POST","url":"https://develop.redeslinkin.com.br/message/sendMedia/RedesLinkin","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"6C5073192655-4D04-8F80-58886C0E1708"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"number\": \"{{ $('Webhook').item.json.body.remoteJid }}\",\n    \"mediatype\": \"document\", \n    \"caption\": \"{{ $('Webhook').item.json.body.nome }}\",\n    \"media\": \"{{ $json.data }}\",\n    \"fileName\": \"{{ $('Webhook').item.json.body.escolha_index }}.pdf\"\n}","options":{}},"id":"14751428-1ef0-4696-9007-f3d58383e81e","name":"HTTP Request2","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-304,-288]},{"parameters":{"httpMethod":"POST","path":"fastone","options":{}},"id":"5aac2cc8-a3b9-484a-bcbc-3facbdfb0b4e","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-1056,-16],"webhookId":"c80d994e-e5bd-423b-a565-61081db45b93"},{"parameters":{"resource":"messages-api","operation":"send-document","instanceName":"fastone","remoteJid":"={{ $('Webhook').item.json.body.remoteJid }}","media":"={{ $json.data }}","caption":"=","fileName":"={{ $('Webhook').item.json.body.datavenc }}.pdf","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[-112,-16],"id":"8b859cb9-cef9-48dd-b140-c67f42ff4c3d","name":"Envia boleto","credentials":{"evolutionApi":{"id":"z5m5bQunXbjwn9Z1","name":"Develop"}}},{"parameters":{"assignments":{"assignments":[{"id":"ecd9c4e1-120d-45ae-b915-f28baa6a37b6","name":"url_mk","value":"https://fastonetelecom.com.br","type":"string"},{"id":"e518eedd-5a53-4e0a-b749-e12fa48103f1","name":"numero_Titulo","value":"={{ $json.body.titulo }}","type":"string"},{"id":"ac4d53e9-164e-4a32-a820-17cbbbc1b93d","name":"login","value":"={{ $json.body.login }}","type":"string"},{"id":"624a8605-eb92-430d-bbeb-68a7dbceb634","name":"url_Gerador_Pdf","value":"http://5.75.129.6:4000","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-848,-16],"id":"73d5b0c3-9d91-4bbe-acfe-e4224ebfd0da","name":"Variaveis"}],"connections":{"HTTP Request":{"main":[[{"node":"Extract from File2","type":"main","index":0}]]},"HTTP Request1":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"Extract from File2":{"main":[[{"node":"Envia boleto","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"Variaveis","type":"main","index":0}]]},"HTTP Request2":{"main":[[]]},"Variaveis":{"main":[[{"node":"HTTP Request1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"86fbe6b9-ecce-4bd1-8eba-45f75e6f3e25","triggerCount":1,"shared":[{"createdAt":"2025-10-17T15:42:38.540Z","updatedAt":"2025-10-17T15:42:38.540Z","role":"workflow:owner","workflowId":"bbIbwQOTrKu7RibH","projectId":"9hAKJPuMlcuGxWxS"}],"tags":[{"createdAt":"2025-10-17T15:04:13.105Z","updatedAt":"2025-10-17T15:04:13.105Z","id":"Rh8Xz3IHTHKgY5WU","name":"BOLETO PDF"},{"createdAt":"2025-10-17T15:42:37.196Z","updatedAt":"2025-10-17T15:42:37.196Z","id":"pTjgGXodB9GhIKwL","name":"FASTONE"}]}