envia-mensagem-automatica-da-instancia-desconetada-47ujrB71iHZ5f1Ne.json
{"updatedAt":"2026-01-27T17:20:10.331Z","createdAt":"2025-11-10T22:06:22.974Z","id":"47ujrB71iHZ5f1Ne","name":"Envia mensagem automatica da instancia desconetada","active":false,"isArchived":false,"nodes":[{"parameters":{"operation":"fetch-instances"},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[16,-144],"id":"6059cb3e-29d5-48aa-a874-b833013bbaac","name":"Buscar instancia","credentials":{"evolutionApi":{"id":"z5m5bQunXbjwn9Z1","name":"Develop"}}},{"parameters":{"fieldToSplitOut":"data","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[240,-112],"id":"90b374ed-bcd8-4995-8410-ad097f156ea3","name":"Separa cada instancia"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"0598e2d3-da3b-4fad-9bab-02995b0d95b2","leftValue":"={{ $json.connectionStatus }}","rightValue":"connecting","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}},{"id":"b509bcc0-fcba-4adb-b4db-ea66a4268751","leftValue":"={{ $json.connectionStatus }}","rightValue":"close","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"or"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[432,-112],"id":"63d808ac-3869-4d57-9738-68d122916ee6","name":"If"},{"parameters":{"resource":"messages-api","instanceName":"RedesLinkin","remoteJid":"={{ $json.number }}","messageText":"=Olá, {{ $json.profileName }} essa é uma mensagem automática, o seu Whatsapp se encontra desconectado\ndesde o dia {{    new Date($json.disconnectionAt).toLocaleString(\"pt-BR\", {      timeZone: \"America/Sao_Paulo\",     year: \"numeric\",     month: \"2-digit\",     day: \"2-digit\",     hour: \"2-digit\",     minute: \"2-digit\",     second: \"2-digit\"   })  }}\n\nPara reconectar o whatsapp é só entrar nesse link e gerar o qrcode: https://painel.redeslinkin.com.br/app/login\n\no token que para acessar é: {{ $json.token }}\n","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[1056,-288],"id":"a1f9e4ce-6ee2-4bc4-b74f-f77d4543c89c","name":"Enviar texto","credentials":{"evolutionApi":{"id":"z5m5bQunXbjwn9Z1","name":"Develop"}}},{"parameters":{"rule":{"interval":[{"field":"hours","hoursInterval":6}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-176,-144],"id":"66c34c62-5686-421e-adde-de08ff4d0a29","name":"Schedule Trigger1"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[672,-144],"id":"64023fae-8b9a-4d5f-adb4-e42cf494f869","name":"Loop Over Items"},{"parameters":{},"type":"n8n-nodes-base.noOp","name":"Replace Me","typeVersion":1,"position":[864,-112],"id":"608edb64-6da2-45ea-81b6-25598b0400dc"},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1024,-112],"id":"791c332b-f6c2-499c-8169-d7a426119196","name":"Espera 5 segundos","webhookId":"7b1ad197-180b-40cd-a68d-4b4660dc7a9f"}],"connections":{"Buscar instancia":{"main":[[{"node":"Separa cada instancia","type":"main","index":0}]]},"Separa cada instancia":{"main":[[{"node":"If","type":"main","index":0}]]},"If":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Schedule Trigger1":{"main":[[{"node":"Buscar instancia","type":"main","index":0}]]},"Loop Over Items":{"main":[[{"node":"Enviar texto","type":"main","index":0}],[{"node":"Replace Me","type":"main","index":0}]]},"Replace Me":{"main":[[{"node":"Espera 5 segundos","type":"main","index":0}]]},"Espera 5 segundos":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Schedule Trigger1":{"recurrenceRules":[12]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"37230de5-efde-42ac-b93e-88e50c2abe25","activeVersionId":null,"triggerCount":1,"shared":[{"updatedAt":"2025-11-10T22:06:22.974Z","createdAt":"2025-11-10T22:06:22.974Z","role":"workflow:owner","workflowId":"47ujrB71iHZ5f1Ne","projectId":"9hAKJPuMlcuGxWxS"}],"activeVersion":null,"tags":[]}