envia-boleto-em-pdf-agn-qdvpKdWL24IXPSoV.json
{"updatedAt":"2024-12-12T13:23:54.606Z","createdAt":"2024-12-12T11:00:22.914Z","id":"qdvpKdWL24IXPSoV","name":"ENVIA BOLETO EM PDF AGN","active":true,"isArchived":false,"nodes":[{"parameters":{"method":"POST","url":"http://5.75.129.6:4000","sendBody":true,"contentType":"raw","rawContentType":"text/html","body":"={{ $json.data }}","options":{}},"id":"099550f3-b782-4c35-af46-7248fe53a1f0","name":"HTTP Request","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-480,-20],"alwaysOutputData":false},{"parameters":{"url":"=https://agntelecom.com.br/boleto/boleto.hhvm?titulo={{ $json.body.titulo }}&contrato={{ $json.body.login }}","options":{}},"id":"0c9dbde1-5d8c-4c99-9e43-7ae6f00a2ecc","name":"HTTP Request1","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-660,-20]},{"parameters":{"operation":"binaryToPropery","options":{}},"id":"aa24bbc4-a5c8-4ec7-9936-612b3c39a048","name":"Extract from File2","type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[-280,-20]},{"parameters":{"method":"POST","url":"https://develop.redeslinkin.com.br/message/sendMedia/RedesLinkin","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"6C5073192655-4D04-8F80-58886C0E1708"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"number\": \"{{ $('Webhook').item.json.body.remoteJid }}\",\n    \"mediatype\": \"document\", \n    \"caption\": \"{{ $('Webhook').item.json.body.nome }}\",\n    \"media\": \"{{ $json.data }}\",\n    \"fileName\": \"{{ $('Webhook').item.json.body.escolha_index }}.pdf\"\n}","options":{}},"id":"ce6a0100-14eb-4462-a49e-eed4f4eefeff","name":"HTTP Request2","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-80,-20]},{"parameters":{"httpMethod":"POST","path":"agntelecom","options":{}},"id":"2630dbd7-9411-4a4c-a16f-afb98f0dd6d0","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-820,-20],"webhookId":"5c740abe-a1bb-43ee-9b93-bdecb6003ff3"}],"connections":{"HTTP Request":{"main":[[{"node":"Extract from File2","type":"main","index":0}]]},"HTTP Request1":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"Extract from File2":{"main":[[{"node":"HTTP Request2","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"HTTP Request1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"60694c95-9638-4296-b9f9-7edee1914350","activeVersionId":"60694c95-9638-4296-b9f9-7edee1914350","triggerCount":1,"shared":[{"updatedAt":"2024-12-12T11:00:22.914Z","createdAt":"2024-12-12T11:00:22.914Z","role":"workflow:owner","workflowId":"qdvpKdWL24IXPSoV","projectId":"9hAKJPuMlcuGxWxS"}],"activeVersion":{"updatedAt":"2026-01-14T12:01:56.530Z","createdAt":"2026-01-14T12:01:56.530Z","versionId":"60694c95-9638-4296-b9f9-7edee1914350","workflowId":"qdvpKdWL24IXPSoV","nodes":[{"parameters":{"method":"POST","url":"http://5.75.129.6:4000","sendBody":true,"contentType":"raw","rawContentType":"text/html","body":"={{ $json.data }}","options":{}},"id":"099550f3-b782-4c35-af46-7248fe53a1f0","name":"HTTP Request","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-480,-20],"alwaysOutputData":false},{"parameters":{"url":"=https://agntelecom.com.br/boleto/boleto.hhvm?titulo={{ $json.body.titulo }}&contrato={{ $json.body.login }}","options":{}},"id":"0c9dbde1-5d8c-4c99-9e43-7ae6f00a2ecc","name":"HTTP Request1","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-660,-20]},{"parameters":{"operation":"binaryToPropery","options":{}},"id":"aa24bbc4-a5c8-4ec7-9936-612b3c39a048","name":"Extract from File2","type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[-280,-20]},{"parameters":{"method":"POST","url":"https://develop.redeslinkin.com.br/message/sendMedia/RedesLinkin","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"6C5073192655-4D04-8F80-58886C0E1708"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"number\": \"{{ $('Webhook').item.json.body.remoteJid }}\",\n    \"mediatype\": \"document\", \n    \"caption\": \"{{ $('Webhook').item.json.body.nome }}\",\n    \"media\": \"{{ $json.data }}\",\n    \"fileName\": \"{{ $('Webhook').item.json.body.escolha_index }}.pdf\"\n}","options":{}},"id":"ce6a0100-14eb-4462-a49e-eed4f4eefeff","name":"HTTP Request2","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-80,-20]},{"parameters":{"httpMethod":"POST","path":"agntelecom","options":{}},"id":"2630dbd7-9411-4a4c-a16f-afb98f0dd6d0","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-820,-20],"webhookId":"5c740abe-a1bb-43ee-9b93-bdecb6003ff3"}],"connections":{"HTTP Request":{"main":[[{"node":"Extract from File2","type":"main","index":0}]]},"HTTP Request1":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"Extract from File2":{"main":[[{"node":"HTTP Request2","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"HTTP Request1","type":"main","index":0}]]}},"authors":"system migration","name":null,"description":null,"autosaved":false},"tags":[{"updatedAt":"2024-12-12T11:00:21.690Z","createdAt":"2024-12-12T11:00:21.690Z","id":"7wkrE66oK4RfOi8n","name":"AGNTELECOM"}]}