fecha-sessão-typebot-redeslinkin-lmk7iPIm1C09UTfT.json
{"updatedAt":"2025-08-01T22:07:02.613Z","createdAt":"2024-11-13T11:07:12.433Z","id":"lmk7iPIm1C09UTfT","name":"Fecha sessão typebot RedesLinkin","active":false,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"field":"minutes","minutesInterval":30}]}},"id":"0ae3aaaa-1b03-4747-9ebd-3a044b0c4c14","name":"Schedule Trigger","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-200,780]},{"parameters":{"url":"https://chat.redeslinkin.com.br/api/v1/accounts/1/conversations","sendQuery":true,"queryParameters":{"parameters":[{"name":"status","value":"resolved"},{"name":"inbox_id","value":"1"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"api_access_token","value":"2P1m1utEmvJCXM1aK9Yzepno"}]},"options":{}},"id":"1b26f42a-4528-4977-8b47-9ea44a014984","name":"HTTP Request","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[80,480]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"72ef0763-58c7-44fe-8578-def4fcf0f028","leftValue":"={{ $('HTTP Request').item.json[\"data\"][\"payload\"][0][\"custom_attributes\"][\"typebot_status\"] }}","rightValue":"paused","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"id":"a67c2538-c3af-45ae-b4d7-0f4bf54876ff","name":"If","type":"n8n-nodes-base.if","typeVersion":2,"position":[240,480]},{"parameters":{"method":"POST","url":"https://develop.redeslinkin.com.br/typebot/changeStatus/RedesLinkin","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"6C5073192655-4D04-8F80-58886C0E1708"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"remoteJid\": \"{{ $('HTTP Request').item.json[\"data\"][\"payload\"][0][\"meta\"][\"sender\"][\"identifier\"] }}\",\n    \"status\": \"closed\"\n}","options":{}},"id":"27aa15b3-e87b-4770-8c18-4003d1a8105f","name":"HTTP Request1","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[460,460]},{"parameters":{"method":"POST","url":"=https://chatwoot.redeslinkin.com.br/api/v1/accounts/1/conversations/{{ $('HTTP Request').item.json[\"data\"][\"payload\"][0][\"id\"] }}/custom_attributes","sendQuery":true,"queryParameters":{"parameters":[{"name":"inbox_id","value":"1"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"api_access_token","value":"t36cf3vLFWhu6oTRh43HQfwx"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"custom_attributes\": {\n        \"typebot_status\":\"\",\n        \"protocolo\":\"{{ $('HTTP Request').item.json[\"data\"][\"payload\"][0][\"custom_attributes\"][\"protocolo\"] }}\"\n    }\n}","options":{}},"id":"548aebeb-92fe-4025-b18a-48880eba7029","name":"HTTP Request2","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[640,460]},{"parameters":{"httpMethod":"POST","path":"chatwoot","options":{}},"id":"213f1600-8eb0-4c86-a2b8-e13be8109420","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-200,440],"webhookId":"31b58da2-bc1a-4d6f-9c78-834b8ea7015d"}],"connections":{"HTTP Request":{"main":[[{"node":"If","type":"main","index":0}]]},"If":{"main":[[{"node":"HTTP Request1","type":"main","index":0}],[{"node":"HTTP Request1","type":"main","index":0}]]},"HTTP Request1":{"main":[[{"node":"HTTP Request2","type":"main","index":0}]]},"Webhook":{"main":[[]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"efe0dab4-5700-41e5-9929-d3b2c1c98d42","activeVersionId":null,"triggerCount":2,"shared":[{"updatedAt":"2024-11-13T11:07:12.433Z","createdAt":"2024-11-13T11:07:12.433Z","role":"workflow:owner","workflowId":"lmk7iPIm1C09UTfT","projectId":"9hAKJPuMlcuGxWxS"}],"activeVersion":null,"tags":[]}