fecha-sessão-typebot-as-08:10-igs-qGvvZP7xmD35iXGP.json
{"createdAt":"2025-10-21T11:47:58.407Z","updatedAt":"2025-10-21T11:54:33.557Z","id":"qGvvZP7xmD35iXGP","name":"Fecha sessão Typebot as 08:10 IGS","active":true,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"triggerAtHour":8,"triggerAtMinute":10}]}},"id":"e063cc8e-9e51-4f5a-a962-db0920a1b807","name":"Schedule Trigger","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-640,64]},{"parameters":{"options":{}},"id":"7f0b792c-1d05-4e8f-8a03-4ee8a09e3ce9","name":"Loop Over Items","type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-48,48]},{"parameters":{},"id":"a21540fa-bfb6-4106-94ef-2bfd427660f6","name":"Wait","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[240,208],"webhookId":"d478f122-1b41-4eaa-81b3-92d23de9e09e"},{"parameters":{"resource":"integrations-api","operation":"typebot","instanceName":"igs","resourceForTypebot":"fetchSessionsTypebot","typebotId":"cmgv78408067cx64jmnticx03"},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[-448,64],"id":"c6993a9c-be95-4673-a9e2-ff528273b22f","name":"Evolution API2","credentials":{"evolutionApi":{"id":"z5m5bQunXbjwn9Z1","name":"Develop"}}},{"parameters":{"resource":"integrations-api","operation":"typebot","instanceName":"igs","resourceForTypebot":"changeStatusTypebot","typebotId":"cmgv78408067cx64jmnticx03","remoteJid":"={{ $json.remoteJid }}","status":"closed"},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[448,-16],"id":"fb58d78f-adc1-4de7-8ae8-6967955e941d","name":"Evolution API","credentials":{"evolutionApi":{"id":"z5m5bQunXbjwn9Z1","name":"Develop"}}},{"parameters":{"jsCode":"const raw = $json.data;\nconst lista = Object.keys(raw).map(k => raw[k]);\n\nreturn lista.map(item => ({ json: item }));\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-288,64],"id":"639133e3-bdae-4b62-8ff3-9410e1956b75","name":"Code"}],"connections":{"Loop Over Items":{"main":[[],[{"node":"Wait","type":"main","index":0},{"node":"Evolution API","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Evolution API2","type":"main","index":0}]]},"Evolution API2":{"main":[[{"node":"Code","type":"main","index":0}]]},"Code":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"dc4dd05c-f11c-4463-b1ab-ec130cd05105","triggerCount":1,"shared":[{"createdAt":"2025-10-21T11:47:58.407Z","updatedAt":"2025-10-21T11:47:58.407Z","role":"workflow:owner","workflowId":"qGvvZP7xmD35iXGP","projectId":"9hAKJPuMlcuGxWxS"}],"tags":[{"createdAt":"2024-10-17T10:24:22.199Z","updatedAt":"2024-10-17T10:24:22.199Z","id":"zOwRVbg6FgAFFmN0","name":"Typebot"},{"createdAt":"2025-10-17T15:04:04.491Z","updatedAt":"2025-10-17T15:04:04.491Z","id":"WqHQZgXw0HPHBzf4","name":"IGS TELECOM"}]}