fecha-sessão-typebot-jaxnet-lHXMlRptC9vqQb3u.json
{"createdAt":"2025-12-26T16:57:37.212Z","updatedAt":"2025-12-26T17:34:43.652Z","id":"lHXMlRptC9vqQb3u","name":"Fecha sessão Typebot JAXNET","active":true,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"triggerAtHour":4,"triggerAtMinute":15}]}},"id":"76cd925e-7e00-4860-97ae-b0ab60c680d9","name":"Schedule Trigger","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-640,64]},{"parameters":{"options":{}},"id":"a2bd7e69-e921-409c-849a-87266a712562","name":"Loop Over Items","type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-48,48]},{"parameters":{},"id":"06f35d60-1ca3-47ed-947e-908cfc5ced83","name":"Wait","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[240,208],"webhookId":"b33ca3a0-98f4-41dd-b1e3-aca6fd512fae"},{"parameters":{"resource":"integrations-api","operation":"typebot","instanceName":"jaxnet","resourceForTypebot":"fetchSessionsTypebot","typebotId":"cmjn4aar40hrhx64idligxxn2"},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[-448,64],"id":"af2d0ee2-2c3e-4a54-b837-0ba34295a839","name":"Evolution API2","credentials":{"evolutionApi":{"id":"z5m5bQunXbjwn9Z1","name":"Develop"}}},{"parameters":{"resource":"integrations-api","operation":"typebot","instanceName":"fastone","resourceForTypebot":"changeStatusTypebot","typebotId":"cmjn4aar40hrhx64idligxxn2","remoteJid":"={{ $json.remoteJid }}","status":"closed"},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[448,-16],"id":"287658f9-9d77-481f-b6e6-e3385cba68a1","name":"Evolution API","credentials":{"evolutionApi":{"id":"z5m5bQunXbjwn9Z1","name":"Develop"}}},{"parameters":{"jsCode":"const raw = $json.data;\nconst lista = Object.keys(raw).map(k => raw[k]);\n\nreturn lista.map(item => ({ json: item }));\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-288,64],"id":"de48c7d1-5a6c-40ff-bb59-5357a091c65f","name":"Code"}],"connections":{"Loop Over Items":{"main":[[],[{"node":"Wait","type":"main","index":0},{"node":"Evolution API","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Evolution API2","type":"main","index":0}]]},"Evolution API2":{"main":[[{"node":"Code","type":"main","index":0}]]},"Code":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"cc5633c2-477a-453e-8b67-64fc3c137163","triggerCount":1,"shared":[{"createdAt":"2025-12-26T16:57:37.212Z","updatedAt":"2025-12-26T16:57:37.212Z","role":"workflow:owner","workflowId":"lHXMlRptC9vqQb3u","projectId":"9hAKJPuMlcuGxWxS"}],"tags":[{"createdAt":"2024-10-17T10:24:22.199Z","updatedAt":"2024-10-17T10:24:22.199Z","id":"zOwRVbg6FgAFFmN0","name":"Typebot"},{"createdAt":"2025-12-26T16:56:51.743Z","updatedAt":"2025-12-26T16:56:51.743Z","id":"1ipEejxohDelYYXo","name":"Jaxnet"}]}