fecha-sessão-typebot-as-08:10-fastone-L1zwGOqDYDNrjM7d.json
{"createdAt":"2025-10-21T11:54:18.645Z","updatedAt":"2025-10-21T11:55:30.839Z","id":"L1zwGOqDYDNrjM7d","name":"Fecha sessão Typebot as 08:10 FASTONE","active":true,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"triggerAtHour":8,"triggerAtMinute":15}]}},"id":"047b4167-3856-472b-8e0e-84898149b956","name":"Schedule Trigger","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-640,64]},{"parameters":{"options":{}},"id":"4ebddeee-88dd-4235-94c5-a0ee9c33a5f5","name":"Loop Over Items","type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-48,48]},{"parameters":{},"id":"3960c636-d19d-4955-bdfa-0031a71a2e68","name":"Wait","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[240,208],"webhookId":"104ff757-b984-4ecd-bb94-e897fca7924c"},{"parameters":{"resource":"integrations-api","operation":"typebot","instanceName":"fastone","resourceForTypebot":"fetchSessionsTypebot","typebotId":"cmgxp95in00rxx64jdviqxh19"},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[-448,64],"id":"ad940f91-b633-4196-aa3b-0dbd4c20395b","name":"Evolution API2","credentials":{"evolutionApi":{"id":"z5m5bQunXbjwn9Z1","name":"Develop"}}},{"parameters":{"resource":"integrations-api","operation":"typebot","instanceName":"fastone","resourceForTypebot":"changeStatusTypebot","typebotId":"cmgxp95in00rxx64jdviqxh19","remoteJid":"={{ $json.remoteJid }}","status":"closed"},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[448,-16],"id":"026dec50-400e-4adb-b70d-abb437493fad","name":"Evolution API","credentials":{"evolutionApi":{"id":"z5m5bQunXbjwn9Z1","name":"Develop"}}},{"parameters":{"jsCode":"const raw = $json.data;\nconst lista = Object.keys(raw).map(k => raw[k]);\n\nreturn lista.map(item => ({ json: item }));\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-288,64],"id":"c520ed33-2d35-40f8-9021-ebe0579123a1","name":"Code"}],"connections":{"Loop Over Items":{"main":[[],[{"node":"Wait","type":"main","index":0},{"node":"Evolution API","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Evolution API2","type":"main","index":0}]]},"Evolution API2":{"main":[[{"node":"Code","type":"main","index":0}]]},"Code":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"64895439-f3ad-464c-a79e-ee1e2b0f8af7","triggerCount":1,"shared":[{"createdAt":"2025-10-21T11:54:18.645Z","updatedAt":"2025-10-21T11:54:18.645Z","role":"workflow:owner","workflowId":"L1zwGOqDYDNrjM7d","projectId":"9hAKJPuMlcuGxWxS"}],"tags":[{"createdAt":"2025-10-17T15:42:37.196Z","updatedAt":"2025-10-17T15:42:37.196Z","id":"pTjgGXodB9GhIKwL","name":"FASTONE"},{"createdAt":"2024-10-17T10:24:22.199Z","updatedAt":"2024-10-17T10:24:22.199Z","id":"zOwRVbg6FgAFFmN0","name":"Typebot"}]}