fecha-sessão-typebot-as-00:00-redeslinkin-NYWsRxZkRlk0wqVW.json
{"updatedAt":"2025-08-01T22:06:48.328Z","createdAt":"2025-08-01T21:42:22.480Z","id":"NYWsRxZkRlk0wqVW","name":"Fecha sessão Typebot as 00:00 Redeslinkin","active":true,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{}]}},"id":"0cd16bfe-82c3-4fd8-955e-d76d8592b9bc","name":"Schedule Trigger","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-640,60]},{"parameters":{"options":{}},"id":"f2cedaba-6823-4edb-b31d-fd82afd41e01","name":"Loop Over Items","type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-40,40]},{"parameters":{},"id":"6605adfa-2f9c-4050-941d-b40bef8a5a51","name":"Wait","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[240,200],"webhookId":"47715f61-1301-4c0a-8b40-5dc2bf407fa8"},{"parameters":{"resource":"integrations-api","operation":"typebot","instanceName":"RedesLinkin","resourceForTypebot":"fetchSessionsTypebot","typebotId":"cm6qrsteo00id3n4rfutu7j06"},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[-440,60],"id":"b02f0812-0178-4994-91f6-eb2c04163c1a","name":"Evolution API2","credentials":{"evolutionApi":{"id":"z5m5bQunXbjwn9Z1","name":"Develop"}}},{"parameters":{"resource":"integrations-api","operation":"typebot","instanceName":"RedesLinkin","resourceForTypebot":"changeStatusTypebot","typebotId":"cm6qrsteo00id3n4rfutu7j06","remoteJid":"={{ $json.remoteJid }}","status":"closed"},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[440,-20],"id":"e5ea502e-8f0c-41fa-85ee-c3121d029779","name":"Evolution API","credentials":{"evolutionApi":{"id":"z5m5bQunXbjwn9Z1","name":"Develop"}}},{"parameters":{"jsCode":"const raw = $json.data;\nconst lista = Object.keys(raw).map(k => raw[k]);\n\nreturn lista.map(item => ({ json: item }));\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-280,60],"id":"66d6480d-b660-4730-91d9-88f8b6a7f61a","name":"Code"}],"connections":{"Loop Over Items":{"main":[[],[{"node":"Wait","type":"main","index":0},{"node":"Evolution API","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Evolution API2","type":"main","index":0}]]},"Evolution API2":{"main":[[{"node":"Code","type":"main","index":0}]]},"Code":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"983300d3-d1ef-4007-8627-9e74fd6f5b3d","activeVersionId":"983300d3-d1ef-4007-8627-9e74fd6f5b3d","triggerCount":1,"shared":[{"updatedAt":"2025-08-01T21:42:22.480Z","createdAt":"2025-08-01T21:42:22.480Z","role":"workflow:owner","workflowId":"NYWsRxZkRlk0wqVW","projectId":"9hAKJPuMlcuGxWxS"}],"activeVersion":{"updatedAt":"2026-01-14T12:01:56.530Z","createdAt":"2026-01-14T12:01:56.530Z","versionId":"983300d3-d1ef-4007-8627-9e74fd6f5b3d","workflowId":"NYWsRxZkRlk0wqVW","nodes":[{"parameters":{"rule":{"interval":[{}]}},"id":"0cd16bfe-82c3-4fd8-955e-d76d8592b9bc","name":"Schedule Trigger","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-640,60]},{"parameters":{"options":{}},"id":"f2cedaba-6823-4edb-b31d-fd82afd41e01","name":"Loop Over Items","type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-40,40]},{"parameters":{},"id":"6605adfa-2f9c-4050-941d-b40bef8a5a51","name":"Wait","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[240,200],"webhookId":"47715f61-1301-4c0a-8b40-5dc2bf407fa8"},{"parameters":{"resource":"integrations-api","operation":"typebot","instanceName":"RedesLinkin","resourceForTypebot":"fetchSessionsTypebot","typebotId":"cm6qrsteo00id3n4rfutu7j06"},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[-440,60],"id":"b02f0812-0178-4994-91f6-eb2c04163c1a","name":"Evolution API2","credentials":{"evolutionApi":{"id":"z5m5bQunXbjwn9Z1","name":"Develop"}}},{"parameters":{"resource":"integrations-api","operation":"typebot","instanceName":"RedesLinkin","resourceForTypebot":"changeStatusTypebot","typebotId":"cm6qrsteo00id3n4rfutu7j06","remoteJid":"={{ $json.remoteJid }}","status":"closed"},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[440,-20],"id":"e5ea502e-8f0c-41fa-85ee-c3121d029779","name":"Evolution API","credentials":{"evolutionApi":{"id":"z5m5bQunXbjwn9Z1","name":"Develop"}}},{"parameters":{"jsCode":"const raw = $json.data;\nconst lista = Object.keys(raw).map(k => raw[k]);\n\nreturn lista.map(item => ({ json: item }));\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-280,60],"id":"66d6480d-b660-4730-91d9-88f8b6a7f61a","name":"Code"}],"connections":{"Loop Over Items":{"main":[[],[{"node":"Wait","type":"main","index":0},{"node":"Evolution API","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Evolution API2","type":"main","index":0}]]},"Evolution API2":{"main":[[{"node":"Code","type":"main","index":0}]]},"Code":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]}},"authors":"system migration","name":null,"description":null,"autosaved":false},"tags":[]}