hotspot-para-mautic-Wy0Rj0oXgpYSuEvf.json
{"createdAt":"2023-12-06T18:54:39.590Z","updatedAt":"2025-06-07T11:14:41.970Z","id":"Wy0Rj0oXgpYSuEvf","name":"HOTSPOT PARA MAUTIC","active":false,"isArchived":false,"nodes":[{"parameters":{"operation":"select","table":{"__rl":true,"value":"dados","mode":"list","cachedResultName":"dados"},"returnAll":true,"where":{"values":[{"column":"id","condition":">","value":"183"}]},"options":{}},"id":"f0717c09-efd8-439a-a469-de57ee59cfd6","name":"MySQL","type":"n8n-nodes-base.mySql","typeVersion":2.2,"position":[400,500],"credentials":{"mySql":{"id":"VAVT6dZu45sK4wfS","name":"MySQL account"}}},{"parameters":{"rule":{"interval":[{"field":"minutes","minutesInterval":10}]}},"id":"8f836391-fc0d-461b-834e-2df3299cdee8","name":"Schedule Trigger","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.1,"position":[220,500]},{"parameters":{"authentication":"oAuth2","email":"={{ $json.email }}","firstName":"={{ $json.nome }}","lastName":"={{ $json.empresa }}","company":"=Hotspot","position":"Duque de Caxias, Rio de Janeiro","additionalFields":{"customFieldsUi":{"customFieldValues":[{"fieldId":"cpf","fieldValue":"={{ $json.cpf }}"}]},"mobile":"={{ $json.telefone }}"},"options":{}},"id":"7c2f9f3e-000d-4cc8-af8f-30ea18df0906","name":"Mautic","type":"n8n-nodes-base.mautic","typeVersion":1,"position":[560,500],"credentials":{"mauticOAuth2Api":{"id":"aSET7eCxzmIfIj52","name":"Mautic"}}},{"parameters":{"authentication":"oAuth2","resource":"contactSegment","contactId":"={{ $json.fields.all.id }}","segmentId":1},"id":"b77644b4-3068-4521-81ae-ce3ae87662f8","name":"Adiciona ao segmento","type":"n8n-nodes-base.mautic","typeVersion":1,"position":[740,500],"credentials":{"mauticOAuth2Api":{"id":"aSET7eCxzmIfIj52","name":"Mautic"}}},{"parameters":{"authentication":"oAuth2","resource":"campaignContact","contactId":"={{ $('Mautic').item.json.fields.all.id }}","campaignId":1},"id":"7fc76b46-cb33-4c37-9c7f-05352c1c7681","name":"Adiciona a campanha","type":"n8n-nodes-base.mautic","typeVersion":1,"position":[920,540],"credentials":{"mauticOAuth2Api":{"id":"aSET7eCxzmIfIj52","name":"Mautic"}}}],"connections":{"MySQL":{"main":[[{"node":"Mautic","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"MySQL","type":"main","index":0}]]},"Mautic":{"main":[[{"node":"Adiciona ao segmento","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Schedule Trigger":{"recurrencyRules":[],"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"8304aa5d-716b-4738-a3b4-256b00d31135","triggerCount":1,"shared":[{"createdAt":"2023-12-06T18:54:39.590Z","updatedAt":"2023-12-06T18:54:39.590Z","role":"workflow:owner","workflowId":"Wy0Rj0oXgpYSuEvf","projectId":"9hAKJPuMlcuGxWxS"}],"tags":[]}