instagram-8k4BFw6Nyd5fuIc9.json
{"createdAt":"2025-09-13T13:41:17.308Z","updatedAt":"2025-10-15T22:10:35.263Z","id":"8k4BFw6Nyd5fuIc9","name":"Instagram","active":true,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-816,-176],"id":"6e304395-e651-43f9-8dd4-69fd3bd7558c","name":"When clicking ‘Execute workflow’"},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[736,-144],"id":"56246c40-f391-4303-a099-3559a21da786","name":"Wait","webhookId":"e1249ce2-ac33-4c20-84a3-08bed52043bb"},{"parameters":{"resource":"bucket","operation":"search","bucketName":"instagram","additionalFields":{}},"type":"n8n-nodes-base.s3","typeVersion":1,"position":[-560,-160],"id":"8fd8f031-1559-4ef1-a513-cc2cb11a18a9","name":"Lista todos os itens no backet","credentials":{"s3":{"id":"BBGSHn9aTeHMatsL","name":"S3 redeslinkin"}}},{"parameters":{"sortFieldsUi":{"sortField":[{"fieldName":"LastModified"}]},"options":{"disableDotNotation":false}},"type":"n8n-nodes-base.sort","typeVersion":1,"position":[-352,-160],"id":"01fbae85-c333-4c4f-b0ef-604a4b75c344","name":"Ordena itens por ultima modificacao"},{"parameters":{"jsCode":"// Se lista está em ordem crescente, o último é o mais novo\nreturn [items[items.length - 1]];\n\n// Se estiver em ordem decrescente, use [items[0]]\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-144,-160],"id":"68a97c47-01a1-4693-8bb3-a2dd6b7b1543","name":"Deixa passar somente o ultimo item adicionado"},{"parameters":{"bucket":{"__rl":true,"value":"instagram","mode":"list","cachedResultName":"instagram"},"key":"={{ $json.Key }}"},"type":"n8n-nodes-minio.minioNode","typeVersion":1,"position":[32,-160],"id":"2e807fd7-728b-4607-9f87-4cc780cfd2f9","name":"Pega URL da imagem","credentials":{"minioCredentialsApi":{"id":"mLSwJhnqlxA93hIK","name":"MinIO redeslinkin"}}},{"parameters":{"resource":"post","postImageUrl":"={{ $json.url.split('?')[0] }}\n{{ $('Pega URL da imagem').item.json.url.split(\"?\")[0] }}","postCaption":"={{ $json.content.parts[0].text }}","postAdditionalOptions":{}},"type":"n8n-nodes-instagram-integrations.instagram","typeVersion":1,"position":[496,-144],"id":"a9bcc953-5fdd-4422-ad5e-2e40843cf019","name":"Cria o post","credentials":{"instagramOAuth2Api":{"id":"eSPHvkvkGh3EBGsY","name":"Conceitos3d"}}},{"parameters":{"resource":"post","operation":"publishPost","creationId":"={{ $json.id }}"},"type":"n8n-nodes-instagram-integrations.instagram","typeVersion":1,"position":[912,-144],"id":"54576ed7-710e-45ee-a3b8-139d8792652e","name":"Publica o post","credentials":{"instagramOAuth2Api":{"id":"eSPHvkvkGh3EBGsY","name":"Conceitos3d"}}},{"parameters":{},"type":"n8n-nodes-instagram-integrations.instagramTrigger","typeVersion":1,"position":[-640,-496],"id":"69223589-a338-4e35-9196-a8f2ac59a519","name":"Instagram Trigger","webhookId":"47b5bf2d-4902-4ee3-a584-d8c10b3d5904","credentials":{"instagramOAuth2Api":{"id":"eSPHvkvkGh3EBGsY","name":"Conceitos3d"}}},{"parameters":{"recipientId":"={{ $json.senderId }}","messageText":"tudo bem?"},"type":"n8n-nodes-instagram-integrations.instagram","typeVersion":1,"position":[-304,-512],"id":"23e86b5d-6442-48be-bb15-b8c69d4ebb94","name":"Send a text message","credentials":{"instagramOAuth2Api":{"id":"eSPHvkvkGh3EBGsY","name":"Conceitos3d"}}},{"parameters":{"resource":"image","operation":"analyze","modelId":{"__rl":true,"value":"models/gemini-2.5-flash","mode":"list","cachedResultName":"models/gemini-2.5-flash"},"text":"faz uma analise consistente sobre a imagem , nao pode ser muito grande pq vai ser postado no instagram","imageUrls":"={{ $json.url }}","options":{}},"type":"@n8n/n8n-nodes-langchain.googleGemini","typeVersion":1,"position":[240,-160],"id":"6f0272df-e473-47c2-9da6-65dac2d13d81","name":"Analyze an image","credentials":{"googlePalmApi":{"id":"O63hwIpz5uNbFv3E","name":"Google Gemini(PaLM) Api linkincharles6"}}}],"connections":{"When clicking ‘Execute workflow’":{"main":[[{"node":"Lista todos os itens no backet","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Publica o post","type":"main","index":0}]]},"Lista todos os itens no backet":{"main":[[{"node":"Ordena itens por ultima modificacao","type":"main","index":0}]]},"Ordena itens por ultima modificacao":{"main":[[{"node":"Deixa passar somente o ultimo item adicionado","type":"main","index":0}]]},"Deixa passar somente o ultimo item adicionado":{"main":[[{"node":"Pega URL da imagem","type":"main","index":0}]]},"Pega URL da imagem":{"main":[[{"node":"Analyze an image","type":"main","index":0}]]},"Cria o post":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Instagram Trigger":{"main":[[{"node":"Send a text message","type":"main","index":0}]]},"Send a text message":{"main":[[]]},"Analyze an image":{"main":[[{"node":"Cria o post","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"a1350950-dccc-4c05-b062-a40e8a8c4e72","triggerCount":1,"shared":[{"createdAt":"2025-09-13T13:41:17.308Z","updatedAt":"2025-09-13T13:41:17.308Z","role":"workflow:owner","workflowId":"8k4BFw6Nyd5fuIc9","projectId":"9hAKJPuMlcuGxWxS"}],"tags":[]}