instagram-8k4BFw6Nyd5fuIc9.json
{"createdAt":"2025-09-13T13:41:17.308Z","updatedAt":"2025-10-29T10:14:29.151Z","id":"8k4BFw6Nyd5fuIc9","name":"Instagram","active":true,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-816,-176],"id":"6e304395-e651-43f9-8dd4-69fd3bd7558c","name":"When clicking ‘Execute workflow’"},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[688,-240],"id":"56246c40-f391-4303-a099-3559a21da786","name":"Wait","webhookId":"e1249ce2-ac33-4c20-84a3-08bed52043bb"},{"parameters":{"resource":"bucket","operation":"search","bucketName":"instagram","additionalFields":{}},"type":"n8n-nodes-base.s3","typeVersion":1,"position":[-560,-160],"id":"8fd8f031-1559-4ef1-a513-cc2cb11a18a9","name":"Lista todos os itens no backet","credentials":{"s3":{"id":"BBGSHn9aTeHMatsL","name":"S3 redeslinkin"}}},{"parameters":{"sortFieldsUi":{"sortField":[{"fieldName":"LastModified"}]},"options":{"disableDotNotation":false}},"type":"n8n-nodes-base.sort","typeVersion":1,"position":[-352,-160],"id":"01fbae85-c333-4c4f-b0ef-604a4b75c344","name":"Ordena itens por ultima modificacao"},{"parameters":{"jsCode":"// Se lista está em ordem crescente, o último é o mais novo\nreturn [items[items.length - 1]];\n\n// Se estiver em ordem decrescente, use [items[0]]\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-144,-160],"id":"68a97c47-01a1-4693-8bb3-a2dd6b7b1543","name":"Deixa passar somente o ultimo item adicionado"},{"parameters":{"bucket":{"__rl":true,"value":"instagram","mode":"list","cachedResultName":"instagram"},"key":"={{ $json.Key }}"},"type":"n8n-nodes-minio.minioNode","typeVersion":1,"position":[32,-160],"id":"2e807fd7-728b-4607-9f87-4cc780cfd2f9","name":"Pega URL da imagem","credentials":{"minioCredentialsApi":{"id":"mLSwJhnqlxA93hIK","name":"MinIO redeslinkin"}}},{"parameters":{"resource":"image","operation":"analyze","modelId":{"__rl":true,"value":"models/gemini-2.5-flash","mode":"list","cachedResultName":"models/gemini-2.5-flash"},"text":"faz uma analise consistente sobre a imagem , nao pode ser muito grande pq vai ser postado no instagram","imageUrls":"={{ $json.url }}","options":{}},"type":"@n8n/n8n-nodes-langchain.googleGemini","typeVersion":1,"position":[240,-160],"id":"6f0272df-e473-47c2-9da6-65dac2d13d81","name":"Analyze an image","credentials":{"googlePalmApi":{"id":"O63hwIpz5uNbFv3E","name":"Google Gemini(PaLM) Api linkincharles6"}}},{"parameters":{"resource":"image","modelId":{"__rl":true,"value":"models/gemini-2.5-flash-image-preview","mode":"list","cachedResultName":"models/gemini-2.5-flash-image-preview (Nano Banana)"},"prompt":"Analyze the uploaded image and write only one short and creative Instagram caption, with no introductions, no explanations, and no phrases like “here’s a caption.”\n\nRules:\n\nOutput only the final caption.\n\nThe caption should match the image context — especially about 3D printing, technology, innovation, or design.\n\nUse a modern, inspiring tone as if written by a creative tech brand.\n\nInclude 1–3 relevant hashtags (e.g., #3DPrinting #Innovation #TechDesign).\n\nEvery caption must feel unique and natural.\n\n⚠️ Do not include introductions or extra sentences. Output only the caption.","options":{}},"type":"@n8n/n8n-nodes-langchain.googleGemini","typeVersion":1,"position":[32,-464],"id":"ebb566fb-cd5c-43bb-9403-eb19b9fd57b5","name":"Generate an image","credentials":{"googlePalmApi":{"id":"O63hwIpz5uNbFv3E","name":"Google Gemini(PaLM) Api linkincharles6"}}},{"parameters":{"resource":"post","postImageUrl":"={{ $('Pega URL da imagem').item.json.url }}","postCaption":"={{ $json.content.parts[0].text }}","postAdditionalOptions":{}},"type":"n8n-nodes-instagram-token.instagram","typeVersion":1,"position":[480,-256],"id":"fe46c112-68da-4560-8654-aa40b845c218","name":"Create a single post","credentials":{"instagramAccessTokenApi":{"id":"CYE7g9DUB5WguY1V","name":"Conceitos 3d"}}},{"parameters":{"events":["comments","messages"]},"type":"n8n-nodes-instagram-token.instagramTrigger","typeVersion":1,"position":[-816,-624],"id":"94573267-e78c-4fad-8172-ff20e6365803","name":"Instagram Trigger","webhookId":"1f688ea8-5a47-462a-9fe0-925bd055a87a","credentials":{"instagramAccessTokenApi":{"id":"CYE7g9DUB5WguY1V","name":"Conceitos 3d"}}},{"parameters":{"resource":"post","operation":"publishPost","creationId":"={{ $json.id }}"},"type":"n8n-nodes-instagram-token.instagram","typeVersion":1,"position":[944,-256],"id":"d9a77289-4d10-4c37-b7ea-66c4c3d81e98","name":"Publish a post","credentials":{"instagramAccessTokenApi":{"id":"CYE7g9DUB5WguY1V","name":"Conceitos 3d"}}},{"parameters":{"recipientId":"={{ $json.senderId }}","messageText":"olaaa"},"type":"n8n-nodes-instagram-token.instagram","typeVersion":1,"position":[-496,-640],"id":"79e46420-1f56-4e06-9eee-77a07b44d5e5","name":"Send a text message","credentials":{"instagramAccessTokenApi":{"id":"CYE7g9DUB5WguY1V","name":"Conceitos 3d"}}}],"connections":{"When clicking ‘Execute workflow’":{"main":[[{"node":"Lista todos os itens no backet","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Publish a post","type":"main","index":0}]]},"Lista todos os itens no backet":{"main":[[{"node":"Ordena itens por ultima modificacao","type":"main","index":0}]]},"Ordena itens por ultima modificacao":{"main":[[{"node":"Deixa passar somente o ultimo item adicionado","type":"main","index":0}]]},"Deixa passar somente o ultimo item adicionado":{"main":[[{"node":"Pega URL da imagem","type":"main","index":0}]]},"Pega URL da imagem":{"main":[[{"node":"Analyze an image","type":"main","index":0}]]},"Analyze an image":{"main":[[{"node":"Create a single post","type":"main","index":0}]]},"Create a single post":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Generate an image":{"main":[[]]},"Instagram Trigger":{"main":[[{"node":"Send a text message","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Instagram Trigger":[{"json":{"senderId":"2516539695385537","recipientId":"17841438247100388","timestamp":1761732631937,"entryId":"17841438247100388","eventType":"message","messageId":"aWdfZAG1faXRlbToxOklHTWVzc2FnZAUlEOjE3ODQxNDM4MjQ3MTAwMzg4OjM0MDI4MjM2Njg0MTcxMDMwMTI0NDI1ODY3MTIwMjkwODg1NTUzOTozMjQ5ODIzMDk4NzY1MDQ1MTU1OTk2NzI3MTE5NzYwNTg4OAZDZD","text":"Cc","isEcho":false}}]},"versionId":"b0fd5d27-9033-4286-b6b4-83b3fea7814b","triggerCount":1,"shared":[{"createdAt":"2025-09-13T13:41:17.308Z","updatedAt":"2025-09-13T13:41:17.308Z","role":"workflow:owner","workflowId":"8k4BFw6Nyd5fuIc9","projectId":"9hAKJPuMlcuGxWxS"}],"tags":[]}