instagram-8k4BFw6Nyd5fuIc9.json
{"createdAt":"2025-09-13T13:41:17.308Z","updatedAt":"2025-10-30T23:36:04.293Z","id":"8k4BFw6Nyd5fuIc9","name":"Instagram","active":true,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-816,-176],"id":"6e304395-e651-43f9-8dd4-69fd3bd7558c","name":"When clicking ‘Execute workflow’"},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[560,-160],"id":"56246c40-f391-4303-a099-3559a21da786","name":"Wait","webhookId":"e1249ce2-ac33-4c20-84a3-08bed52043bb"},{"parameters":{"resource":"bucket","operation":"search","bucketName":"instagram","additionalFields":{}},"type":"n8n-nodes-base.s3","typeVersion":1,"position":[-560,-160],"id":"8fd8f031-1559-4ef1-a513-cc2cb11a18a9","name":"Lista todos os itens no backet","credentials":{"s3":{"id":"BBGSHn9aTeHMatsL","name":"S3 redeslinkin"}}},{"parameters":{"bucket":{"__rl":true,"value":"instagram","mode":"list","cachedResultName":"instagram"},"key":"={{ $json.Key }}"},"type":"n8n-nodes-minio.minioNode","typeVersion":1,"position":[-224,-160],"id":"2e807fd7-728b-4607-9f87-4cc780cfd2f9","name":"Pega URL da imagem","credentials":{"minioCredentialsApi":{"id":"mLSwJhnqlxA93hIK","name":"MinIO redeslinkin"}}},{"parameters":{"resource":"image","operation":"analyze","modelId":{"__rl":true,"value":"models/gemini-2.5-flash","mode":"list","cachedResultName":"models/gemini-2.5-flash"},"text":"Analise a imagem e gere uma legenda curta e criativa para o Instagram.\n\nFale como se fosse uma legenda envolvente, sem introduções.\n\nEvite explicações técnicas longas.\n\nUse um tom inspirador e moderno.\n\nMáximo de 2 frases.\n\nNão comece com “Aqui está” nem “Nesta imagem”.\ne use no maximo 5 # para divulgar","imageUrls":"={{ $json.url }}","options":{}},"type":"@n8n/n8n-nodes-langchain.googleGemini","typeVersion":1,"position":[96,-160],"id":"6f0272df-e473-47c2-9da6-65dac2d13d81","name":"Analyze an image","credentials":{"googlePalmApi":{"id":"O63hwIpz5uNbFv3E","name":"Google Gemini(PaLM) Api linkincharles6"}}},{"parameters":{"resource":"post","postImageUrl":"={{ $('Pega URL da imagem').item.json.url }}","postCaption":"={{ $json.content.parts[0].text }}","postAdditionalOptions":{}},"type":"n8n-nodes-instagram-token.instagram","typeVersion":1,"position":[352,-160],"id":"fe46c112-68da-4560-8654-aa40b845c218","name":"Create a single post","credentials":{"instagramAccessTokenApi":{"id":"CYE7g9DUB5WguY1V","name":"Conceitos 3d"}}},{"parameters":{"events":["comments","messages"]},"type":"n8n-nodes-instagram-token.instagramTrigger","typeVersion":1,"position":[-848,-784],"id":"94573267-e78c-4fad-8172-ff20e6365803","name":"Instagram Trigger","webhookId":"1f688ea8-5a47-462a-9fe0-925bd055a87a","credentials":{"instagramAccessTokenApi":{"id":"CYE7g9DUB5WguY1V","name":"Conceitos 3d"}}},{"parameters":{"resource":"post","operation":"publishPost","creationId":"={{ $json.id }}"},"type":"n8n-nodes-instagram-token.instagram","typeVersion":1,"position":[736,-160],"id":"d9a77289-4d10-4c37-b7ea-66c4c3d81e98","name":"Publish a post","credentials":{"instagramAccessTokenApi":{"id":"CYE7g9DUB5WguY1V","name":"Conceitos 3d"}}},{"parameters":{"recipientId":"={{ $json.senderId }}","messageText":"olaaa"},"type":"n8n-nodes-instagram-token.instagram","typeVersion":1,"position":[-528,-800],"id":"79e46420-1f56-4e06-9eee-77a07b44d5e5","name":"Send a text message","credentials":{"instagramAccessTokenApi":{"id":"CYE7g9DUB5WguY1V","name":"Conceitos 3d"}}},{"parameters":{},"type":"n8n-nodes-base.limit","typeVersion":1,"position":[-384,-160],"id":"45527d0a-efb5-41a9-9f4f-7f8c28a967c2","name":"Limit"},{"parameters":{"resource":"bucket","operation":"removeObject","bucket":{"__rl":true,"value":"instagram","mode":"list","cachedResultName":"instagram"},"key":"={{ $('Pega URL da imagem').item.json.Key }}"},"type":"n8n-nodes-minio.minioNode","typeVersion":1,"position":[928,-160],"id":"b2d1b871-802b-48db-87ba-1cb142eaaee8","name":"RemoveObject bucket","credentials":{"minioCredentialsApi":{"id":"mLSwJhnqlxA93hIK","name":"MinIO redeslinkin"}}},{"parameters":{"resource":"story","storyImageUrl":"={{ $json.url.split('?')[0] }}\n\n","storyAdditionalOptions":{}},"type":"n8n-nodes-instagram-token.instagram","typeVersion":1,"position":[-144,-464],"id":"e247a92f-c2ed-4255-a168-544e14b24029","name":"Create a story","credentials":{"instagramAccessTokenApi":{"id":"CYE7g9DUB5WguY1V","name":"Conceitos 3d"}}},{"parameters":{"resource":"bucket","operation":"search","bucketName":"story-instagram","additionalFields":{}},"type":"n8n-nodes-base.s3","typeVersion":1,"position":[-704,-464],"id":"ec74aa31-0980-4bd3-bef4-486fb344a440","name":"Lista todos os itens no backet1","credentials":{"s3":{"id":"BBGSHn9aTeHMatsL","name":"S3 redeslinkin"}}},{"parameters":{"bucket":{"__rl":true,"value":"story-instagram","mode":"list","cachedResultName":"story-instagram"},"key":"={{ $json.Key }}"},"type":"n8n-nodes-minio.minioNode","typeVersion":1,"position":[-368,-464],"id":"4b577cdf-2866-4e39-84fa-cfea8d107435","name":"Pega URL da imagem1","credentials":{"minioCredentialsApi":{"id":"mLSwJhnqlxA93hIK","name":"MinIO redeslinkin"}}},{"parameters":{},"type":"n8n-nodes-base.limit","typeVersion":1,"position":[-528,-464],"id":"df9d4da1-76a4-4bc7-ba40-b906db8dde98","name":"Limit1"}],"connections":{"When clicking ‘Execute workflow’":{"main":[[{"node":"Lista todos os itens no backet","type":"main","index":0},{"node":"Lista todos os itens no backet1","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Publish a post","type":"main","index":0}]]},"Lista todos os itens no backet":{"main":[[{"node":"Limit","type":"main","index":0}]]},"Pega URL da imagem":{"main":[[{"node":"Analyze an image","type":"main","index":0}]]},"Analyze an image":{"main":[[{"node":"Create a single post","type":"main","index":0}]]},"Create a single post":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Instagram Trigger":{"main":[[{"node":"Send a text message","type":"main","index":0}]]},"Send a text message":{"main":[[]]},"Limit":{"main":[[{"node":"Pega URL da imagem","type":"main","index":0}]]},"Publish a post":{"main":[[{"node":"RemoveObject bucket","type":"main","index":0}]]},"Lista todos os itens no backet1":{"main":[[{"node":"Limit1","type":"main","index":0}]]},"Limit1":{"main":[[{"node":"Pega URL da imagem1","type":"main","index":0}]]},"Pega URL da imagem1":{"main":[[{"node":"Create a story","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Instagram Trigger":[{"json":{"senderId":"2516539695385537","recipientId":"17841438247100388","timestamp":1761732631937,"entryId":"17841438247100388","eventType":"message","messageId":"aWdfZAG1faXRlbToxOklHTWVzc2FnZAUlEOjE3ODQxNDM4MjQ3MTAwMzg4OjM0MDI4MjM2Njg0MTcxMDMwMTI0NDI1ODY3MTIwMjkwODg1NTUzOTozMjQ5ODIzMDk4NzY1MDQ1MTU1OTk2NzI3MTE5NzYwNTg4OAZDZD","text":"Cc","isEcho":false}}]},"versionId":"061bc045-013c-4348-875f-68399f8ecb10","triggerCount":1,"shared":[{"createdAt":"2025-09-13T13:41:17.308Z","updatedAt":"2025-09-13T13:41:17.308Z","role":"workflow:owner","workflowId":"8k4BFw6Nyd5fuIc9","projectId":"9hAKJPuMlcuGxWxS"}],"tags":[]}