mautic-to-whatsapp-gffTNCXwSBQbORnJ.json
{"updatedAt":"2024-09-25T10:24:28.042Z","createdAt":"2024-02-25T13:31:19.425Z","id":"gffTNCXwSBQbORnJ","name":"Mautic to Whatsapp","active":false,"isArchived":false,"nodes":[{"parameters":{"fields":{"values":[{"name":"numero","stringValue":"={{$json[\"content\"][\"body\"][\"to\"] .replace (/[\\s()-]/g, \"\")}}"},{"name":"texto","stringValue":"={{ $json[0].content.body.contents[0].text }}"}]},"options":{}},"id":"cf638bd2-2b78-4966-8de9-53ec82ab3935","name":"Ajusta numero","type":"n8n-nodes-base.set","typeVersion":3.2,"position":[300,120]},{"parameters":{"method":"POST","url":"=https://api.redeslinkin.com.br/message/sendText/lacosdeprincesa ","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"=5b939633028aad150831f25be447b459"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"number\": \"55{{ $('Ajusta numero').item.json[\"numero\"] }}\",\n    \"options\": {\n        \"delay\": 1200,\n        \"presence\": \"composing\",\n        \"linkPreview\": true\n    },\n    \"textMessage\": {\n        \"text\": \"{{ $('SEPARA A MENSAGEM').item.json[\"mensagemOriginal\"] }}\"\n    }\n}","options":{}},"id":"f770f6b5-4a10-45c0-91e8-e25cc4de8c55","name":"ENVIA A MENSAGEM VIA API1","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[700,400]},{"parameters":{"values":{"string":[{"name":"mensagemOriginal","value":"={{ $('RabbitMQ Trigger').item.json.content.body.contents[0].text }}"}]},"options":{}},"id":"277aa6b5-7b31-45b2-b3b4-acb8b90393f9","name":"SEPARA A MENSAGEM","type":"n8n-nodes-base.set","typeVersion":2,"position":[480,120]},{"parameters":{"jsCode":"const mensagemOriginal = items[0].json.mensagemOriginal; // Substitua 'nomeDaVariavel' pelo nome real da variável\nconst mensagemFormatada = mensagemOriginal.replace(/[\\r\\n]+/g, \"\\\\n\");\n\nreturn { mensagemFormatada: mensagemFormatada };\n"},"id":"421a25ef-3cb5-4779-a5f7-95b2eb677d4f","name":"ADICIONA QUEBRA DE LINHA NA MENSAGEM","type":"n8n-nodes-base.code","typeVersion":2,"position":[660,-60]},{"parameters":{"queue":"hotspot","options":{"arguments":{"argument":[{"key":"x-queue-type","value":"quorum"}]},"acknowledge":"executionFinishesSuccessfully","jsonParseBody":true,"onlyContent":false,"parallelMessages":1}},"id":"0daf0063-bad1-4ab6-a60f-1c84a0397a30","name":"RabbitMQ Trigger","type":"n8n-nodes-base.rabbitmqTrigger","typeVersion":1,"position":[100,120],"credentials":{"rabbitmq":{"id":"pozOz4VWHfWW5LSS","name":"RabbitMQ account"}}},{"parameters":{"amount":45,"unit":"seconds"},"id":"29115ab9-bc55-40fb-a61b-620379c91638","name":"Wait","type":"n8n-nodes-base.wait","typeVersion":1,"position":[820,120],"webhookId":"2dcd0fcd-b2ba-4a0a-8bca-d6de6b7bdc95"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"7858ba1c-a84a-4444-b2da-9db6553ae59f","leftValue":"={{ $json.exists }}","rightValue":"true","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"id":"4ecaa8cc-e98e-4b71-b6ad-1d454d27063f","name":"If","type":"n8n-nodes-base.if","typeVersion":2,"position":[420,420]},{"parameters":{"method":"POST","url":"https://api.redeslinkin.com.br/chat/whatsappNumbers/lacosdeprincesa","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"5b939633028aad150831f25be447b459"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"numbers\": [\n    \"55{{ $('RabbitMQ Trigger').item.json[\"content\"][\"body\"][\"to\"].replace(/[()\\s-]/g, '') }}\"\n  ]\n}","options":{}},"id":"4f6b44cc-4f8c-4e0e-995c-88b42f80acef","name":"VERIFICA SE O NUMERO TEM WHASTAPP","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[240,420]}],"connections":{"Ajusta numero":{"main":[[{"node":"SEPARA A MENSAGEM","type":"main","index":0}]]},"SEPARA A MENSAGEM":{"main":[[]]},"RabbitMQ Trigger":{"main":[[{"node":"Ajusta numero","type":"main","index":0}]]},"Wait":{"main":[[{"node":"VERIFICA SE O NUMERO TEM WHASTAPP","type":"main","index":0}]]},"VERIFICA SE O NUMERO TEM WHASTAPP":{"main":[[{"node":"If","type":"main","index":0}]]},"If":{"main":[[{"node":"ENVIA A MENSAGEM VIA API1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"e444fc28-b8a1-4eb9-9de0-86fafb3b3c6c","activeVersionId":null,"triggerCount":1,"shared":[{"updatedAt":"2024-02-25T13:31:19.425Z","createdAt":"2024-02-25T13:31:19.425Z","role":"workflow:owner","workflowId":"gffTNCXwSBQbORnJ","projectId":"9hAKJPuMlcuGxWxS"}],"activeVersion":null,"tags":[]}