menu-telegram-ZapiTITC9K1t2zeS.json
{"updatedAt":"2025-10-03T00:22:30.456Z","createdAt":"2025-09-16T16:48:45.215Z","id":"ZapiTITC9K1t2zeS","name":"Menu Telegram","active":false,"isArchived":false,"nodes":[{"parameters":{"updates":["message"],"additionalFields":{}},"type":"n8n-nodes-base.telegramTrigger","typeVersion":1.2,"position":[-656,-64],"id":"5f04be34-a4c2-4e9c-9bd9-0c4ca8bec24e","name":"Telegram Trigger","webhookId":"bff44d1f-1a8a-4269-ac87-c008907e5a12","credentials":{"telegramApi":{"id":"qRWUrzDHnPRBKdO4","name":"Redeslinkin_bot"}}},{"parameters":{"jsCode":"// Extrai os dados do trigger do Telegram\n// O objeto $json pode ser só $json ou $json.message dependendo do evento\nconst message = $json.message;\nconst firstName = message.from.first_name || 'Cliente';\nconst chatId = message.chat.id;\n\n// Função para determinar a saudação\nfunction determinarSaudacao() {\n    // Fuso horário do Brasil (-3)\n    const agora = new Date(new Date().toLocaleString(\"en-US\", {timeZone: \"America/Sao_Paulo\"}));\n    const hora = agora.getHours();\n\n    if (hora >= 6 && hora < 12) {\n        return \"Bom dia!\";\n    } else if (hora >= 12 && hora < 18) {\n        return \"Boa tarde!\";\n    } else {\n        return \"Boa noite!\";\n    }\n}\n\nconst saudacao = determinarSaudacao();\n\n// Retorna os dados para serem usados nos próximos nós\nreturn {\n  firstName: firstName,\n  chatId: chatId,\n  saudacao: saudacao\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-512,-64],"id":"1862dc08-8127-429b-a5ae-269b7c2d6116","name":"Separa os dados"},{"parameters":{"chatId":"={{ $('Separa os dados').item.json.chatId }}","text":"=Olá {{ $('Separa os dados').item.json.saudacao }} {{ $('Telegram Trigger').item.json.message.from.first_name }} Bem-vindo ao atendimento IA da  Redes Linkin !! 😃😃  Selecione uma das opções abaixo:","replyMarkup":"inlineKeyboard","inlineKeyboard":{"rows":[{"row":{"buttons":[{"text":"2º Via Boletos","additionalFields":{"callback_data":"boletos"}},{"text":"Suporte Técnico","additionalFields":{"callback_data":"suporte_tecnico"}}]}}]},"additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-240,-64],"id":"f352e31d-acc5-450b-8a04-535bffc3bb57","name":"Envia Menu","webhookId":"ec5f3fbe-d8ea-48ca-9275-693ce4041218","credentials":{"telegramApi":{"id":"qRWUrzDHnPRBKdO4","name":"Redeslinkin_bot"}}}],"connections":{"Telegram Trigger":{"main":[[{"node":"Separa os dados","type":"main","index":0}]]},"Separa os dados":{"main":[[{"node":"Envia Menu","type":"main","index":0}]]},"Envia Menu":{"main":[[]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"5f9b21f8-67d6-4910-a200-d99b7fa4b684","activeVersionId":null,"triggerCount":1,"shared":[{"updatedAt":"2025-09-16T16:48:45.215Z","createdAt":"2025-09-16T16:48:45.215Z","role":"workflow:owner","workflowId":"ZapiTITC9K1t2zeS","projectId":"9hAKJPuMlcuGxWxS"}],"activeVersion":null,"tags":[]}