monitora-instancias-do-evolution-ifvXQvZRG1seuyzn.json
{"createdAt":"2025-10-03T14:10:23.137Z","updatedAt":"2025-10-08T10:16:55.456Z","id":"ifvXQvZRG1seuyzn","name":"Monitora instancias do evolution","active":true,"isArchived":false,"nodes":[{"parameters":{"operation":"fetch-instances"},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[-384,-224],"id":"873c4e98-488d-4a93-bc1f-6216138471c9","name":"Buscar instancia","credentials":{"evolutionApi":{"id":"z5m5bQunXbjwn9Z1","name":"Develop"}}},{"parameters":{"fieldToSplitOut":"data","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[-208,-224],"id":"cb92fa77-4494-47dc-97fc-0d04fdab0d5e","name":"Separa cada instancia"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"0598e2d3-da3b-4fad-9bab-02995b0d95b2","leftValue":"={{ $json.connectionStatus }}","rightValue":"connecting","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}},{"id":"b509bcc0-fcba-4adb-b4db-ea66a4268751","leftValue":"={{ $json.connectionStatus }}","rightValue":"close","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"or"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[0,-224],"id":"b209bd37-4f96-45b8-b382-96a18c0be127","name":"If"},{"parameters":{"chatId":"372958712","text":"=O whatsapp do {{ $json.profileName }} se encontra desconectado desde o dia {{ \n  new Date($json.disconnectionAt).toLocaleString(\"pt-BR\", { \n    timeZone: \"America/Sao_Paulo\",\n    year: \"numeric\",\n    month: \"2-digit\",\n    day: \"2-digit\",\n    hour: \"2-digit\",\n    minute: \"2-digit\",\n    second: \"2-digit\"\n  }) \n}}\n\n\n","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[288,-320],"id":"fad33990-d40d-415f-bfe4-2bdd1f8029cf","name":"Send a text message","webhookId":"9a323b4b-d602-40f7-bbbb-4a0e794e76e9","credentials":{"telegramApi":{"id":"qRWUrzDHnPRBKdO4","name":"Redeslinkin_bot"}}},{"parameters":{"rule":{"interval":[{"field":"hours","hoursInterval":6}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-560,-224],"id":"2a64e343-6d94-4211-bcb5-e6e21bab7c49","name":"Schedule Trigger"}],"connections":{"Buscar instancia":{"main":[[{"node":"Separa cada instancia","type":"main","index":0}]]},"Separa cada instancia":{"main":[[{"node":"If","type":"main","index":0}]]},"If":{"main":[[{"node":"Send a text message","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Buscar instancia","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[6]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"05f8a08e-7130-402f-bd7d-c8ac47f5c533","triggerCount":1,"shared":[{"createdAt":"2025-10-03T14:10:23.137Z","updatedAt":"2025-10-03T14:10:23.137Z","role":"workflow:owner","workflowId":"ifvXQvZRG1seuyzn","projectId":"9hAKJPuMlcuGxWxS"}],"tags":[]}