monitora-grupo-whatsapp-quem-entra-e-sai-W9hL28Vh22fhz0ih.json
{"updatedAt":"2025-09-21T14:11:46.438Z","createdAt":"2025-09-19T21:54:45.725Z","id":"W9hL28Vh22fhz0ih","name":"Monitora grupo whatsapp quem entra e sai","active":true,"isArchived":false,"nodes":[{"parameters":{},"id":"09b6b05e-5d08-4451-a191-5e022fd8241b","name":"When clicking ‘Test workflow’","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-640,384]},{"parameters":{"url":"https://develop.redeslinkin.com.br/group/fetchAllGroups/empresa","sendQuery":true,"queryParameters":{"parameters":[{"name":"getParticipants","value":"false"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"global_p2fLIG2vxXdJa5nO"}]},"options":{"redirect":{"redirect":{}}}},"id":"837f701d-5e51-452c-9a6a-9e31002ea4d5","name":"Find GroupId","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-400,384]},{"parameters":{"assignments":{"assignments":[{"id":"f169037f-43f7-4466-a6eb-2786b7c0f96f","name":"idGroupCerto","value":"120363395226831345@g.us","type":"string"},{"id":"b5712dd9-fe0b-4e52-9534-315df6ba380c","name":"idGroup","value":"={{ $json.body.data.id }}","type":"string"},{"id":"1dc4c12f-fe01-4986-8ed4-3fbacc2b65ab","name":"action","value":"={{ $json.body.data.action }}","type":"string"},{"id":"4ec21081-8ab8-435f-8b45-8f4fdac7b746","name":"user","value":"={{ $json.body.data.participants.toJsonString().replace('\"]','').replace('[\"','') }}","type":"string"}]},"options":{}},"id":"d896627e-25a7-4db5-851e-d49f1264ed01","name":"Formatar1","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-400,-96]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"333b4b68-9b2b-4014-927d-a8a7c8124a11","leftValue":"={{ $('Formatar1').item.json.idGroup }}","rightValue":"={{ $('Formatar1').item.json.idGroupCerto }}","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"id":"df30ac32-dd54-4126-abdf-83da52923e0a","name":"If1","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[64,-96]},{"parameters":{},"id":"f392c8e1-bee7-4675-93c7-ed9b2493f5a3","name":"No Operation, do nothing1","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[256,-16]},{"parameters":{"assignments":{"assignments":[{"id":"aa23d7d5-8e97-46c1-b085-d15974caf102","name":"nomeGrupo","value":"={{ $json.subject }}","type":"string"}]},"options":{}},"id":"e4858c11-ff0d-4ae9-996c-02f83b6a566a","name":"nomeGrupo","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[256,-192]},{"parameters":{"amount":15},"id":"a00f91bd-1a94-4632-ab14-a443bb868142","name":"Wait1","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[704,-96],"webhookId":"144d2550-d839-4d82-b23f-66b735eee618"},{"parameters":{"amount":15},"id":"aec76cd2-55db-40fe-9b8c-def061a8eddb","name":"Wait2","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[704,-288],"webhookId":"144d2550-d839-4d82-b23f-66b735eee618"},{"parameters":{"url":"https://develop.redeslinkin.com.br/group/findGroupInfos/empresa","sendQuery":true,"queryParameters":{"parameters":[{"name":"groupJid","value":"={{ $('Formatar1').item.json.idGroup }}"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"global_p2fLIG2vxXdJa5nO"}]},"options":{"redirect":{"redirect":{}}}},"id":"cac17dba-fda4-4a22-8224-fae03727fd4c","name":"getGroups","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-192,-96]},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $('Formatar1').item.json.action }}","rightValue":"remove","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Saiu"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"d5871275-cd1d-453b-bf34-a7da529cf580","leftValue":"={{ $('Formatar1').item.json.action }}","rightValue":"add","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Entrou"}]},"options":{}},"id":"2fe9a1fb-33ab-4588-8677-be1e2f956b2c","name":"Switch2","type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[496,-192]},{"parameters":{"content":"","height":700,"width":660,"color":6},"type":"n8n-nodes-base.stickyNote","position":[480,-496],"typeVersion":1,"id":"f9d13cb2-ea44-498c-82c9-f9a53c369629","name":"Sticky Note"},{"parameters":{"httpMethod":"POST","path":"grupo","options":{}},"id":"88f172d7-36a7-4b84-8aee-99b4e8d5f7d6","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-640,-96],"webhookId":"aa32026c-a837-43db-9bea-a579c2058981"},{"parameters":{"content":"## Envio da mensagem.","height":100,"color":4},"type":"n8n-nodes-base.stickyNote","position":[496,-464],"typeVersion":1,"id":"8d87e1dc-6e21-4ca7-8e7a-769276867068","name":"Sticky Note1"},{"parameters":{"content":"","height":580,"width":440,"color":6},"type":"n8n-nodes-base.stickyNote","position":[16,-368],"typeVersion":1,"id":"dab2efcd-09fc-42f5-a27b-fcf38f79bf2b","name":"Sticky Note2"},{"parameters":{"content":"## Valida o Grupo.","height":80,"color":4},"type":"n8n-nodes-base.stickyNote","position":[48,-352],"typeVersion":1,"id":"561e68e6-99d5-47fd-8ded-4ebe04bdf399","name":"Sticky Note3"},{"parameters":{"content":"","height":580,"width":700,"color":6},"type":"n8n-nodes-base.stickyNote","position":[-704,-368],"typeVersion":1,"id":"155cddb2-4c50-40cd-b16a-aac1a721020b","name":"Sticky Note4"},{"parameters":{"content":"## Recebe as informações e formata.","height":80,"width":460,"color":4},"type":"n8n-nodes-base.stickyNote","position":[-688,-352],"typeVersion":1,"id":"7acf5ac5-747c-4c34-ad95-57367b0d9b00","name":"Sticky Note5"},{"parameters":{"content":"\n## Mande mensagem automática pra quem entrar ou sair de um grupo específico","height":100,"width":1160,"color":7},"type":"n8n-nodes-base.stickyNote","position":[-704,-496],"typeVersion":1,"id":"c2954117-33ea-4d32-b098-e66de1c13e96","name":"Sticky Note6"},{"parameters":{"content":"","height":340,"width":700,"color":6},"type":"n8n-nodes-base.stickyNote","position":[-704,240],"typeVersion":1,"id":"03b22ce9-9026-44a3-bef5-4e42277afb19","name":"Sticky Note7"},{"parameters":{"content":"## Encontre o ID do Grupo\n- Selecione o trigger e tecle \"d\" para desativar e ativar.","height":80,"width":460,"color":4},"type":"n8n-nodes-base.stickyNote","position":[-688,256],"typeVersion":1,"id":"7264412a-c1d5-4686-b0cd-5ae5ec30cd34","name":"Sticky Note8"},{"parameters":{"resource":"messages-api","instanceName":"empresa","remoteJid":"={{ $('Formatar1').item.json.user }}","messageText":"Seja bem vindo ao grupo","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[928,-96],"id":"a6d83156-77a2-405d-beee-b881ce2c2409","name":"Enviar texto1","credentials":{"evolutionApi":{"id":"z5m5bQunXbjwn9Z1","name":"Develop"}}},{"parameters":{"resource":"messages-api","instanceName":"empresa","remoteJid":"={{ $('Formatar1').item.json.user }}","messageText":"voce saiu do grupo","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[896,-288],"id":"d0cf5fd3-521e-4c15-aa14-c576e54ccaaf","name":"Enviar texto","credentials":{"evolutionApi":{"id":"z5m5bQunXbjwn9Z1","name":"Develop"}}}],"connections":{"When clicking ‘Test workflow’":{"main":[[{"node":"Find GroupId","type":"main","index":0}]]},"Formatar1":{"main":[[{"node":"getGroups","type":"main","index":0}]]},"If1":{"main":[[{"node":"nomeGrupo","type":"main","index":0}],[{"node":"No Operation, do nothing1","type":"main","index":0}]]},"nomeGrupo":{"main":[[{"node":"Switch2","type":"main","index":0}]]},"getGroups":{"main":[[{"node":"If1","type":"main","index":0}]]},"Switch2":{"main":[[{"node":"Wait2","type":"main","index":0}],[{"node":"Wait1","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"Formatar1","type":"main","index":0}]]},"Wait2":{"main":[[{"node":"Enviar texto","type":"main","index":0}]]},"Wait1":{"main":[[{"node":"Enviar texto1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"6ddddb8c-ce93-4fb0-a943-da19848ed1d6","activeVersionId":"6ddddb8c-ce93-4fb0-a943-da19848ed1d6","triggerCount":1,"shared":[{"updatedAt":"2025-09-19T21:54:45.725Z","createdAt":"2025-09-19T21:54:45.725Z","role":"workflow:owner","workflowId":"W9hL28Vh22fhz0ih","projectId":"9hAKJPuMlcuGxWxS"}],"activeVersion":{"updatedAt":"2026-01-14T12:01:56.530Z","createdAt":"2026-01-14T12:01:56.530Z","versionId":"6ddddb8c-ce93-4fb0-a943-da19848ed1d6","workflowId":"W9hL28Vh22fhz0ih","nodes":[{"parameters":{},"id":"09b6b05e-5d08-4451-a191-5e022fd8241b","name":"When clicking ‘Test workflow’","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-640,384]},{"parameters":{"url":"https://develop.redeslinkin.com.br/group/fetchAllGroups/empresa","sendQuery":true,"queryParameters":{"parameters":[{"name":"getParticipants","value":"false"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"global_p2fLIG2vxXdJa5nO"}]},"options":{"redirect":{"redirect":{}}}},"id":"837f701d-5e51-452c-9a6a-9e31002ea4d5","name":"Find GroupId","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-400,384]},{"parameters":{"assignments":{"assignments":[{"id":"f169037f-43f7-4466-a6eb-2786b7c0f96f","name":"idGroupCerto","value":"120363395226831345@g.us","type":"string"},{"id":"b5712dd9-fe0b-4e52-9534-315df6ba380c","name":"idGroup","value":"={{ $json.body.data.id }}","type":"string"},{"id":"1dc4c12f-fe01-4986-8ed4-3fbacc2b65ab","name":"action","value":"={{ $json.body.data.action }}","type":"string"},{"id":"4ec21081-8ab8-435f-8b45-8f4fdac7b746","name":"user","value":"={{ $json.body.data.participants.toJsonString().replace('\"]','').replace('[\"','') }}","type":"string"}]},"options":{}},"id":"d896627e-25a7-4db5-851e-d49f1264ed01","name":"Formatar1","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-400,-96]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"333b4b68-9b2b-4014-927d-a8a7c8124a11","leftValue":"={{ $('Formatar1').item.json.idGroup }}","rightValue":"={{ $('Formatar1').item.json.idGroupCerto }}","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"id":"df30ac32-dd54-4126-abdf-83da52923e0a","name":"If1","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[64,-96]},{"parameters":{},"id":"f392c8e1-bee7-4675-93c7-ed9b2493f5a3","name":"No Operation, do nothing1","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[256,-16]},{"parameters":{"assignments":{"assignments":[{"id":"aa23d7d5-8e97-46c1-b085-d15974caf102","name":"nomeGrupo","value":"={{ $json.subject }}","type":"string"}]},"options":{}},"id":"e4858c11-ff0d-4ae9-996c-02f83b6a566a","name":"nomeGrupo","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[256,-192]},{"parameters":{"amount":15},"id":"a00f91bd-1a94-4632-ab14-a443bb868142","name":"Wait1","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[704,-96],"webhookId":"144d2550-d839-4d82-b23f-66b735eee618"},{"parameters":{"amount":15},"id":"aec76cd2-55db-40fe-9b8c-def061a8eddb","name":"Wait2","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[704,-288],"webhookId":"144d2550-d839-4d82-b23f-66b735eee618"},{"parameters":{"url":"https://develop.redeslinkin.com.br/group/findGroupInfos/empresa","sendQuery":true,"queryParameters":{"parameters":[{"name":"groupJid","value":"={{ $('Formatar1').item.json.idGroup }}"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"global_p2fLIG2vxXdJa5nO"}]},"options":{"redirect":{"redirect":{}}}},"id":"cac17dba-fda4-4a22-8224-fae03727fd4c","name":"getGroups","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-192,-96]},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $('Formatar1').item.json.action }}","rightValue":"remove","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Saiu"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"d5871275-cd1d-453b-bf34-a7da529cf580","leftValue":"={{ $('Formatar1').item.json.action }}","rightValue":"add","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Entrou"}]},"options":{}},"id":"2fe9a1fb-33ab-4588-8677-be1e2f956b2c","name":"Switch2","type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[496,-192]},{"parameters":{"content":"","height":700,"width":660,"color":6},"type":"n8n-nodes-base.stickyNote","position":[480,-496],"typeVersion":1,"id":"f9d13cb2-ea44-498c-82c9-f9a53c369629","name":"Sticky Note"},{"parameters":{"httpMethod":"POST","path":"grupo","options":{}},"id":"88f172d7-36a7-4b84-8aee-99b4e8d5f7d6","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-640,-96],"webhookId":"aa32026c-a837-43db-9bea-a579c2058981"},{"parameters":{"content":"## Envio da mensagem.","height":100,"color":4},"type":"n8n-nodes-base.stickyNote","position":[496,-464],"typeVersion":1,"id":"8d87e1dc-6e21-4ca7-8e7a-769276867068","name":"Sticky Note1"},{"parameters":{"content":"","height":580,"width":440,"color":6},"type":"n8n-nodes-base.stickyNote","position":[16,-368],"typeVersion":1,"id":"dab2efcd-09fc-42f5-a27b-fcf38f79bf2b","name":"Sticky Note2"},{"parameters":{"content":"## Valida o Grupo.","height":80,"color":4},"type":"n8n-nodes-base.stickyNote","position":[48,-352],"typeVersion":1,"id":"561e68e6-99d5-47fd-8ded-4ebe04bdf399","name":"Sticky Note3"},{"parameters":{"content":"","height":580,"width":700,"color":6},"type":"n8n-nodes-base.stickyNote","position":[-704,-368],"typeVersion":1,"id":"155cddb2-4c50-40cd-b16a-aac1a721020b","name":"Sticky Note4"},{"parameters":{"content":"## Recebe as informações e formata.","height":80,"width":460,"color":4},"type":"n8n-nodes-base.stickyNote","position":[-688,-352],"typeVersion":1,"id":"7acf5ac5-747c-4c34-ad95-57367b0d9b00","name":"Sticky Note5"},{"parameters":{"content":"\n## Mande mensagem automática pra quem entrar ou sair de um grupo específico","height":100,"width":1160,"color":7},"type":"n8n-nodes-base.stickyNote","position":[-704,-496],"typeVersion":1,"id":"c2954117-33ea-4d32-b098-e66de1c13e96","name":"Sticky Note6"},{"parameters":{"content":"","height":340,"width":700,"color":6},"type":"n8n-nodes-base.stickyNote","position":[-704,240],"typeVersion":1,"id":"03b22ce9-9026-44a3-bef5-4e42277afb19","name":"Sticky Note7"},{"parameters":{"content":"## Encontre o ID do Grupo\n- Selecione o trigger e tecle \"d\" para desativar e ativar.","height":80,"width":460,"color":4},"type":"n8n-nodes-base.stickyNote","position":[-688,256],"typeVersion":1,"id":"7264412a-c1d5-4686-b0cd-5ae5ec30cd34","name":"Sticky Note8"},{"parameters":{"resource":"messages-api","instanceName":"empresa","remoteJid":"={{ $('Formatar1').item.json.user }}","messageText":"Seja bem vindo ao grupo","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[928,-96],"id":"a6d83156-77a2-405d-beee-b881ce2c2409","name":"Enviar texto1","credentials":{"evolutionApi":{"id":"z5m5bQunXbjwn9Z1","name":"Develop"}}},{"parameters":{"resource":"messages-api","instanceName":"empresa","remoteJid":"={{ $('Formatar1').item.json.user }}","messageText":"voce saiu do grupo","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[896,-288],"id":"d0cf5fd3-521e-4c15-aa14-c576e54ccaaf","name":"Enviar texto","credentials":{"evolutionApi":{"id":"z5m5bQunXbjwn9Z1","name":"Develop"}}}],"connections":{"When clicking ‘Test workflow’":{"main":[[{"node":"Find GroupId","type":"main","index":0}]]},"Formatar1":{"main":[[{"node":"getGroups","type":"main","index":0}]]},"If1":{"main":[[{"node":"nomeGrupo","type":"main","index":0}],[{"node":"No Operation, do nothing1","type":"main","index":0}]]},"nomeGrupo":{"main":[[{"node":"Switch2","type":"main","index":0}]]},"getGroups":{"main":[[{"node":"If1","type":"main","index":0}]]},"Switch2":{"main":[[{"node":"Wait2","type":"main","index":0}],[{"node":"Wait1","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"Formatar1","type":"main","index":0}]]},"Wait2":{"main":[[{"node":"Enviar texto","type":"main","index":0}]]},"Wait1":{"main":[[{"node":"Enviar texto1","type":"main","index":0}]]}},"authors":"system migration","name":null,"description":null,"autosaved":false},"tags":[{"updatedAt":"2025-09-19T11:55:09.048Z","createdAt":"2025-09-19T11:55:09.048Z","id":"BFzpy9tv8DY0PdOp","name":"Pack Typebot"}]}