my-workflow-cDMMliDpCPn02P9k.json
{"createdAt":"2025-04-21T20:23:30.064Z","updatedAt":"2025-04-21T23:01:28.805Z","id":"cDMMliDpCPn02P9k","name":"My workflow","active":true,"nodes":[{"parameters":{"assignments":{"assignments":[{"id":"ff392999-d538-4fdf-83d6-932872f9f938","name":"base64","value":"={{ $('Edit Fields').item.json.base64 }}","type":"string"}]},"options":{}},"id":"00efb5a3-d386-42cb-9178-f77236014fbf","name":"Variaveis JPG2","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[220,980]},{"parameters":{"operation":"toBinary","sourceProperty":"base64","options":{"fileName":"image","mimeType":"image/jpeg"}},"id":"602a60d5-86c2-404e-bfde-d12ad443a662","name":"Convert to JPG","type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[380,980]},{"parameters":{"operation":"toBinary","sourceProperty":"base64","options":{"mimeType":"audio/mpeg"}},"id":"605c0bd2-8fdf-4646-a2ff-6cceceec3616","name":"Convert to MP1","type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[380,820]},{"parameters":{"assignments":{"assignments":[{"id":"98cb7ff6-269e-40f0-9ca3-779b426b5dab","name":"remoteJid","value":"={{ $('Webhook').item.json.body.data.key.remoteJid }}","type":"string"},{"id":"2a9dbe4e-92e9-4d7d-9d5e-277b34c5736e","name":"mensagem","value":"={{ $('Webhook').item.json.body.data.message.conversation }}","type":"string"}]},"options":{}},"id":"d1e94d72-93fc-4fd1-b395-7a3926d6a8e2","name":"Edit Fields12","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[220,660]},{"parameters":{"assignments":{"assignments":[{"id":"b2c30787-f6e4-4f1a-87da-13b42a132342","name":"base64","value":"={{ $item(\"0\").$node[\"Webhook\"].json[\"body\"][\"data\"][\"message\"][\"base64\"] }}","type":"string"}]},"options":{}},"id":"51a2bb1d-60e7-463b-8358-981e69cbfc61","name":"Edit Fields13","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[220,820]},{"parameters":{"assignments":{"assignments":[{"id":"a7322056-3060-4893-9d0d-13f49560c27c","name":"remoteJid","value":"={{ $('Switch').item.json.remoteJid }}","type":"string"},{"id":"424c7671-5250-4bf2-aa56-d12759837522","name":"mensagem","value":"={{ $item(\"0\").$node[\"Transcreve Áudio\"].json[\"text\"] }}","type":"string"}]},"options":{}},"id":"3bc834fa-6f01-4a34-9eed-eebf4596bd1c","name":"Edit Fields14","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[720,820]},{"parameters":{"assignments":{"assignments":[{"id":"a7322056-3060-4893-9d0d-13f49560c27c","name":"remoteJid","value":"={{ $('Edit Fields').item.json.remoteJid }}","type":"string"},{"id":"424c7671-5250-4bf2-aa56-d12759837522","name":"mensagem","value":"={{ $item(\"0\").$node[\"Analisa Imagem\"].json[\"choices\"][\"0\"][\"message\"][\"content\"] }}","type":"string"}]},"options":{}},"id":"b284d8da-fea9-405e-8ace-0062739d57a3","name":"Edit Fields16","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[720,980]},{"parameters":{"operation":"push","list":"={{ $json.remoteJid }}","messageData":"={{ $json.mensagem }}","tail":true},"id":"84dff133-0ecb-4b0b-914c-c9d5518212e4","name":"Listar Mensagens","type":"n8n-nodes-base.redis","typeVersion":1,"position":[1300,700],"credentials":{"redis":{"id":"YmuTJeqba0CC0WCJ","name":"Redis account"}}},{"parameters":{"operation":"get","propertyName":"mensagem","key":"={{ $json.remoteJid }}","options":{}},"id":"2d2f2b1d-8ccc-4935-bcb2-a9c936eeb5f5","name":"Puxar as Mensagens","type":"n8n-nodes-base.redis","typeVersion":1,"position":[1740,700],"credentials":{"redis":{"id":"YmuTJeqba0CC0WCJ","name":"Redis account"}}},{"parameters":{"amount":0.5},"id":"16aa0cda-9a5f-4214-8944-bd6e33027dbe","name":"Wait","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1520,700],"webhookId":"63dc8415-d5b3-442c-b720-94ceb280001a"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"8bb80936-87dc-4fcf-9784-83b69bf74de3","leftValue":"={{ $json.mensagem.last() }}","rightValue":"={{ $('Merge1').item.json.mensagem }}","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"id":"e65e3655-47ff-44a0-adb6-a56a8f7d8cbc","name":"If","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1980,700]},{"parameters":{"assignments":{"assignments":[{"id":"8a9e3cf8-ed81-432f-97ed-3e313dda6117","name":"remoteJid","value":"={{ \n  $item(\"0\").$node[\"Webhook\"].json[\"body\"][\"data\"][\"key\"][\"remoteJid\"]\n    .toString() // Converte para string, caso seja necessário\n    .replace(/@s\\.whatsapp\\.net$/, '') // Remove \"@s.whatsapp.net\"\n    .replace(/^55(\\d{2})(\\d{5})(\\d{4})$/, '$1 $2$3') // Formata como \"66 984135986\"\n}}\n","type":"string"},{"id":"c462d894-872e-4dfa-93f8-f5473ba0a874","name":"pushName","value":"={{ $item(\"0\").$node[\"Webhook\"].json[\"body\"][\"data\"][\"pushName\"] }}","type":"string"},{"id":"8f1dd78d-2cdf-4ccd-93de-f1f9fcf05242","name":"conversation","value":"={{ $item(\"0\").$node[\"Webhook\"].json[\"body\"][\"data\"][\"message\"][\"conversation\"] }}","type":"string"},{"id":"52a755db-c4a7-40ed-adb8-db8783fac6ca","name":"messageType","value":"={{ $item(\"0\").$node[\"Webhook\"].json[\"body\"][\"data\"][\"messageType\"] }}","type":"string"},{"id":"2bc74008-8683-46cc-af56-74f3f17a8109","name":"fromMe","value":"={{ $item(\"0\").$node[\"Webhook\"].json[\"body\"][\"data\"][\"key\"][\"fromMe\"] }}","type":"string"},{"id":"b45af9ee-b316-4a90-ac1c-2eb9c1c23e1f","name":"base64","value":"={{ $item(\"0\").$node[\"Webhook\"].json[\"body\"][\"data\"][\"message\"][\"base64\"] }}","type":"string"}]},"options":{}},"id":"e2165479-d0a3-4981-beb9-1b37f3bcf1db","name":"Edit Fields","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1280,940]},{"parameters":{},"id":"667c6136-09e9-4091-9773-63c828d39ef0","name":"Calculator","type":"@n8n/n8n-nodes-langchain.toolCalculator","typeVersion":1,"position":[1140,1380]},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $json.chat_id }}","contextWindowLength":1},"id":"64ea37b1-79b4-47cf-abe6-b778ff5277ff","name":"Postgres Chat Memory","type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.1,"position":[1020,1380],"credentials":{"postgres":{"id":"3wyNDggqthEytcyG","name":"pgvector"}}},{"parameters":{"operation":"set","key":"={{ $json.remoteJid }}_block","value":"true","keyType":"string","expire":true,"ttl":180},"id":"4c485c8a-5ed4-40ca-93f3-f045b42cbc15","name":"Block IA","type":"n8n-nodes-base.redis","typeVersion":1,"position":[-840,800],"credentials":{"redis":{"id":"YmuTJeqba0CC0WCJ","name":"Redis account"}}},{"parameters":{"operation":"get","propertyName":"Block","key":"={{ $json.remoteJid }}_block","options":{}},"id":"4b3b2ec7-a951-493d-8c6a-d74ec79181a8","name":"Receber Block Chat","type":"n8n-nodes-base.redis","typeVersion":1,"position":[-840,1080],"credentials":{"redis":{"id":"YmuTJeqba0CC0WCJ","name":"Redis account"}}},{"parameters":{"name":"base_conhecimento","description":"use essa tool para buscar no vector_store informações sobre especialista médicos, especialidade, valor da consulta, exames, tipo de exames, valor de exames, e outras informações no banco de dados","topK":10},"id":"97fdacf1-96a5-471f-b12e-320b9525a8ae","name":"base_conhecimento","type":"@n8n/n8n-nodes-langchain.toolVectorStore","typeVersion":1,"position":[1640,1360],"disabled":true},{"parameters":{"method":"POST","url":"={{ $item(\"0\").$node[\"Webhook\"].json[\"body\"][\"server_url\"] }}/message/sendText/{{ $item(\"0\").$node[\"Webhook\"].json[\"body\"][\"instance\"] }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $('Webhook').item.json.body.apikey }}"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"number","value":"={{ $item(\"0\").$node[\"Webhook\"].json[\"body\"][\"data\"][\"key\"][\"remoteJid\"] }}"},{"name":"text","value":"={{ $item(\"0\").$node[\"Loop Over Items\"].json[\"messages\"] }}"}]},"options":{}},"id":"9301c894-6dc8-49d6-b865-3d86ba172ce5","name":"Resposta Texto","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2520,1080]},{"parameters":{"assignments":{"assignments":[{"id":"68c8742a-8cc1-4aff-9313-71390277bf4f","name":"messages","value":"={{ $json.output }}","type":"string"}]},"options":{}},"id":"0ba9ba11-0b2f-4037-b08f-393625343d36","name":"Edit Fragmenta","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1720,980]},{"parameters":{"assignments":{"assignments":[{"id":"e0768b84-d95d-47a0-843e-82b2b74130cf","name":"messages","value":"={{ $json.messages.split('\\n\\n') }}","type":"array"}]},"options":{}},"id":"b624ddac-a845-44ae-864f-db70cf001742","name":"Split \\n","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1900,980]},{"parameters":{"amount":3},"id":"6519beeb-8c1d-4e6c-9a54-cb400b1e8748","name":"Wait5","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[2760,1140],"webhookId":"90bf0bfe-c3cd-4a4f-844b-2f0e7502bbc6"},{"parameters":{"options":{"reset":false}},"id":"0a9b6713-6fe9-4b26-bacb-36e2be11f9f8","name":"Loop Over Items","type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[2280,980]},{"parameters":{"fieldToSplitOut":"messages","options":{}},"id":"d005d591-d02b-43b0-abe3-efa3bf2ffe3b","name":"Split Out","type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[2080,980]},{"parameters":{"assignments":{"assignments":[{"id":"a8f9df49-3137-42d2-9ac3-dae8a8ea7a26","name":"mensagem","value":"={{ $('Puxar as Mensagens').item.json.mensagem.join('\\n') }}","type":"string"},{"id":"22d5a625-8475-4115-9982-2b4911663125","name":"chat_id","value":"={{ $('Merge1').item.json.remoteJid }}","type":"string"}]},"options":{}},"id":"b44a24bb-b787-4a7d-a882-027f7752e364","name":"Edit Fields1","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2240,680]},{"parameters":{"operation":"delete","key":"={{ $json.chat_id }}"},"id":"3ff09259-f941-477e-967d-7d46940177c5","name":"Deleta Mesagem","type":"n8n-nodes-base.redis","typeVersion":1,"position":[2500,680],"credentials":{"redis":{"id":"YmuTJeqba0CC0WCJ","name":"Redis account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"9fd12788-3c02-4a42-8f3a-e0f34b40b76a","leftValue":"={{ $item(\"0\").$node[\"Webhook\"].json[\"body\"][\"data\"][\"key\"][\"remoteJid\"] }}","rightValue":"@s.whatsapp.net","operator":{"type":"string","operation":"endsWith"}}],"combinator":"and"},"options":{}},"id":"6ec90708-1c43-40e5-9b99-89d02f86e26e","name":"bloqueia_grupo","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-1520,960]},{"parameters":{"resource":"audio","operation":"transcribe","binaryPropertyName":"=data","options":{}},"id":"bdec1dfb-0bd9-442e-ba0c-9edb9ecc78c8","name":"Transcreve Áudio","type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.4,"position":[560,820],"disabled":true},{"parameters":{"resource":"image","operation":"analyze","modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"text":"transcrever a imagem, atentando-se apenas para o conteúdo legível e claro referente às informações sobre exames, consultas e outras informações, para que o agente possa responder com base nas informações do sistema. atentar para exames, radiografias, Raio X, Tomografia Computadorizada, ressonância magnética, Exames Laboratoriais, Exames Clínicos. Quando a Imagem não conter nada relacionando, responder da seguinte forma.","inputType":"=data","simplify":false,"options":{}},"id":"4d1499d5-fc57-4294-96fa-c6e56e73f20b","name":"Analisa Imagem","type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.4,"position":[560,1000],"disabled":true},{"parameters":{"tableName":"astraonlinepdf","options":{}},"id":"300b2c3a-b792-4ed5-b5cb-3d4ae55ca2b5","name":"Postgres PGVector Store","type":"@n8n/n8n-nodes-langchain.vectorStorePGVector","typeVersion":1,"position":[1280,1400],"credentials":{"postgres":{"id":"3wyNDggqthEytcyG","name":"pgvector"}},"disabled":true},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $('Webhook').item.json.body.data.messageType }}","rightValue":"conversation","operator":{"type":"string","operation":"equals"},"id":"4765207e-26a9-478c-94a8-2db13b31ef65"}],"combinator":"and"},"renameOutput":true,"outputKey":"texto"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"eff21590-3f98-44e7-a61c-69b58659b264","leftValue":"={{ $('Webhook').item.json.body.data.messageType }}","rightValue":"audioMessage","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"audio"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"70387fe0-1775-4220-8d33-31a51169cd39","leftValue":"={{ $('Webhook').item.json.body.data.messageType }}","rightValue":"imageMessage","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"image"}]},"options":{}},"id":"dbd6fdce-da58-41f6-8c39-39001c4ee19b","name":"Switch Type","type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-320,920]},{"parameters":{"numberInputs":5},"id":"33d5fcfb-99f5-40a3-9f6e-70ae0978b40f","name":"Merge1","type":"n8n-nodes-base.merge","typeVersion":3,"position":[980,660]},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.Block }}","rightValue":"","operator":{"type":"string","operation":"empty","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"IA PODE RESPONDER"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"8b556bba-decb-4c52-af5b-8a2b019915b6","leftValue":"={{ $json.Block }}","rightValue":"true","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"IA NAO PODE RESPONDER"}]},"options":{}},"id":"d62e2c18-8f76-48d5-a2e2-30ac426c67d1","name":"Switch Block","type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-620,940]},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $item(\"0\").$node[\"Edit Fields\"].json[\"fromMe\"] }}","rightValue":"true","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"outcoming"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"47adcb9e-74a9-487c-9aa5-ef65dec84847","leftValue":"={{ $item(\"0\").$node[\"Edit Fields\"].json[\"fromMe\"] }}","rightValue":"=false","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"incoming"}]},"options":{}},"id":"21fc3066-6d53-4cb3-8c5b-bd00cf4c37c3","name":"Switch","type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-1080,940]},{"parameters":{"promptType":"define","text":"={{ $json.mensagem }}","options":{"systemMessage":"=### 🧮 Cálculos e Datas\n\nPara efetuar **cálculos matemáticos** utilize a ferramenta **Calculator**.  \nA data de hoje é: `{{$today}}`  \nO horário atual é: `{{$now}}`\n\n📅 **Data detalhada:**  \n{{ $now.weekdayLong }}, {{ $now.format('dd/MM/yyyy') }}, {{ $now.hour.toString().padStart(2, '0') }}:{{ $now.minute.toString().padStart(2, '0') }}\n\n---\n\n### 🔁 Transferência para Atendimento Humano\n\nQuando identificar que o usuário deseja falar com um atendente, ou solicitar atendimento por um humano, **LIA deve responder exatamente com a frase abaixo, sem nenhuma variação**:\n\n**\"Ok transferindo\"**\n\n> ❗️Essa frase é a **palavra-chave** para acionar fluxos no n8n.\n\n---\n\n### 💲 Informações sobre Preços\n\nSe o cliente perguntar sobre os **valores dos serviços oferecidos pela RedesLinkin**, **LIA deve buscar as informações na base de conhecimento.**\n\n> Se não encontrar a resposta, deve encaminhar ao setor responsável.\n\n---\n\n### 🤖 Persona\n\n**LIA** é a assistente virtual da **RedesLinkin**, empresa especializada em **consultas automatizadas ao MK-AUTH**, **configuração de roteadores Mikrotik**, **hospedagem de MK-AUTH** e **envio automatizado de cobranças via WhatsApp**.\n\nEla é cordial, técnica, objetiva e muito atenciosa. Sua principal função é entender as necessidades dos clientes, apresentar as soluções oferecidas pela empresa, além de auxiliar na triagem de suporte técnico e comercial.\n\n---\n\n### 🏢 Contexto da RedesLinkin\n\nA **RedesLinkin** oferece soluções voltadas para **provedores de internet** que utilizam MK-AUTH. Entre os serviços prestados, estão:\n\n- 🔎 Consultas automatizadas ao MK-AUTH  \n- ☁️ **Hospedagem segura e otimizada do sistema MK-AUTH**  \n- 📡 Configuração e otimização de roteadores **Mikrotik**  \n- 💬 Envio de **mensagens de cobrança via WhatsApp** usando os recursos do MK-AUTH  \n- 📊 Monitoramento, suporte técnico e integrações personalizadas\n- Instação de serviços, como Zabbix, Grafana\n\n---\n\n### 🎯 Objetivo\n\nGarantir um atendimento técnico, rápido e eficiente para clientes da RedesLinkin, esclarecendo dúvidas e direcionando os atendimentos para os setores adequados da empresa.\n\nFoco principal:\n\n- Otimizar captação de leads  \n- Reduzir tempo de resposta  \n- Garantir clareza e objetividade nas interações  \n\n---\n\n### 📏 Diretrizes\n\n**Técnica COT (Chain-of-Thought):**  \nLIA deve pensar em etapas lógicas e estruturadas para organizar sua fala e processos.\n\n**Tom Profissional e Amigável:**  \nEquilibrar o tom técnico com simpatia, buscando sempre simplificar a linguagem.\n\n**Interatividade Direta:**  \nFazer perguntas específicas para entender a necessidade do cliente e oferecer a melhor solução.\n\n---\n\n### 🔎 Utilização da Base de Conhecimento\n\nSempre que solicitada uma funcionalidade técnica, integração, configuração ou valor de serviço, **LIA deverá consultar a base_conhecimento antes de responder**.\n\nSe não houver resposta clara, **encaminhar ao setor técnico ou comercial com uma pré-triagem.**\n\n---\n\n### 🟢 Início de Conversa da LIA\n\n#### Saudação Padrão\n\nOlá, tudo bem? 👋 Eu sou a LIA, assistente virtual da **RedesLinkin**, empresa especialista em automações com **MK-AUTH**, **Mikrotik**, **hospedagem de MK-AUTH** e **envio de cobranças via WhatsApp**!\n\nIdentifiquei que seu nome é **{{ $('Webhook').item.json.body.data.pushName }}**. Poderia confirmar, por gentileza?\n\n---\n\n### ✍️ Estilo de Resposta\n\n- **Negrito:** para informações importantes.  \n- _Itálico:_ para orientações ou dicas.  \n- ✅ Emojis: para tornar a conversa mais visual e simpática.  \n- ✅ Markdown: usar listas, cabeçalhos e divisões para facilitar leitura.\n\n---\n\n### 📋 Roteiro de Triagem Técnica ou Comercial\n\n#### 1. Confirmação de Nome\n\n“Poderia confirmar seu nome? Ou deseja utilizar outro nome para o atendimento?”\n\n#### 2. Coleta de Necessidade\n\n> “Você gostaria de atendimento para alguma das soluções abaixo?”\n\n- 🛠️ Suporte técnico MK-AUTH  \n- ☁️ Hospedagem MK-AUTH  \n- 📡 Configuração Mikrotik  \n- 💬 Integração de cobranças via WhatsApp  \n- 📊 Consultas automatizadas ao MK-AUTH  \n- ❓Outro\n\n\n## voce também vai trazer os dados do home assistant quando for perguntado, mas quero que responda em portugues do brasil.\n---\n\n"}},"id":"bfc4cef4-6699-4884-a2f7-7899bdb2fdeb","name":"AI Agent","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[1320,980]},{"parameters":{"httpMethod":"POST","path":"856faf61-b63e-4acb-a537-fdb3fc0e20c2","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-1740,960],"id":"d76c9c4c-8798-4024-aaa8-e9728b4782e5","name":"Webhook","webhookId":"856faf61-b63e-4acb-a537-fdb3fc0e20c2"},{"parameters":{"model":"llama-3.1-8b-instant","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGroq","typeVersion":1,"position":[880,1340],"id":"f2cf0fff-b865-4aaa-b960-a93eb988a726","name":"Groq Chat Model","credentials":{"groqApi":{"id":"ORiGTc5ftvVwVkCu","name":"Groq account"}}},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.embeddingsGoogleGemini","typeVersion":1,"position":[1380,1600],"id":"a1698249-6cee-4608-8aae-d45dc96b1e44","name":"Embeddings Google Gemini","disabled":true},{"parameters":{},"type":"n8n-nodes-base.homeAssistantTool","typeVersion":1,"position":[460,1180],"id":"6cc80b90-a91f-4d08-a77f-d22282e7df7f","name":"Home Assistant","credentials":{"homeAssistantApi":{"id":"avXOJlH8BS1ItoRT","name":"Home Assistant account"}}},{"parameters":{"resource":"cameraProxy","cameraEntityId":"camera.nvr_portao_portao"},"type":"n8n-nodes-base.homeAssistantTool","typeVersion":1,"position":[1480,1240],"id":"6e585309-0245-4b03-a712-4bf63b0602cb","name":"Home Assistant1","credentials":{"homeAssistantApi":{"id":"avXOJlH8BS1ItoRT","name":"Home Assistant account"}}}],"connections":{"Variaveis JPG2":{"main":[[{"node":"Convert to JPG","type":"main","index":0}]]},"Convert to JPG":{"main":[[{"node":"Analisa Imagem","type":"main","index":0}]]},"Convert to MP1":{"main":[[{"node":"Transcreve Áudio","type":"main","index":0}]]},"Edit Fields12":{"main":[[{"node":"Merge1","type":"main","index":1}]]},"Edit Fields13":{"main":[[{"node":"Convert to MP1","type":"main","index":0}]]},"Edit Fields14":{"main":[[{"node":"Merge1","type":"main","index":2}]]},"Edit Fields16":{"main":[[{"node":"Merge1","type":"main","index":3}]]},"Listar Mensagens":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Puxar as Mensagens":{"main":[[{"node":"If","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Puxar as Mensagens","type":"main","index":0}]]},"If":{"main":[[{"node":"Edit Fields1","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Calculator":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Postgres Chat Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"Receber Block Chat":{"main":[[{"node":"Switch Block","type":"main","index":0}]]},"base_conhecimento":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Resposta Texto":{"main":[[{"node":"Wait5","type":"main","index":0}]]},"Edit Fragmenta":{"main":[[{"node":"Split \\n","type":"main","index":0}]]},"Split \\n":{"main":[[{"node":"Split Out","type":"main","index":0}]]},"Wait5":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"Resposta Texto","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Edit Fields1":{"main":[[{"node":"Deleta Mesagem","type":"main","index":0}]]},"Deleta Mesagem":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"bloqueia_grupo":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Transcreve Áudio":{"main":[[{"node":"Edit Fields14","type":"main","index":0}]]},"Analisa Imagem":{"main":[[{"node":"Edit Fields16","type":"main","index":0}]]},"Postgres PGVector Store":{"ai_vectorStore":[[{"node":"base_conhecimento","type":"ai_vectorStore","index":0}]]},"Switch Type":{"main":[[{"node":"Edit Fields12","type":"main","index":0}],[{"node":"Edit Fields13","type":"main","index":0}],[{"node":"Variaveis JPG2","type":"main","index":0}]]},"Merge1":{"main":[[{"node":"Listar Mensagens","type":"main","index":0}]]},"Switch Block":{"main":[[{"node":"Switch Type","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Block IA","type":"main","index":0}],[{"node":"Receber Block Chat","type":"main","index":0}]]},"AI Agent":{"main":[[{"node":"Edit Fragmenta","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"bloqueia_grupo","type":"main","index":0}]]},"Groq Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Embeddings Google Gemini":{"ai_embedding":[[{"node":"Postgres PGVector Store","type":"ai_embedding","index":0}]]},"Home Assistant":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Home Assistant1":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"a1e113a0-4afe-4c75-9bf4-b1675479318e","triggerCount":1,"tags":[]}