my-workflow-cDMMliDpCPn02P9k.json
{"updatedAt":"2025-06-07T10:50:00.933Z","createdAt":"2025-04-21T20:23:30.064Z","id":"cDMMliDpCPn02P9k","name":"My workflow","active":false,"isArchived":true,"nodes":[{"parameters":{"assignments":{"assignments":[{"id":"98cb7ff6-269e-40f0-9ca3-779b426b5dab","name":"remoteJid","value":"={{ $('Extração dos Dados').item.json.payload.key.remoteJid }}","type":"string"},{"id":"2a9dbe4e-92e9-4d7d-9d5e-277b34c5736e","name":"mensagem","value":"={{ $('Extração dos Dados').item.json.payload.message.conversation }}","type":"string"}]},"options":{}},"id":"46ff38b6-350a-4589-aee2-50fd57e387ec","name":"Edit Fields12","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-460,380]},{"parameters":{"assignments":{"assignments":[{"id":"a7322056-3060-4893-9d0d-13f49560c27c","name":"remoteJid","value":"={{ $('Extração dos Dados').item.json.payload.key.remoteJid }}","type":"string"},{"id":"424c7671-5250-4bf2-aa56-d12759837522","name":"mensagem","value":"={{ $item(\"0\").$node[\"Transcreve Áudio\"].json[\"text\"] }}","type":"string"}]},"options":{}},"id":"c9493611-288a-4086-b827-630c71e14779","name":"Edit Fields14","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-140,560]},{"parameters":{"assignments":{"assignments":[{"id":"a7322056-3060-4893-9d0d-13f49560c27c","name":"remoteJid","value":"={{ $('Extração dos Dados').item.json.payload.key.remoteJid }}","type":"string"},{"id":"424c7671-5250-4bf2-aa56-d12759837522","name":"mensagem","value":"={{ $item(\"0\").$node[\"Analisa Imagem\"].json[\"choices\"][\"0\"][\"message\"][\"content\"] }}","type":"string"}]},"options":{}},"id":"c23945e6-2447-4d8a-bd63-a71c0c077932","name":"Edit Fields16","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-140,760]},{"parameters":{"operation":"push","list":"={{ $json.remoteJid }}","messageData":"={{ $json.mensagem }}","tail":true},"id":"d0bc4380-bbcd-4b1e-9450-6d8c9b8d2029","name":"Listar Mensagens","type":"n8n-nodes-base.redis","typeVersion":1,"position":[620,460],"credentials":{"redis":{"id":"YmuTJeqba0CC0WCJ","name":"Redis account"}}},{"parameters":{"operation":"get","propertyName":"mensagem","key":"={{ $json.remoteJid }}","options":{}},"id":"f841bb97-aee4-4cca-a95e-3d05102a27a7","name":"Puxar as Mensagens","type":"n8n-nodes-base.redis","typeVersion":1,"position":[1060,460],"credentials":{"redis":{"id":"YmuTJeqba0CC0WCJ","name":"Redis account"}}},{"parameters":{"amount":0.5},"id":"c8fd377e-7326-4289-95d3-0bd7f7296878","name":"Wait","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[840,460],"webhookId":"1571dc44-0f97-497f-a49e-af7b6d690049"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"8bb80936-87dc-4fcf-9784-83b69bf74de3","leftValue":"={{ $json.mensagem.last() }}{{ $json.mensagem }}","rightValue":"={{ $('Merge1').item.json.mensagem }}","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"id":"16290183-b571-45dd-b8e4-c5d9db128dc7","name":"If","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1300,460]},{"parameters":{"assignments":{"assignments":[{"id":"8a9e3cf8-ed81-432f-97ed-3e313dda6117","name":"remoteJid","value":"={{ $('Extração dos Dados').item.json.payload.key.remoteJid }}","type":"string"},{"id":"c462d894-872e-4dfa-93f8-f5473ba0a874","name":"pushName","value":"={{ $('Extração dos Dados').item.json.payload.pushName }}","type":"string"},{"id":"8f1dd78d-2cdf-4ccd-93de-f1f9fcf05242","name":"conversation","value":"={{ $('Extração dos Dados').item.json.payload.message.conversation }}","type":"string"},{"id":"52a755db-c4a7-40ed-adb8-db8783fac6ca","name":"messageType","value":"={{ $('Extração dos Dados').item.json.payload.message.conversation }}","type":"string"},{"id":"2bc74008-8683-46cc-af56-74f3f17a8109","name":"fromMe","value":"={{ $('Extração dos Dados').item.json.payload.key.fromMe }}","type":"string"},{"id":"b45af9ee-b316-4a90-ac1c-2eb9c1c23e1f","name":"base64","value":"=","type":"string"}]},"options":{}},"id":"4039353a-8fc5-499b-960d-3b6d355d14cc","name":"Edit Fields","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1040,600]},{"parameters":{},"id":"4dafd656-8249-4ed3-9f92-49751dc1d246","name":"Calculator","type":"@n8n/n8n-nodes-langchain.toolCalculator","typeVersion":1,"position":[760,1020]},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $json.chat_id }}","contextWindowLength":1},"id":"e573eb8f-c652-431e-b9ac-5354f3427fa6","name":"Postgres Chat Memory","type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.1,"position":[620,1020],"credentials":{"postgres":{"id":"3wyNDggqthEytcyG","name":"pgvector"}}},{"parameters":{"assignments":{"assignments":[{"id":"68c8742a-8cc1-4aff-9313-71390277bf4f","name":"messages","value":"={{ $json.output }}","type":"string"}]},"options":{}},"id":"e86cba2a-bfde-4a90-9f72-237d8e2ec174","name":"Edit Fragmenta","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1040,740]},{"parameters":{"assignments":{"assignments":[{"id":"e0768b84-d95d-47a0-843e-82b2b74130cf","name":"messages","value":"={{ $json.messages.split('\\n\\n') }}","type":"array"}]},"options":{}},"id":"95d1c19f-ab00-44bf-a359-66db32fa0b06","name":"Split \\n","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1220,740]},{"parameters":{"amount":3},"id":"321d7f61-1d0e-4596-9013-aaf81d28d906","name":"Wait5","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[2020,840],"webhookId":"c8986319-8e88-49ef-b5f5-d66942e25f0b"},{"parameters":{"options":{"reset":false}},"id":"310e0252-e759-402c-9efc-eb3d4635d184","name":"Loop Over Items","type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[1600,740]},{"parameters":{"fieldToSplitOut":"messages","options":{}},"id":"d3b26728-36aa-43c6-8c06-e3cac25e4a6f","name":"Split Out","type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[1400,740]},{"parameters":{"assignments":{"assignments":[{"id":"a8f9df49-3137-42d2-9ac3-dae8a8ea7a26","name":"mensagem","value":"={{ $('Puxar as Mensagens').item.json.mensagem.join('\\n') }}","type":"string"},{"id":"22d5a625-8475-4115-9982-2b4911663125","name":"chat_id","value":"={{ $('Merge1').item.json.remoteJid }}","type":"string"}]},"options":{}},"id":"f8fb245c-a971-41f0-9772-886933c93ab2","name":"Edit Fields1","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1560,440]},{"parameters":{"operation":"delete","key":"={{ $json.chat_id }}"},"id":"1512d5c2-954f-421b-b152-cd76f7c30f2f","name":"Deleta Mesagem","type":"n8n-nodes-base.redis","typeVersion":1,"position":[1820,440],"credentials":{"redis":{"id":"YmuTJeqba0CC0WCJ","name":"Redis account"}}},{"parameters":{"resource":"audio","operation":"transcribe","binaryPropertyName":"=data","options":{}},"id":"ea34459a-ecf1-44ff-8470-6ab6278ab770","name":"Transcreve Áudio","type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.4,"position":[-300,560],"disabled":true},{"parameters":{"resource":"image","operation":"analyze","modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"text":"transcrever a imagem, atentando-se apenas para o conteúdo legível e claro referente às informações.","inputType":"=data","simplify":false,"options":{}},"id":"f6aad921-2312-48eb-bd93-50126fba5037","name":"Analisa Imagem","type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.4,"position":[-300,760],"disabled":true},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $('Extração dos Dados').item.json.payload.message.conversation }}","rightValue":"conversation","operator":{"type":"string","operation":"notEmpty","singleValue":true},"id":"4765207e-26a9-478c-94a8-2db13b31ef65"}],"combinator":"and"},"renameOutput":true,"outputKey":"texto"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"eff21590-3f98-44e7-a61c-69b58659b264","leftValue":"={{ $('Extração dos Dados').item.json.payload.message.audioMessage.mimetype }}","rightValue":"audio/ogg; codecs=opus","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"audio"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"70387fe0-1775-4220-8d33-31a51169cd39","leftValue":"={{ $('Postgres Trigger').item.json.payload.mediaType }}","rightValue":"image","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"image"}]},"options":{}},"id":"2d56dcc0-191a-4afc-bc1a-fe3487449a4a","name":"Switch Type","type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-840,600]},{"parameters":{"numberInputs":5},"id":"ad5d3c4c-d4f1-41fe-9d8d-0ac14997a104","name":"Merge1","type":"n8n-nodes-base.merge","typeVersion":3,"position":[300,420]},{"parameters":{"promptType":"define","text":"={{ $json.mensagem }}","options":{"systemMessage":"=Para efetuar caulículos matemáticos utilize a ferramenta Calculator, a data de hoje é {{$today}} e o horário de hoje é {{$now}}\n\nData de hoje: {{ $now.weekdayLong }}, {{ $now.format('dd/MM/yyyy') }}, {{ $now.hour.toString().padStart(2, '0') }}:{{ $now.minute.toString().padStart(2, '0') }}\n\n### SEMPRE EXECUTE O BUSCAR ID PRIMEIRO PARA VOCE SABER O ID DO CLIENTE\nNUNCA EXECUTE NADA ANTES DO Busca ID CW\n\n#### Solicitação do Endereço do cliente\nQuando solicitado o endereço do cliente busque o ID dele na chamada \"Busca ID CW\" assim tera o ID do cliente para preencher em Preencher o Endereço do cliente substituindo o endereço do cliente no {endereco} solicitado na conversa\n\n#### Solicitação do RG do cliente\nAssim que o cliente entrar em contato solicite busque o ID dele na chamada Busca ID CW assim tera o ID do cliente para preencher em Preencher o RG na url principal, e preencha tambem o {rg} na chamada Preencher o RG com o RG informado pelo cliente\n\n### Solicitação de status de envio\nSe o cliente solicitar o status do pedido dele preencha o {telefone} com  na chamada api Busca Pedido CW e informa ao cliente o status do pedido retornado\n\ntelefone do cliente é: {{ $('Extração dos Dados').item.json.payload.key.remoteJid }}\n\n#### Não execute nem uma requisição se não tiver todos os dados para isso\n\n#### **Início da Conversa**  \n- **ANA:**  \n  \"Perfeito! Vou ajudar você a realizar o seu agendamento. Precisarei de algumas informações para completar o processo. Vamos começar!\"  \n\n---\n\n#### **Roteiro de Perguntas para agendamentos**  \n\n1. **Confirmação do Nome do Cliente**  \n   - **ANA:**  \n     \"Poderia confirmar o seu nome? Ou deseja utilizar este nome: {{ $('Extração dos Dados').item.json.payload.pushName }}?\"  \n   - **Ação:**  \n     Aguardando o cliente confirmar ou informar um novo nome.\n\n2. **Confirmação do WhatsApp**  \n   - **ANA:**  \n     \"O número de WhatsApp para contato ANA utilizar este número:\"  \n   - **Ação:**  \n     Aguardando o cliente confirmar ou informar um novo numero. \n\n3. **Confirmação do RG**  \n   - **ANA:**  \n     \"O número de RG ANA utilizar este número:\"  \n   - **Ação:**  \n     Aguardando o cliente confirmar ou informar um novo numero. \n\n4. **Confirmação do Endereço**  \n   - **ANA:**  \n     \"Endereço ANA utilizar este edereço:\"  \n   - **Ação:**  \n     Aguardando o cliente confirmar ou informar um novo numero. "}},"id":"6b4e6f4b-0af9-470a-aaa8-9e7ffa263fd5","name":"AI Agent","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[640,740]},{"parameters":{"schema":{"__rl":true,"value":"public","mode":"list","cachedResultName":"public"},"tableName":{"__rl":true,"value":"Messages","mode":"list","cachedResultName":"Messages"},"additionalFields":{},"options":{}},"type":"n8n-nodes-base.postgresTrigger","typeVersion":1,"position":[-2380,620],"id":"24f9e181-492b-49ef-9f6d-340759c44f3f","name":"Postgres Trigger","credentials":{"postgres":{"id":"3wyNDggqthEytcyG","name":"pgvector"}}},{"parameters":{"jsCode":"return items.map(item => {\n  item.json.payload = JSON.parse($input.first().json.payload.dataJson);\n  return item;\n});\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-2160,620],"id":"d2652338-ed28-44db-8256-a28fdc7c423b","name":"Extração dos Dados"},{"parameters":{"method":"POST","url":"={{ $('Info Base').item.json.urlticketz }}:443/backend/api/messages/send","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $('Info Base').item.json.token }}"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"number","value":"={{ $('Extração dos Dados').item.json.payload.key.remoteJid.replace(/[^0-9]/g, ''); }}"},{"name":"body","value":"={{ $json.messages }}"},{"name":"saveOnTicket","value":"true"},{"name":"linkPreview","value":"true"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1820,840],"id":"da9382c0-ceaf-472a-a705-e9c977349e35","name":"HTTP Request"},{"parameters":{"operation":"select","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"Tickets","mode":"list","cachedResultName":"Tickets"},"returnAll":true,"where":{"values":[{"column":"id","value":"={{ $('Postgres Trigger').item.json.payload.ticketId }}"}]},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-1720,620],"id":"f3968a18-4124-4fc4-9de0-4e15cf0bc1fb","name":"Busca Status Ticket","credentials":{"postgres":{"id":"3wyNDggqthEytcyG","name":"pgvector"}}},{"parameters":{"url":"={{ $('Info Base').item.json.urlticketz }}/backend/public/{{ $('Postgres Trigger').item.json.payload.mediaUrl }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-460,560],"id":"35b4720d-911c-4d3c-b716-17135dda6ba7","name":"Busca Audio"},{"parameters":{"url":"={{ $('Info Base').item.json.urlticketz }}/backend/public/{{ $('Postgres Trigger').item.json.payload.mediaUrl }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-460,760],"id":"3596387c-b206-4a88-856c-5cbd74c41fbc","name":"Busca Imagem"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"2b4b6b7c-5043-4773-94bc-68320f436dd5","leftValue":"={{ $('Busca Status Ticket').item.json.status }}","rightValue":"pending","operator":{"type":"string","operation":"equals"}},{"id":"9441aeda-7b69-438d-818e-8cd81d66a903","leftValue":"={{ $json.token }}","rightValue":"={{ $('Info Base').item.json.token }}","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-1300,620],"id":"8ba70172-7e6d-4f95-9957-5e30093ed489","name":"Pausa IA E Autoriza"},{"parameters":{"operation":"select","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"Whatsapps","mode":"list","cachedResultName":"Whatsapps"},"returnAll":true,"where":{"values":[{"column":"id","value":"={{ $json.whatsappId }}"}]},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-1520,620],"id":"851ccc8b-aa3f-4a53-bad3-668908c4d9c0","name":"Busca Info Canal","credentials":{"postgres":{"id":"3wyNDggqthEytcyG","name":"pgvector"}}},{"parameters":{"assignments":{"assignments":[{"id":"d35bfa5d-45c7-477a-8753-e00332a9fc5c","name":"urlticketz","value":"https://chat.redeslinkin.com.br","type":"string"},{"id":"ee2beb08-4f9f-4fe9-9788-79f578cec341","name":"token","value":"123456","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1940,620],"id":"1d3ff71e-6067-403b-8a15-7ab7c4e31abc","name":"Info Base"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGroq","typeVersion":1,"position":[500,980],"id":"4a92cb50-9c7b-4dbf-bcb0-68b781a1ed69","name":"Groq Chat Model","credentials":{"groqApi":{"id":"ORiGTc5ftvVwVkCu","name":"Groq account"}}}],"connections":{"Edit Fields12":{"main":[[{"node":"Merge1","type":"main","index":1}]]},"Edit Fields14":{"main":[[{"node":"Merge1","type":"main","index":2}]]},"Edit Fields16":{"main":[[{"node":"Merge1","type":"main","index":3}]]},"Listar Mensagens":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Puxar as Mensagens":{"main":[[{"node":"If","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Puxar as Mensagens","type":"main","index":0}]]},"If":{"main":[[{"node":"Edit Fields1","type":"main","index":0}],[{"node":"Edit Fields1","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Switch Type","type":"main","index":0}]]},"Calculator":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Postgres Chat Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"Edit Fragmenta":{"main":[[{"node":"Split \\n","type":"main","index":0}]]},"Split \\n":{"main":[[{"node":"Split Out","type":"main","index":0}]]},"Wait5":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"HTTP Request","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Edit Fields1":{"main":[[{"node":"Deleta Mesagem","type":"main","index":0}]]},"Deleta Mesagem":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Transcreve Áudio":{"main":[[{"node":"Edit Fields14","type":"main","index":0}]]},"Analisa Imagem":{"main":[[{"node":"Edit Fields16","type":"main","index":0}]]},"Switch Type":{"main":[[{"node":"Edit Fields12","type":"main","index":0}],[{"node":"Busca Audio","type":"main","index":0}],[{"node":"Busca Imagem","type":"main","index":0}]]},"Merge1":{"main":[[{"node":"Listar Mensagens","type":"main","index":0}]]},"AI Agent":{"main":[[{"node":"Edit Fragmenta","type":"main","index":0}]]},"Postgres Trigger":{"main":[[{"node":"Extração dos Dados","type":"main","index":0}]]},"Extração dos Dados":{"main":[[{"node":"Info Base","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Wait5","type":"main","index":0}]]},"Busca Status Ticket":{"main":[[{"node":"Busca Info Canal","type":"main","index":0}]]},"Busca Audio":{"main":[[{"node":"Transcreve Áudio","type":"main","index":0}]]},"Busca Imagem":{"main":[[{"node":"Analisa Imagem","type":"main","index":0}]]},"Pausa IA E Autoriza":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Busca Info Canal":{"main":[[{"node":"Pausa IA E Autoriza","type":"main","index":0}]]},"Info Base":{"main":[[{"node":"Busca Status Ticket","type":"main","index":0}]]},"Groq Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"3c3c6ab5-1de4-4ef9-b71d-001b147fcee5","activeVersionId":null,"triggerCount":1,"shared":[{"updatedAt":"2025-04-21T20:23:30.064Z","createdAt":"2025-04-21T20:23:30.064Z","role":"workflow:owner","workflowId":"cDMMliDpCPn02P9k","projectId":"9hAKJPuMlcuGxWxS"}],"activeVersion":null,"tags":[]}