my-workflow-4-5fATr7CqsJ8Y0nl9.json
{"createdAt":"2025-09-16T17:34:41.763Z","updatedAt":"2025-09-18T00:23:19.072Z","id":"5fATr7CqsJ8Y0nl9","name":"My workflow 4","active":false,"isArchived":false,"nodes":[{"parameters":{"updates":["callback_query"],"additionalFields":{}},"type":"n8n-nodes-base.telegramTrigger","typeVersion":1.2,"position":[-448,0],"id":"78f8d4b1-6bfb-4cd0-aa3b-c9eb54e7e06f","name":"Telegram Trigger","webhookId":"8420f823-3c9d-4896-8461-d8208fdc9d30","credentials":{"telegramApi":{"id":"DIKHR2A0QcTIdlIm","name":"n8n"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.callback_query.data }}","rightValue":"suporte_ia","operator":{"type":"string","operation":"equals"},"id":"5255cbb2-506f-41c4-9b32-a641885e72b1"}],"combinator":"and"},"renameOutput":true,"outputKey":"suporte_ia"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"7059feca-1021-425c-abc5-7737e172ba53","leftValue":"={{ $json.callback_query.data }}","rightValue":"boletos","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Boletos"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"834384e5-d466-4ebd-9c1b-055b68514825","leftValue":"={{ $json.callback_query.data }}","rightValue":"pix","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Pix"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"a9b72e2c-7118-4ae6-bcfb-845324a38915","leftValue":"={{ $json.callback_query.data }}","rightValue":"suporte_tecnico","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Suporte tecnico"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"14f1efe7-6197-4527-9884-bfd67cd75ca6","leftValue":"={{ $json.callback_query.data }}","rightValue":"novo_cliente","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Novo cliente"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"d54abb20-4184-480f-bd66-709f298dd7ed","leftValue":"={{ $json.callback_query.data }}","rightValue":"area_assinante","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Area assinante"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"0076cc4c-7566-4f63-8664-521af7c7cb62","leftValue":"={{ $json.callback_query.data }}","rightValue":"cancelamento","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Cancelamento"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-208,-64],"id":"1db08082-1cf3-4ed8-b727-109dab83304c","name":"Switch"},{"parameters":{"chatId":"={{ $('Telegram Trigger').item.json.callback_query.from.id }}","text":"Ok! Torne-se Cliente","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[592,64],"id":"7914604e-1d79-4f7b-967b-35ca122d188f","name":"Torna-se cliente","webhookId":"1c516182-ffd2-466e-a7b9-f2a94971d5e6","credentials":{"telegramApi":{"id":"DIKHR2A0QcTIdlIm","name":"n8n"}}},{"parameters":{"jsCode":"// Pega o item que está entrando no nó (pode ser um webhook, um Google Sheet, etc.)\nconst item = items[0];\n\n// Gera o número aleatório exatamente como no seu exemplo\nlet numeroAleatorio = Math.floor(Math.random() * 1000000);\n\n// Adiciona uma nova propriedade chamada \"protocolo\" ao item\n// com o número gerado.\nitem.json.protocolo = numeroAleatorio;\n\n// Retorna o item modificado para o próximo nó do workflow\nreturn item;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[432,64],"id":"4c0f62b6-d7fe-4ccf-a018-2b8129379c0e","name":"Gera protocolo"},{"parameters":{"chatId":"={{ $('Telegram Trigger').item.json.callback_query.from.id }}","text":"=Este atendimento gerou um protocolo: Número: {{ $('Gera protocolo').item.json.protocolo }}","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[736,64],"id":"516bbcd7-b807-4465-ae9d-48bb30a63908","name":"Envia protocolo","webhookId":"1c516182-ffd2-466e-a7b9-f2a94971d5e6","credentials":{"telegramApi":{"id":"DIKHR2A0QcTIdlIm","name":"n8n"}}},{"parameters":{"jsCode":"// Pega o item que está entrando no nó (pode ser um webhook, um Google Sheet, etc.)\nconst item = items[0];\n\n// Gera o número aleatório exatamente como no seu exemplo\nlet numeroAleatorio = Math.floor(Math.random() * 1000000);\n\n// Adiciona uma nova propriedade chamada \"protocolo\" ao item\n// com o número gerado.\nitem.json.protocolo = numeroAleatorio;\n\n// Retorna o item modificado para o próximo nó do workflow\nreturn item;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[416,-432],"id":"8d5d7856-afc8-4e09-8bd8-9fa1708a399b","name":"Gera protocolo1"},{"parameters":{"chatId":"={{ $('Telegram Trigger').item.json.callback_query.from.id }}","text":"=Este atendimento gerou um protocolo: Número: {{ $('Gera protocolo1').item.json.protocolo }}","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[720,-432],"id":"d86ca2b6-d76f-4f42-a1d0-5f3672ee77c9","name":"Envia protocolo1","webhookId":"1c516182-ffd2-466e-a7b9-f2a94971d5e6","credentials":{"telegramApi":{"id":"DIKHR2A0QcTIdlIm","name":"n8n"}}},{"parameters":{"chatId":"={{ $('Telegram Trigger').item.json.callback_query.from.id }}","text":"OK !! Suporte IA Wellnet","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[576,-432],"id":"83489115-4221-44bf-a4d2-7973fcd912b0","name":"Suporte IA","webhookId":"1c516182-ffd2-466e-a7b9-f2a94971d5e6","credentials":{"telegramApi":{"id":"DIKHR2A0QcTIdlIm","name":"n8n"}}},{"parameters":{"jsCode":"// Pega o item que está entrando no nó (pode ser um webhook, um Google Sheet, etc.)\nconst item = items[0];\n\n// Gera o número aleatório exatamente como no seu exemplo\nlet numeroAleatorio = Math.floor(Math.random() * 1000000);\n\n// Adiciona uma nova propriedade chamada \"protocolo\" ao item\n// com o número gerado.\nitem.json.protocolo = numeroAleatorio;\n\n// Retorna o item modificado para o próximo nó do workflow\nreturn item;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[416,-256],"id":"c724827d-72aa-442b-b42e-64c7ab0667c6","name":"Gera protocolo2"},{"parameters":{"chatId":"={{ $('Telegram Trigger').item.json.callback_query.from.id }}","text":"=Este atendimento gerou um protocolo: Número: {{ $('Gera protocolo2').item.json.protocolo }}","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[720,-256],"id":"59807018-ae33-4dc2-8f16-2613cb05cdbc","name":"Envia protocolo2","webhookId":"1c516182-ffd2-466e-a7b9-f2a94971d5e6","credentials":{"telegramApi":{"id":"DIKHR2A0QcTIdlIm","name":"n8n"}}},{"parameters":{"jsCode":"// Pega o item que está entrando no nó (pode ser um webhook, um Google Sheet, etc.)\nconst item = items[0];\n\n// Gera o número aleatório exatamente como no seu exemplo\nlet numeroAleatorio = Math.floor(Math.random() * 1000000);\n\n// Adiciona uma nova propriedade chamada \"protocolo\" ao item\n// com o número gerado.\nitem.json.protocolo = numeroAleatorio;\n\n// Retorna o item modificado para o próximo nó do workflow\nreturn item;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[432,-96],"id":"02862979-752c-4075-92d8-59d21e652d24","name":"Gera protocolo3"},{"parameters":{"chatId":"={{ $('Telegram Trigger').item.json.callback_query.from.id }}","text":"=Este atendimento gerou um protocolo: Número: {{ $('Gera protocolo3').item.json.protocolo }}","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[736,-96],"id":"05c44e21-2c91-449a-836d-c920883e2f3d","name":"Envia protocolo3","webhookId":"1c516182-ffd2-466e-a7b9-f2a94971d5e6","credentials":{"telegramApi":{"id":"DIKHR2A0QcTIdlIm","name":"n8n"}}},{"parameters":{"chatId":"={{ $('Telegram Trigger').item.json.callback_query.from.id }}","text":"Ok! Pix e Pagamentos","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[576,-256],"id":"58d85c37-f136-482a-a3bf-2a70b32283c7","name":"Pix e boletos","webhookId":"1c516182-ffd2-466e-a7b9-f2a94971d5e6","credentials":{"telegramApi":{"id":"DIKHR2A0QcTIdlIm","name":"n8n"}}},{"parameters":{"chatId":"={{ $('Telegram Trigger').item.json.callback_query.from.id }}","text":"Ok!  Suporte Técnico","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[592,-96],"id":"f3eb4410-78b2-41fd-b772-94a65d1fa756","name":"Suporte Técnico","webhookId":"1c516182-ffd2-466e-a7b9-f2a94971d5e6","credentials":{"telegramApi":{"id":"DIKHR2A0QcTIdlIm","name":"n8n"}}},{"parameters":{"chatId":"={{ $('Telegram Trigger').item.json.callback_query.from.id }}","text":"Area do assinante","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[576,256],"id":"6f703621-d367-4551-8568-00af399e003d","name":"Torna-se cliente1","webhookId":"1c516182-ffd2-466e-a7b9-f2a94971d5e6","credentials":{"telegramApi":{"id":"DIKHR2A0QcTIdlIm","name":"n8n"}}},{"parameters":{"jsCode":"// Pega o item que está entrando no nó (pode ser um webhook, um Google Sheet, etc.)\nconst item = items[0];\n\n// Gera o número aleatório exatamente como no seu exemplo\nlet numeroAleatorio = Math.floor(Math.random() * 1000000);\n\n// Adiciona uma nova propriedade chamada \"protocolo\" ao item\n// com o número gerado.\nitem.json.protocolo = numeroAleatorio;\n\n// Retorna o item modificado para o próximo nó do workflow\nreturn item;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[416,256],"id":"52b5384d-e142-454c-9c4b-2dc5684d2852","name":"Gera protocolo4"},{"parameters":{"chatId":"={{ $('Telegram Trigger').item.json.callback_query.from.id }}","text":"=Este atendimento gerou um protocolo: Número: {{ $('Gera protocolo4').item.json.protocolo }}","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[720,256],"id":"01658d61-e341-44e8-a954-0d8493bcce47","name":"Envia protocolo4","webhookId":"1c516182-ffd2-466e-a7b9-f2a94971d5e6","credentials":{"telegramApi":{"id":"DIKHR2A0QcTIdlIm","name":"n8n"}}},{"parameters":{"jsCode":"// Pega o item que está entrando no nó (pode ser um webhook, um Google Sheet, etc.)\nconst item = items[0];\n\n// Gera o número aleatório exatamente como no seu exemplo\nlet numeroAleatorio = Math.floor(Math.random() * 1000000);\n\n// Adiciona uma nova propriedade chamada \"protocolo\" ao item\n// com o número gerado.\nitem.json.protocolo = numeroAleatorio;\n\n// Retorna o item modificado para o próximo nó do workflow\nreturn item;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[432,448],"id":"f66269a4-658d-4043-aabb-58d41c88b9b9","name":"Gera protocolo5"},{"parameters":{"chatId":"={{ $('Telegram Trigger').item.json.callback_query.from.id }}","text":"=Este atendimento gerou um protocolo: Número: {{ $('Gera protocolo5').item.json.protocolo }}","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[736,448],"id":"5942bccf-c76a-4994-87df-04266daea5db","name":"Envia protocolo5","webhookId":"1c516182-ffd2-466e-a7b9-f2a94971d5e6","credentials":{"telegramApi":{"id":"DIKHR2A0QcTIdlIm","name":"n8n"}}},{"parameters":{"chatId":"={{ $('Telegram Trigger').item.json.callback_query.from.id }}","text":"Ok! Cancelamento","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[592,448],"id":"a4ef8c4c-3415-459c-ab1f-61a8d46ca61f","name":"Cancelamento","webhookId":"1c516182-ffd2-466e-a7b9-f2a94971d5e6","credentials":{"telegramApi":{"id":"DIKHR2A0QcTIdlIm","name":"n8n"}}},{"parameters":{"promptType":"define","text":"=voce é um agente de uma empresa de internet que esta recebendo o que o cliente quer de acordo com uma opção que ele escolhei no menu anterior, a opção que ele escolheu é  {{ $('Telegram Trigger').item.json.callback_query.data }} e com essa informação voce vai dizer examente o assunto sobre o que escolheu nada a mais do que isso.","options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[1056,-16],"id":"7d8c444d-3040-460f-a031-ad78fe66f4a2","name":"AI Agent"},{"parameters":{"modelName":"models/gemini-2.5-pro","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[1040,192],"id":"4faf4ea1-2cd6-4c68-b5d9-8d3c5a8919c9","name":"Google Gemini Chat Model","credentials":{"googlePalmApi":{"id":"O63hwIpz5uNbFv3E","name":"Google Gemini(PaLM) Api linkincharles6"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('Telegram Trigger').item.json.callback_query.from.id }}"},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[1152,176],"id":"36cafe30-4ed6-4a72-ac71-95b8d8ca2f5a","name":"Simple Memory"}],"connections":{"Telegram Trigger":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Gera protocolo1","type":"main","index":0}],[],[{"node":"Gera protocolo2","type":"main","index":0}],[{"node":"Gera protocolo3","type":"main","index":0}],[{"node":"Gera protocolo","type":"main","index":0}],[{"node":"Gera protocolo4","type":"main","index":0}],[{"node":"Gera protocolo5","type":"main","index":0}]]},"Torna-se cliente":{"main":[[{"node":"Envia protocolo","type":"main","index":0}]]},"Gera protocolo":{"main":[[{"node":"Torna-se cliente","type":"main","index":0}]]},"Envia protocolo":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Gera protocolo1":{"main":[[{"node":"Suporte IA","type":"main","index":0}]]},"Suporte IA":{"main":[[{"node":"Envia protocolo1","type":"main","index":0}]]},"Gera protocolo2":{"main":[[{"node":"Pix e boletos","type":"main","index":0}]]},"Gera protocolo3":{"main":[[{"node":"Suporte Técnico","type":"main","index":0}]]},"Pix e boletos":{"main":[[{"node":"Envia protocolo2","type":"main","index":0}]]},"Suporte Técnico":{"main":[[{"node":"Envia protocolo3","type":"main","index":0}]]},"Torna-se cliente1":{"main":[[{"node":"Envia protocolo4","type":"main","index":0}]]},"Gera protocolo4":{"main":[[{"node":"Torna-se cliente1","type":"main","index":0}]]},"Gera protocolo5":{"main":[[{"node":"Cancelamento","type":"main","index":0}]]},"Cancelamento":{"main":[[{"node":"Envia protocolo5","type":"main","index":0}]]},"Envia protocolo1":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Envia protocolo2":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Envia protocolo3":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Envia protocolo4":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Envia protocolo5":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Simple Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Telegram Trigger":[{"json":{"update_id":475695592,"callback_query":{"id":"1601845472962440280","from":{"id":372958712,"is_bot":false,"first_name":"charles","last_name":"leandro","username":"linkincharles","language_code":"pt-br"},"message":{"message_id":401,"from":{"id":8299179886,"is_bot":true,"first_name":"n8n","username":"linkinn8n_bot"},"chat":{"id":372958712,"first_name":"charles","last_name":"leandro","username":"linkincharles","type":"private"},"date":1758153543,"text":"Olá !! Boa noite! charles  Bem-vindo ao atendimento IA da Wellnet Telecom!! 😃😃  Selecione uma das opções abaixo:","reply_markup":{"inline_keyboard":[[{"text":"🤖 Suporte IA","callback_data":"suporte_ia"}],[{"text":"2º Via Boletos","callback_data":"boletos"},{"text":"💰 Pix e Pagamentos","callback_data":"pix"},{"text":"Suporte Técnico","callback_data":"suporte_tecnico"}],[{"text":"👤 Torne-se Cliente","callback_data":"novo_cliente"},{"text":"👩🏻‍💻 Área do Assinante","callback_data":"area_assinante"},{"text":"❌ Cancelamento","callback_data":"cancelamento"}]]}},"chat_instance":"1497905239997105626","data":"suporte_ia"}}}]},"versionId":"6f46fe6b-be04-4315-8ff9-c8e9883cec17","triggerCount":1,"shared":[{"createdAt":"2025-09-16T17:34:41.763Z","updatedAt":"2025-09-16T17:34:41.763Z","role":"workflow:owner","workflowId":"5fATr7CqsJ8Y0nl9","projectId":"9hAKJPuMlcuGxWxS"}],"tags":[]}