my-workflow-2-DIyETNeSEpPJfQAY.json
{"createdAt":"2025-09-11T13:38:53.150Z","updatedAt":"2025-09-13T13:40:37.998Z","id":"DIyETNeSEpPJfQAY","name":"My workflow 2","active":false,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"b4437f72-a819-4881-86ac-5eff2eb08e51","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-688,-224],"id":"64a16b89-2d59-4494-bdbc-330ae3b1e452","name":"Webhook","webhookId":"b4437f72-a819-4881-86ac-5eff2eb08e51"},{"parameters":{"assignments":{"assignments":[{"id":"affe90c3-2818-4c59-898a-00055d7675e7","name":"remoteJid","value":"={{ $json.body.data.key.remoteJid }}","type":"string"},{"id":"85db83c4-eb8f-4947-ad09-d7dfed93b1a9","name":"pushName","value":"={{ $json.body.data.pushName }}","type":"string"},{"id":"a9454895-4a0e-46c8-90b2-2805f51ac5e2","name":"message","value":"={{ $json.body.data.message.conversation }}","type":"string"},{"id":"afffb05f-4710-4afe-ae17-a7b96d9604ca","name":"event","value":"={{ $json.body.event }}","type":"string"},{"id":"df8903a3-69df-4644-bbea-d2561d6a6abc","name":"fromMe","value":"={{ $json.body.data.key.fromMe }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-464,-224],"id":"f086d433-e5e6-4d96-a7a6-ff40ce7164cb","name":"Dados"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.event }}","rightValue":"messages.upsert","operator":{"type":"string","operation":"equals"},"id":"a6596f72-5d90-4188-ac47-4bc2e716bfea"}],"combinator":"and"}}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-240,-224],"id":"f17d95d5-f6a4-4310-adad-8baadfd8f243","name":"Switch"},{"parameters":{"promptType":"define","text":"voce é um agente especializado em home assistant, mas responda com no maximo 5 linhas, e pode guardar o nome da pessoa","options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[-16,-224],"id":"4e186cb4-020b-43db-b403-accac8cd9d55","name":"AI Agent"},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('Dados').item.json.remoteJid }}","sessionTTL":3600,"contextWindowLength":10},"type":"@n8n/n8n-nodes-langchain.memoryRedisChat","typeVersion":1.5,"position":[32,0],"id":"4338d419-f07f-4b71-999a-e32d63c61903","name":"Redis Chat Memory","credentials":{"redis":{"id":"YmuTJeqba0CC0WCJ","name":"Redis account"}}},{"parameters":{"resource":"messages-api","instanceName":"charles","remoteJid":"5521984710653","messageText":"={{ $json.output }}","options_message":{"delay":1200}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[352,-224],"id":"df0baa98-65ae-4c98-b449-b97d80033277","name":"Evolution API","credentials":{"evolutionApi":{"id":"hMor8YJvuwUuVl7u","name":"Evo"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[-80,-16],"id":"6b31e54a-672e-4d5e-9110-12506385cce3","name":"Google Gemini Chat Model","credentials":{"googlePalmApi":{"id":"Q2eVWMKKcGh9TClP","name":"Google Gemini(PaLM) Api account"}}}],"connections":{"Webhook":{"main":[[{"node":"Dados","type":"main","index":0}]]},"Dados":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Switch":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Redis Chat Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"AI Agent":{"main":[[{"node":"Evolution API","type":"main","index":0}]]},"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"c66a1761-eb44-42c1-8219-25a67593f170","triggerCount":2,"shared":[{"createdAt":"2025-09-11T13:38:53.150Z","updatedAt":"2025-09-11T13:38:53.150Z","role":"workflow:owner","workflowId":"DIyETNeSEpPJfQAY","projectId":"9hAKJPuMlcuGxWxS"}],"tags":[]}