my-workflow-3-8k4BFw6Nyd5fuIc9.json
{"createdAt":"2025-09-13T13:41:17.308Z","updatedAt":"2025-09-17T00:57:46.877Z","id":"8k4BFw6Nyd5fuIc9","name":"My workflow 3","active":false,"isArchived":false,"nodes":[{"parameters":{"updates":["message"],"additionalFields":{}},"type":"n8n-nodes-base.telegramTrigger","typeVersion":1.2,"position":[-1056,-240],"id":"5ffff9b8-46ff-448c-9673-87d1fea2e9f0","name":"Telegram Trigger","webhookId":"385b7de3-a89e-4404-92a1-0b24d0b0a343","alwaysOutputData":false,"credentials":{"telegramApi":{"id":"DIKHR2A0QcTIdlIm","name":"n8n"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.mensagem_recebida }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true},"id":"10ed711b-4de3-40e5-acf9-359a2511280f"}],"combinator":"and"},"renameOutput":true,"outputKey":"Texto"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"ca868b21-e6c4-47ed-bcb1-95510603fda9","leftValue":"={{ $json.file_id }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"Audio"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-752,-240],"id":"177fd2df-d6c6-4032-b484-5b224ecdfe09","name":"Switch"},{"parameters":{"assignments":{"assignments":[{"id":"26e09af5-6afe-4124-bda6-e5d021332c19","name":"id_contato","value":"={{ $json.message.from.id }}","type":"string"},{"id":"ec035a7f-cff9-4214-af36-00d0c93fc7ec","name":"mensagem_recebida","value":"={{ $json.message.text }}","type":"string"},{"id":"59470ef8-61c9-4f5f-8a7d-62f5d18d9ccc","name":"nome","value":"={{ $json.message.from.first_name }} {{ $json.message.from.last_name }} ","type":"string"},{"id":"10550604-12d2-4d3c-9a0e-4c17e2bab698","name":"username","value":"={{ $json.message.from.username }}","type":"string"},{"id":"ccdc5b0b-ecee-4633-be5a-8dfacc9646d0","name":"is_bot","value":"={{ $json.message.from.is_bot }}","type":"string"},{"id":"96cfb2f6-87b1-4355-bb40-85dc5deb3026","name":"tipo_mensagem","value":"={{ $json.message.chat.type }}","type":"string"},{"id":"d74902c2-a8d5-4808-87a7-0f802696e8fa","name":"duracao_audio","value":"={{ $json.message.voice.duration }}","type":"string"},{"id":"7c552d5d-4a41-4853-ae3b-a110827310b3","name":"tipo_media","value":"={{ $json.message.voice.mime_type }}","type":"string"},{"id":"07cad5d1-87d6-4361-a1a8-c5b0f9a89bb0","name":"file_id","value":"={{ $json.message.voice.file_id }}","type":"string"},{"id":"6622fb28-6a80-4381-a70c-93b2a0d7b673","name":"tamanho_arquivo","value":"={{ $json.message.voice.file_size }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-896,-240],"id":"50f89d9c-351a-422f-9a29-c51c11289a0c","name":"Separa dados"},{"parameters":{"resource":"file","fileId":"={{ $json.file_id }}","additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-560,-128],"id":"c4be9f27-e461-4397-93d5-4f542fa77cc5","name":"Get a file","webhookId":"997800b2-606e-474e-94fa-25acb146fd31","credentials":{"telegramApi":{"id":"DIKHR2A0QcTIdlIm","name":"n8n"}}},{"parameters":{"assignments":{"assignments":[{"id":"4287822e-5cc4-44bd-8a93-e42726cd2571","name":"message","value":"={{ $json.mensagem_recebida }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-144,-320],"id":"ccd95b08-421e-4bbf-846f-8f787322021f","name":"Set Texto"},{"parameters":{"assignments":{"assignments":[{"id":"ede7de7f-ef39-4576-83d5-b1fdee5850c8","name":"message","value":"={{ $json.candidates[0].content.parts[0].text }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-144,-128],"id":"b5f34c37-eda9-43ec-9a66-c0e58b94112b","name":"Set Audio"},{"parameters":{"promptType":"define","text":"=Você é um assistente virtual de atendimento ao cliente. Sua primeira tarefa é saudar o usuário e apresentar um menu de opções de forma clara e amigável.\n\nApresente o menu de opções exatamente como a seguir:\n\nDigite uma das opções:\n\n1️⃣ - 🤖 Suporte IA \n2️⃣ - 📄 2º Via Boletos\n3️⃣ - 💰 Pix e Pagamentos\n4️⃣ - 🛠 Suporte Técnico\n5️⃣ - 👤 Torne-se Cliente \n6️⃣ - 👩🏻‍💻 Área do Assinante \n7️⃣ - ❌ Cancelamento \n\n😃😃\n\nNão adicione nenhuma outra informação ou texto. Apenas mostre o menu e aguarde a resposta do usuário.\n\n\ne de acordo com a opção do usuario voce vai direcnionar para a tool especifica com o nome que vai ser igual a opção","options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[64,-256],"id":"2a5c9036-fff3-44d7-b5dc-009502542908","name":"AI Agent"},{"parameters":{"url":"https://sistema.redeslinkin.com.br/api","authentication":"genericCredentialType","genericAuthType":"httpBasicAuth","options":{}},"type":"n8n-nodes-base.httpRequestTool","typeVersion":4.2,"position":[-752,352],"id":"a703b4f1-768d-4bc5-b957-3a05ba5aa0f9","name":"Gera token mkauth","credentials":{"httpBearerAuth":{"id":"Wlaj6HkdAJgEeHZl","name":"BearerMKAUTH"},"httpBasicAuth":{"id":"lZmsjiTAZv8r83G6","name":"token JWT mkauth"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[32,-48],"id":"157e5843-d44a-4e18-a5ee-9c22b9dcd935","name":"Google Gemini Chat Model","credentials":{"googlePalmApi":{"id":"O63hwIpz5uNbFv3E","name":"Google Gemini(PaLM) Api linkincharles6"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $json.message }}","sessionTTL":3600},"type":"@n8n/n8n-nodes-langchain.memoryRedisChat","typeVersion":1.5,"position":[176,-32],"id":"9fc58b50-8cb1-47e2-9827-7bf109df4341","name":"Redis Chat Memory","credentials":{"redis":{"id":"YmuTJeqba0CC0WCJ","name":"Redis account"}}},{"parameters":{"resource":"audio","modelId":{"__rl":true,"value":"models/gemini-2.5-flash","mode":"list","cachedResultName":"models/gemini-2.5-flash"},"inputType":"binary","simplify":false,"options":{}},"type":"@n8n/n8n-nodes-langchain.googleGemini","typeVersion":1,"position":[-320,-112],"id":"4fefd402-9add-477a-876a-ceea2b4ef2bb","name":"Transcribe a recording","credentials":{"googlePalmApi":{"id":"O63hwIpz5uNbFv3E","name":"Google Gemini(PaLM) Api linkincharles6"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"","rightValue":"","operator":{"type":"string","operation":"equals"},"id":"c972e71b-d414-444f-bfe2-62615404f213"}],"combinator":"and"}}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[544,-240],"id":"05a2139d-64aa-402a-9fc7-44cd546e9084","name":"Switch1"},{"parameters":{"chatId":"={{ $('Separa dados').item.json.id_contato }}","text":"={{ $json.output }}","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[384,-256],"id":"87443c5a-bf58-4eff-9fb0-1c4ed943a71a","name":"Envia Menu","webhookId":"75ac735f-88d4-48fd-b982-aefe448ba9c6","credentials":{"telegramApi":{"id":"DIKHR2A0QcTIdlIm","name":"n8n"}}},{"parameters":{"operation":"sendAndWait","chatId":"={{ $json.result.chat.id }}","message":"teste","options":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[832,-224],"id":"740f837c-c470-4f65-a1d7-dd343c21b31f","name":"Send message and wait for response","webhookId":"b4fddd7d-a445-4e09-afb7-f4c2d231e0a0","credentials":{"telegramApi":{"id":"DIKHR2A0QcTIdlIm","name":"n8n"}}}],"connections":{"Telegram Trigger":{"main":[[{"node":"Separa dados","type":"main","index":0}]]},"Separa dados":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Set Texto","type":"main","index":0}],[{"node":"Get a file","type":"main","index":0}]]},"Get a file":{"main":[[{"node":"Transcribe a recording","type":"main","index":0}]]},"Set Texto":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Set Audio":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"AI Agent":{"main":[[{"node":"Envia Menu","type":"main","index":0}]]},"Gera token mkauth":{"ai_tool":[[]]},"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Redis Chat Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"Transcribe a recording":{"main":[[{"node":"Set Audio","type":"main","index":0}]]},"Envia Menu":{"main":[[{"node":"Switch1","type":"main","index":0}]]},"Switch1":{"main":[[{"node":"Send message and wait for response","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Telegram Trigger":[{"json":{"update_id":475695525,"message":{"message_id":247,"from":{"id":372958712,"is_bot":false,"first_name":"charles","last_name":"leandro","username":"linkincharles","language_code":"pt-br"},"chat":{"id":372958712,"first_name":"charles","last_name":"leandro","username":"linkincharles","type":"private"},"date":1758039148,"text":"oi"}}}]},"versionId":"70cfa585-c81c-456b-a692-b810e758e4d3","triggerCount":1,"shared":[{"createdAt":"2025-09-13T13:41:17.308Z","updatedAt":"2025-09-13T13:41:17.308Z","role":"workflow:owner","workflowId":"8k4BFw6Nyd5fuIc9","projectId":"9hAKJPuMlcuGxWxS"}],"tags":[]}