recebe-status-do-backup-mikrotik-LgemrQh15TZ8rBDy.json
{"createdAt":"2025-12-30T23:37:47.519Z","updatedAt":"2025-12-31T23:32:10.365Z","id":"LgemrQh15TZ8rBDy","name":"RECEBE STATUS DO BACKUP MIKROTIK","active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"mkt","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-128,80],"id":"00869621-4f8f-494f-8347-065f4428a6c8","name":"Webhook","webhookId":"8f73a7fa-4bad-4bcb-ba0e-4b6685373329"},{"parameters":{"assignments":{"assignments":[{"id":"d851de71-5307-46f5-a64c-ff71612fa593","name":"Host de deram erro","value":"={{ $json.body.lista_hosts_com_erro.split('\\\\n').join('\\n\\n\\n') }}","type":"string"},{"id":"c09d098f-6f7b-4b12-a4fb-5f1bb26a2ab5","name":"total de host","value":"={{ $json.body.total_hosts }}","type":"string"},{"id":"3adfeca7-33e2-4269-8a56-cba2a6c0960d","name":"sucesso","value":"={{ $json.body.sucessos }}","type":"string"},{"id":"798c93a0-a5ed-46c7-ab36-1a070245b040","name":"erros","value":"={{ $json.body.erros }}","type":"string"},{"id":"7515642c-fc8f-4225-a6c8-70291d698eeb","name":"tempo total de execucao","value":"={{ $json.body.tempo_total }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[80,96],"id":"fec88249-c21c-4161-b728-040b89efa16d","name":"Separa os dados"},{"parameters":{"resource":"messages-api","instanceName":"empresa","remoteJid":"120363395226831345@g.us","messageText":"=📊 BACKUP MIKROTIK - RESUMO\n✅ {{ $('Separa os dados').item.json.sucesso }} backups OK ({{ Math.round( ($('Separa os dados').item.json.sucesso / $('Separa os dados').item.json['total de host']) * 100 ) }}%)\n❌ {{ $('Separa os dados').item.json.erros }} erros ({{ Math.round( ($('Separa os dados').item.json.erros / $('Separa os dados').item.json['total de host']) * 100 ) }}%)\n📈 Total: {{ $('Separa os dados').item.json['total de host'] }} hosts processados\n\n🔴 ERROS DETALHADOS:\n\n{{ $json['Host de deram erro'] }}\n\n\n","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[656,-128],"id":"fecb60c4-060b-4215-be2a-a540bf4db3ec","name":"Enviar texto","credentials":{"evolutionApi":{"id":"z5m5bQunXbjwn9Z1","name":"Develop"}}},{"parameters":{"jsCode":"{{ $json.body.$input.first().json['Host de deram erro'][0]replace(/\\\\n/g, '\\n\\n') }}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[320,-144],"id":"ac16a725-ff35-4c1c-a3f6-cc6dccb8cac3","name":"coloca quebra de linhas"},{"parameters":{"resource":"messages-api","instanceName":"empresa","remoteJid":"5521976926381","messageText":"=📊 BACKUP MIKROTIK - RESUMO\n✅ {{ $('Separa os dados').item.json.sucesso }} backups OK ({{ Math.round( ($('Separa os dados').item.json.sucesso / $('Separa os dados').item.json['total de host']) * 100 ) }}%)\n❌ {{ $('Separa os dados').item.json.erros }} erros ({{ Math.round( ($('Separa os dados').item.json.erros / $('Separa os dados').item.json['total de host']) * 100 ) }}%)\n📈 Total: {{ $('Separa os dados').item.json['total de host'] }} hosts processados\n\n🔴 ERROS DETALHADOS:\n\n\n{{ $json[\"Host de deram erro\"].toString().split('\\\\n').join('\\n\\n\\n') }}","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[352,80],"id":"c9e0ba18-a74a-4769-b34d-447e2bf7d620","name":"Enviar texto1","credentials":{"evolutionApi":{"id":"z5m5bQunXbjwn9Z1","name":"Develop"}}}],"connections":{"Webhook":{"main":[[{"node":"Separa os dados","type":"main","index":0}]]},"Separa os dados":{"main":[[{"node":"Enviar texto1","type":"main","index":0}]]},"coloca quebra de linhas":{"main":[[]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Webhook":[{"json":{"headers":{"host":"webhook.redeslinkin.com.br","user-agent":"python-requests/2.32.5","content-length":"1159","accept":"*/*","accept-encoding":"gzip, deflate","content-type":"application/json","x-forwarded-for":"177.10.192.250","x-forwarded-host":"webhook.redeslinkin.com.br","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"b346c28d5598","x-real-ip":"177.10.192.250"},"params":{},"query":{},"body":{"titulo":"Relatório de Backup MikroTik","data_hora":"2025-12-31 22:44:46","total_hosts":67,"sucessos":54,"erros":13,"tempo_total":"346.13s","lista_hosts_com_erro":"AF-MIKROTIK-RB-FIREWALL-EVOT -> Falha Conexão (timed out)\nMKT-DQX-CEN-RTB-GW-CINE-RIVER -> Erro ([Errno 9] Bad file descriptor)\nAF-RB-SWITCH-NOVA-BRASILIA -> Erro ([Errno 9] Bad file descriptor)\nRB-SWITCH-POSTO-BR -> Falha Conexão (timed out)\nAF-CORP-CIDADE-MARAVILHOSA-INDUSTRIA-COMERCIO-DE-ROUPAS-GRUPO-SOMA -> Falha Conexão (timed out)\nAF-RBRT-SRV-XE-SERVIDORES-XEREM-NOVA -> Falha Conexão ()\nMKT-PFT-CEN-RTB-GW-PREFEITURA-PAULO-FRONTIN -> Falha Conexão (timed out)\nAF-MIKROTIK-RB-SWITCH-PROCON-MAGE -> Falha Conexão ([Errno 113] No route to host)\nreservado-MKT-DQX-CEN-RTB-GW-ROSSI -> Falha Conexão ([Errno 113] No route to host)\nAF-CORP-RTR-CE-GAIA-SERVICE-SJM -> Erro ([Errno 9] Bad file descriptor)\nAF-SWITCH-RB-SOGRO-VINICIUS-PRI -> Falha Conexão ([Errno 111] Connection refused)\nAF-CORP-UPH-XEREM-LINK-XEREM -> Erro ([Errno 9] Bad file descriptor)\nMKT-DQX-XRM-RTB-GW-ALFANET-1036 -> Falha Conexão (timed out)"},"webhookUrl":"https://webhook.redeslinkin.com.br/webhook/mkt","executionMode":"production"}}]},"versionId":"e21275df-8d26-4fd3-b535-1b58a24eff44","triggerCount":1,"shared":[{"createdAt":"2025-12-30T23:37:47.519Z","updatedAt":"2025-12-30T23:37:47.519Z","role":"workflow:owner","workflowId":"LgemrQh15TZ8rBDy","projectId":"9hAKJPuMlcuGxWxS"}],"tags":[]}