titulos-mkauth-DIyETNeSEpPJfQAY.json
{"updatedAt":"2025-12-26T17:34:18.367Z","createdAt":"2025-09-11T13:38:53.150Z","id":"DIyETNeSEpPJfQAY","name":"Titulos mkauth","active":false,"isArchived":false,"nodes":[{"parameters":{"chatId":"372958712","text":"=Olá, *{{ $json.nome }}*! 👋\n\nSua fatura mensal já está disponível.\n\n*Título:* `{{ $json.titulo }}`\n*Valor:* R$ {{ $json.valor }}\n*Vencimento:* {{ DateTime.fromISO($json.datavenc.replace(' ', 'T')).toFormat('dd/MM/yyyy') }}\n\n*Linha Digitável (Copia e Cola):*\n`{{ $json.linhadig }}`\n\n*Pix (Copia e Cola)* \n`{{ $json.pix }}`","additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1232,368],"id":"4f20da9e-83ea-4a3c-b6e1-ac25d492af5f","name":"Send a text message","webhookId":"f2621298-3398-4bad-a2ba-0ba499b7b73a","credentials":{"telegramApi":{"id":"DIKHR2A0QcTIdlIm","name":"n8n"}}},{"parameters":{"url":"https://jaxnet.com.br/api/titulo/aberto/07866628670","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $json.data }}"}]},"options":{"redirect":{"redirect":{}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[608,-32],"id":"b842e549-2413-43ea-a17b-f3f51ceda3c6","name":"Coleta titulo vencido"},{"parameters":{"url":"https://jaxnet.com.br/api","authentication":"genericCredentialType","genericAuthType":"httpBasicAuth","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[416,-32],"id":"21b1e005-0007-4ab8-ae31-e2d1ee980547","name":"token JWT","credentials":{"httpBasicAuth":{"id":"2hIrq6Ey5YBNQXdz","name":"jaxnet"}}},{"parameters":{"mode":"raw","jsonOutput":"={{ $json.data }}","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[784,-32],"id":"9ad452db-db04-44e7-b5c4-dc7568a739c1","name":"Recebe o titulo que vem do mkauth"},{"parameters":{"fieldToSplitOut":"titulos","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[976,-32],"id":"20c07592-f4e4-4edb-957a-cb0470bc4228","name":"Separa cada titulo"},{"parameters":{"updates":["message"],"additionalFields":{}},"type":"n8n-nodes-base.telegramTrigger","typeVersion":1.2,"position":[-1440,-32],"id":"65e6bd07-ca55-4700-94c7-9e9839bab38e","name":"Telegram Trigger","webhookId":"385b7de3-a89e-4404-92a1-0b24d0b0a343","alwaysOutputData":false,"credentials":{"telegramApi":{"id":"DIKHR2A0QcTIdlIm","name":"n8n"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.mensagem_recebida }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true},"id":"10ed711b-4de3-40e5-acf9-359a2511280f"}],"combinator":"and"},"renameOutput":true,"outputKey":"Texto"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"ca868b21-e6c4-47ed-bcb1-95510603fda9","leftValue":"={{ $json.file_id }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"Audio"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-1104,-32],"id":"3a79a757-996e-400e-9a8b-228f4e64aa37","name":"Switch"},{"parameters":{"assignments":{"assignments":[{"id":"26e09af5-6afe-4124-bda6-e5d021332c19","name":"id_contato","value":"={{ $json.message.from.id }}","type":"string"},{"id":"ec035a7f-cff9-4214-af36-00d0c93fc7ec","name":"mensagem_recebida","value":"={{ $json.message.text }}","type":"string"},{"id":"59470ef8-61c9-4f5f-8a7d-62f5d18d9ccc","name":"nome","value":"={{ $json.message.from.first_name }} {{ $json.message.from.last_name }} ","type":"string"},{"id":"10550604-12d2-4d3c-9a0e-4c17e2bab698","name":"username","value":"={{ $json.message.from.username }}","type":"string"},{"id":"ccdc5b0b-ecee-4633-be5a-8dfacc9646d0","name":"is_bot","value":"={{ $json.message.from.is_bot }}","type":"string"},{"id":"96cfb2f6-87b1-4355-bb40-85dc5deb3026","name":"tipo_mensagem","value":"={{ $json.message.chat.type }}","type":"string"},{"id":"d74902c2-a8d5-4808-87a7-0f802696e8fa","name":"duracao_audio","value":"={{ $json.message.voice.duration }}","type":"string"},{"id":"7c552d5d-4a41-4853-ae3b-a110827310b3","name":"tipo_media","value":"={{ $json.message.voice.mime_type }}","type":"string"},{"id":"07cad5d1-87d6-4361-a1a8-c5b0f9a89bb0","name":"file_id","value":"={{ $json.message.voice.file_id }}","type":"string"},{"id":"6622fb28-6a80-4381-a70c-93b2a0d7b673","name":"tamanho_arquivo","value":"={{ $json.message.voice.file_size }}","type":"string"},{"id":"556eb6b4-fc60-4519-a654-50163b5eed6f","name":"texto","value":"={{ $json.chatInput }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1248,-32],"id":"43f15cea-958c-4966-bf5a-82a416320efd","name":"Separa dados"},{"parameters":{"resource":"file","fileId":"={{ $json.file_id }}","additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-896,64],"id":"bcd2ccaf-a588-468f-9429-85c428185d47","name":"Get a file","webhookId":"997800b2-606e-474e-94fa-25acb146fd31","credentials":{"telegramApi":{"id":"DIKHR2A0QcTIdlIm","name":"n8n"}}},{"parameters":{"assignments":{"assignments":[{"id":"4287822e-5cc4-44bd-8a93-e42726cd2571","name":"message","value":"={{ $json.mensagem_recebida }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-528,-112],"id":"b16e6cfb-4a84-4994-8f77-337ecf90bb5e","name":"Set Texto"},{"parameters":{"assignments":{"assignments":[{"id":"ede7de7f-ef39-4576-83d5-b1fdee5850c8","name":"message","value":"={{ $json.candidates[0].content.parts[0].text }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-512,80],"id":"4d6d6f37-25d0-47bc-a1cf-c531a13d9a8c","name":"Set Audio"},{"parameters":{"resource":"audio","modelId":{"__rl":true,"value":"models/gemini-2.5-flash","mode":"list","cachedResultName":"models/gemini-2.5-flash"},"inputType":"binary","simplify":false,"options":{}},"type":"@n8n/n8n-nodes-langchain.googleGemini","typeVersion":1,"position":[-704,96],"id":"bced8e9f-a6c3-4b2a-abed-b5acbf2df949","name":"Transcribe a recording","credentials":{"googlePalmApi":{"id":"O63hwIpz5uNbFv3E","name":"Google Gemini(PaLM) Api linkincharles6"}}},{"parameters":{"promptType":"define","text":"={{ $json.chatInput }}","options":{"systemMessage":"=<instruções>\n\n\"Prezado(a) cliente, para iniciarmos seu atendimento financeiro e garantirmos a segurança de suas informações, é necessário validar sua identidade. Por favor, insira os 11 dígitos do seu CPF, sem qualquer pontuação (pontos ou traços), para que eu possa realizar a consulta em nosso sistema.\""}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.8,"position":[-16,-16],"id":"c9d5e1f0-4c13-4efe-bf95-c597d0554d14","name":"AI Agent"},{"parameters":{"fieldToSplitOut":"message","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[-304,-32],"id":"b38d23a5-51ee-4339-91e5-9965879f479f","name":"Split Out"},{"parameters":{"modelName":"models/gemini-2.5-pro","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[-160,192],"id":"dee5d713-8771-4e6a-a724-a2e1721e827b","name":"Google Gemini Chat Model","credentials":{"googlePalmApi":{"id":"O63hwIpz5uNbFv3E","name":"Google Gemini(PaLM) Api linkincharles6"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('Telegram Trigger').item.json.message.from.id }}"},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[-16,192],"id":"d5c9b1c4-d1a3-4c49-9dad-4a8087487644","name":"Simple Memory"},{"parameters":{"toolDescription":"esse vai ser o primeiro tool que vai consulta independemente de qualquer outro, pois aqui vai gerar o token de acesso a api","url":"https://sistema.redeslinkin.com.br/api","authentication":"genericCredentialType","genericAuthType":"httpBasicAuth","options":{}},"type":"n8n-nodes-base.httpRequestTool","typeVersion":4.2,"position":[64,320],"id":"76a6da66-85f5-43db-8512-a86a90dd8d46","name":"tool_gera_token","credentials":{"httpBasicAuth":{"id":"lZmsjiTAZv8r83G6","name":"token JWT mkauth"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.3,"position":[-608,304],"id":"993b74fd-38b1-4426-bd70-212b06eed78e","name":"When chat message received","webhookId":"2d79a5eb-7378-485e-ace1-4d39bfeff8f3"}],"connections":{"Coleta titulo vencido":{"main":[[{"node":"Recebe o titulo que vem do mkauth","type":"main","index":0}]]},"token JWT":{"main":[[{"node":"Coleta titulo vencido","type":"main","index":0}]]},"Recebe o titulo que vem do mkauth":{"main":[[{"node":"Separa cada titulo","type":"main","index":0}]]},"Separa cada titulo":{"main":[[]]},"Telegram Trigger":{"main":[[{"node":"Separa dados","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Set Texto","type":"main","index":0}],[{"node":"Get a file","type":"main","index":0}]]},"Separa dados":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Get a file":{"main":[[{"node":"Transcribe a recording","type":"main","index":0}]]},"Transcribe a recording":{"main":[[{"node":"Set Audio","type":"main","index":0}]]},"Set Texto":{"main":[[{"node":"Split Out","type":"main","index":0}]]},"Set Audio":{"main":[[{"node":"Split Out","type":"main","index":0}]]},"Split Out":{"main":[[]]},"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Simple Memory":{"ai_memory":[[]]},"tool_gera_token":{"ai_tool":[[]]},"AI Agent":{"main":[[]]},"When chat message received":{"main":[[]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Telegram Trigger":[{"json":{"update_id":475695617,"message":{"message_id":540,"from":{"id":372958712,"is_bot":false,"first_name":"charles","last_name":"leandro","username":"linkincharles","language_code":"pt-br"},"chat":{"id":372958712,"first_name":"charles","last_name":"leandro","username":"linkincharles","type":"private"},"date":1758404254,"text":"OI"}}}]},"versionId":"8acec9d5-ad32-4943-90e0-0857c3911b1b","activeVersionId":null,"triggerCount":2,"shared":[{"updatedAt":"2025-09-11T13:38:53.150Z","createdAt":"2025-09-11T13:38:53.150Z","role":"workflow:owner","workflowId":"DIyETNeSEpPJfQAY","projectId":"9hAKJPuMlcuGxWxS"}],"activeVersion":null,"tags":[]}