zabbix-via-whatsapp-redeslinkin-OVKrja0ocyMUi3Ir.json
{"createdAt":"2023-11-09T17:07:50.615Z","updatedAt":"2024-12-03T22:41:04.579Z","id":"OVKrja0ocyMUi3Ir","name":"zabbix via whatsapp redeslinkin","active":true,"nodes":[{"parameters":{"values":{"string":[{"name":"mensagemOriginal","value":"={{ $json[\"body\"][\"titulo\"] }}{{ $json[\"body\"][\"message\"] }}"}]},"options":{}},"id":"aeaaa23b-2a69-4388-a191-e2ed58fbd0df","name":"SEPARA A MENSAGEM","type":"n8n-nodes-base.set","typeVersion":2,"position":[240,380]},{"parameters":{"jsCode":"const mensagemOriginal = items[0].json.mensagemOriginal; // Substitua 'nomeDaVariavel' pelo nome real da variável\nconst mensagemFormatada = mensagemOriginal.replace(/[\\r\\n]+/g, \"\\\\n\");\n\nreturn { mensagemFormatada: mensagemFormatada };\n"},"id":"814ab487-7e5c-4e15-ad18-47a12ddfe29e","name":"ADICIONA QUEBRA DE LINHA NA MENSAGEM","type":"n8n-nodes-base.code","typeVersion":2,"position":[420,380]},{"parameters":{"method":"POST","url":"={{ $('RabbitMQ Trigger').item.json[\"body\"][\"api\"] }}/message/sendText/{{ $('RabbitMQ Trigger').item.json[\"body\"][\"instance\"] }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $('RabbitMQ Trigger').item.json[\"body\"][\"apiKey\"] }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"number\": \"{{ $('RabbitMQ Trigger').item.json[\"body\"][\"phone\"] }}\",\n    \"options\": {\n        \"delay\": 8200,\n        \"presence\": \"composing\"\n    },\n    \"textMessage\": {\n        \"text\": \"{{ $json[\"mensagemFormatada\"] }}\"\n    }\n}","options":{}},"id":"9a23f1f5-8a9d-4356-9511-129ab530a730","name":"ENVIA A MENSAGEM VIA API","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[640,200]},{"parameters":{"queue":"zabbix","options":{"arguments":{"argument":[{"key":"x-queue-type","value":"quorum"}]},"acknowledge":"executionFinishesSuccessfully","jsonParseBody":true,"onlyContent":true,"parallelMessages":3}},"id":"91995821-ced6-4e09-a0f1-ebc4fcf40a8f","name":"RabbitMQ Trigger","type":"n8n-nodes-base.rabbitmqTrigger","typeVersion":1,"position":[-40,380],"credentials":{"rabbitmq":{"id":"pozOz4VWHfWW5LSS","name":"RabbitMQ account"}}},{"parameters":{"resource":"messages-api","instanceName":"RedesLinkin","remoteJid":"={{ $('RabbitMQ Trigger').item.json.body.phone }}","messageText":"={{ $('RabbitMQ Trigger').item.json.body.titulo }}{{ $('RabbitMQ Trigger').item.json.body.message }}"},"id":"b5067f03-23fc-452f-b427-22898455da05","name":"Evolution API","type":"n8n-nodes-evolution-api.httpBin","typeVersion":1,"position":[580,440],"credentials":{"httpbinApi":{"id":"3Bf34fWGikttH0JL","name":"Evolution account"}}}],"connections":{"SEPARA A MENSAGEM":{"main":[[{"node":"ADICIONA QUEBRA DE LINHA NA MENSAGEM","type":"main","index":0}]]},"RabbitMQ Trigger":{"main":[[{"node":"SEPARA A MENSAGEM","type":"main","index":0}]]},"ADICIONA QUEBRA DE LINHA NA MENSAGEM":{"main":[[{"node":"Evolution API","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"52763762-7d94-49bd-b119-853afd7c8c7f","triggerCount":1,"tags":[]}