zabbix-via-whatsapp-redeslinkin-OVKrja0ocyMUi3Ir.json
{"createdAt":"2023-11-09T17:07:50.615Z","updatedAt":"2025-10-03T00:25:12.263Z","id":"OVKrja0ocyMUi3Ir","name":"zabbix via whatsapp redeslinkin","active":true,"isArchived":false,"nodes":[{"parameters":{"values":{"string":[{"name":"mensagemOriginal","value":"={{ $json[\"body\"][\"titulo\"] }}{{ $json[\"body\"][\"message\"] }}"}]},"options":{}},"id":"aeaaa23b-2a69-4388-a191-e2ed58fbd0df","name":"SEPARA A MENSAGEM","type":"n8n-nodes-base.set","typeVersion":2,"position":[240,384]},{"parameters":{"jsCode":"const mensagemOriginal = items[0].json.mensagemOriginal; // Substitua 'nomeDaVariavel' pelo nome real da variável\nconst mensagemFormatada = mensagemOriginal.replace(/[\\r\\n]+/g, \"\\\\n\");\n\nreturn { mensagemFormatada: mensagemFormatada };\n"},"id":"814ab487-7e5c-4e15-ad18-47a12ddfe29e","name":"ADICIONA QUEBRA DE LINHA NA MENSAGEM","type":"n8n-nodes-base.code","typeVersion":2,"position":[432,384]},{"parameters":{"queue":"zabbix","options":{"arguments":{"argument":[{"key":"x-queue-type","value":"quorum"}]},"acknowledge":"executionFinishesSuccessfully","jsonParseBody":true,"onlyContent":true,"parallelMessages":3}},"id":"91995821-ced6-4e09-a0f1-ebc4fcf40a8f","name":"RabbitMQ Trigger","type":"n8n-nodes-base.rabbitmqTrigger","typeVersion":1,"position":[-48,384],"credentials":{"rabbitmq":{"id":"pozOz4VWHfWW5LSS","name":"RabbitMQ account"}}},{"parameters":{"resource":"messages-api","instanceName":"=RedesLinkin","remoteJid":"={{ $('SEPARA A MENSAGEM').item.json.body.phone }}","messageText":"={{ $('SEPARA A MENSAGEM').item.json.body.message }}","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[640,384],"id":"80a370db-f1cc-4963-acb8-f9121cc68634","name":"Evolution API1","credentials":{"evolutionApi":{"id":"z5m5bQunXbjwn9Z1","name":"Develop"}}},{"parameters":{"method":"POST","url":"={{ $('SEPARA A MENSAGEM').item.json.body.api }}/message/sendText/{{ $('SEPARA A MENSAGEM').item.json.body.instance }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $('SEPARA A MENSAGEM').item.json.body.apiKey }}"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"number","value":"={{ $('SEPARA A MENSAGEM').item.json.body.phone }}"},{"name":"text","value":"={{ $('SEPARA A MENSAGEM').item.json.body.message }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[752,128],"id":"3fb5735a-fa31-4e72-8311-dc2b17e4d7d1","name":"HTTP Request"}],"connections":{"SEPARA A MENSAGEM":{"main":[[{"node":"ADICIONA QUEBRA DE LINHA NA MENSAGEM","type":"main","index":0}]]},"RabbitMQ Trigger":{"main":[[{"node":"SEPARA A MENSAGEM","type":"main","index":0}]]},"ADICIONA QUEBRA DE LINHA NA MENSAGEM":{"main":[[{"node":"Evolution API1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"ee36785b-07e0-42a9-bf86-852906403a52","triggerCount":1,"shared":[{"createdAt":"2023-11-09T17:07:50.615Z","updatedAt":"2023-11-09T17:07:50.615Z","role":"workflow:owner","workflowId":"OVKrja0ocyMUi3Ir","projectId":"9hAKJPuMlcuGxWxS"}],"tags":[]}