zabbix-via-whatsapp-redeslinkin-OVKrja0ocyMUi3Ir.json
{"createdAt":"2023-11-09T17:07:50.615Z","updatedAt":"2025-12-01T10:33:38.780Z","id":"OVKrja0ocyMUi3Ir","name":"zabbix via whatsapp redeslinkin","active":true,"isArchived":false,"nodes":[{"parameters":{"values":{"string":[{"name":"mensagemOriginal","value":"={{ $json[\"body\"][\"titulo\"] }}{{ $json[\"body\"][\"message\"] }}"}]},"options":{}},"id":"aeaaa23b-2a69-4388-a191-e2ed58fbd0df","name":"SEPARA A MENSAGEM","type":"n8n-nodes-base.set","typeVersion":2,"position":[240,384]},{"parameters":{"jsCode":"const mensagemOriginal = items[0].json.mensagemOriginal; // Substitua 'nomeDaVariavel' pelo nome real da variável\nconst mensagemFormatada = mensagemOriginal.replace(/[\\r\\n]+/g, \"\\\\n\");\n\nreturn { mensagemFormatada: mensagemFormatada };\n"},"id":"814ab487-7e5c-4e15-ad18-47a12ddfe29e","name":"ADICIONA QUEBRA DE LINHA NA MENSAGEM","type":"n8n-nodes-base.code","typeVersion":2,"position":[432,384]},{"parameters":{"queue":"zabbix","options":{"arguments":{"argument":[{"key":"x-queue-type","value":"quorum"}]},"acknowledge":"executionFinishesSuccessfully","jsonParseBody":true,"onlyContent":true,"parallelMessages":3}},"id":"91995821-ced6-4e09-a0f1-ebc4fcf40a8f","name":"RabbitMQ Trigger","type":"n8n-nodes-base.rabbitmqTrigger","typeVersion":1,"position":[-48,384],"credentials":{"rabbitmq":{"id":"pozOz4VWHfWW5LSS","name":"RabbitMQ account"}}},{"parameters":{"resource":"messages-api","instanceName":"=RedesLinkin","remoteJid":"={{ $('SEPARA A MENSAGEM').item.json.body.phone }}","messageText":"={{ $('SEPARA A MENSAGEM').item.json.body.message }}","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[656,384],"id":"80a370db-f1cc-4963-acb8-f9121cc68634","name":"Evolution API1","credentials":{"evolutionApi":{"id":"z5m5bQunXbjwn9Z1","name":"Develop"}}},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[832,384],"id":"848542f2-ffa1-487b-be00-101784b73009","name":"No Operation, do nothing"},{"parameters":{"resource":"groups-api","operation":"fetch-groups","instanceName":"=RedesLinkin","searchMethod":"fetchAll"},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[0,160],"id":"93aaf70c-c453-4362-9613-c2f484e3fe83","name":"Evolution API","credentials":{"evolutionApi":{"id":"z5m5bQunXbjwn9Z1","name":"Develop"}}}],"connections":{"SEPARA A MENSAGEM":{"main":[[{"node":"ADICIONA QUEBRA DE LINHA NA MENSAGEM","type":"main","index":0}]]},"RabbitMQ Trigger":{"main":[[{"node":"SEPARA A MENSAGEM","type":"main","index":0}]]},"ADICIONA QUEBRA DE LINHA NA MENSAGEM":{"main":[[{"node":"Evolution API1","type":"main","index":0}]]},"Evolution API1":{"main":[[{"node":"No Operation, do nothing","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"eee1f959-d674-47e0-848d-d371fd1c6ec4","triggerCount":1,"shared":[{"createdAt":"2023-11-09T17:07:50.615Z","updatedAt":"2023-11-09T17:07:50.615Z","role":"workflow:owner","workflowId":"OVKrja0ocyMUi3Ir","projectId":"9hAKJPuMlcuGxWxS"}],"tags":[]}